# Creating Custom Groupings

We wanted the ability to compare school districts based on similar school districts as well as by statewide.  This notebook creates the groupings.  The output files for these groupings were used in the Tableau visualization.

Start with the standard imports we have used for every notebook in this class.

In [1]:
%matplotlib inline
import numpy as np
import scipy as sp
import matplotlib as mpl
import matplotlib.cm as cm
import matplotlib.pyplot as plt
import pandas as pd
pd.set_option('display.width', 500)
pd.set_option('display.max_columns', 100)
pd.set_option('display.notebook_repr_html', True)
import seaborn as sns
sns.set_style("whitegrid")
sns.set_context("poster")

We need to use the cleaned file instead of the filtered file because we need to get some of the columns that we dropped from the filtered file.

In [2]:
districts = pd.read_csv("data/finaldata/cleaned.csv")

Apply the filtering logic that we used in the main notebook.

In [3]:
import math
print 'Total number of unique school districts: ' + str(len(np.unique(districts['Agency ID - NCES Assigned [District] Latest available year'])))
districts = districts[districts['Highest Grade Offered [District] 2009-10']=='12th Grade']
print 'Total number of school districts that have high schools: ' + str(len(districts))
districts = districts[districts['SURVYEAR']!='â€“']
print 'Total number of school districts that have a row on raw graduation data: ' + str(len(districts))
districts = districts[districts['AFGR']>=0]
print 'Total number of school districts with valid graduation data: ' + str(len(districts))

Total number of unique school districts: 19023
Total number of school districts that have high schools: 12955
Total number of school districts that have a row on raw graduation data: 12955
Total number of school districts with valid graduation data: 10785

In [4]:
districts=districts.replace([np.inf, -np.inf], np.nan)

In [5]:
districts.drop(['Unnamed: 0'], axis=1, inplace=True)
districts.head()

,Agency Name,State Name [District] Latest available year,State Name [District] 2009-10,State Abbr [District] Latest available year,Agency Name [District] 2009-10,Agency ID - NCES Assigned [District] Latest available year,County Name [District] 2009-10,County Number [District] 2009-10,Race/Ethnicity Category [District] 2009-10,ANSI/FIPS State Code [District] Latest available year,Total Number Operational Schools [Public School] 2009-10,Total Number Operational Charter Schools [Public School] 2009-10,Total Number of Public Schools [Public School] 2009-10,Years District Reported Data [District] Latest available year,Years District Did Not Report Data [District] Latest available year,Location Address [District] 2013-14,Location City [District] 2013-14,Location State Abbr [District] 2013-14,Location ZIP [District] 2013-14,Location ZIP4 [District] 2013-14,Mailing Address [District] 2013-14,Mailing City [District] 2013-14,Mailing State Abbr [District] 2013-14,Mailing ZIP [District] 2013-14,Mailing ZIP4 [District] 2013-14,Phone Number [District] 2013-14,Agency Name_DEL,State Name [District] Latest available year_DEL,Agency Type [District] 2009-10,School District Level Code (SCHLEV) [District Finance] 2009-10,Urban-centric Locale [District] 2009-10,Boundary Change Indicator Flag [District] 2009-10,CBSA Name [District] 2009-10,CBSA ID [District] 2009-10,CSA Name [District] 2009-10,CSA ID [District] 2009-10,Latitude [District] 2009-10,Longitude [District] 2009-10,State Agency ID [District] 2009-10,Supervisory Union (ID) Number [District] 2009-10,Agency Charter Status [District] 2009-10,Metro Micro Area Code [District] 2009-10,Congressional Code [District] 2009-10,Census ID (CENSUSID) [District Finance] 2009-10,Lowest Grade Offered [District] 2009-10,Highest Grade Offered [District] 2009-10,Total Students (UG PK-12) [District] 2009-10,PK thru 12th Students [District] 2009-10,Ungraded Students [District] 2009-10,Total Students [Public School] 2009-10,...,r_st_SSSS,r_st_OSSS,r_lrev_pt,r_lrev_gst,r_lrev_put,r_lrev_it,r_lrev_aot,r_lrev_pgc,r_lrev_cc,r_lrev_oss,r_lrev_tui,r_lrev_trans,r_lrev_slr,r_lrev_ts,r_lrev_sar,r_lrev_osalserv,r_lrev_sfns,r_lrev_ie,r_lrev_molr,r_lrev_sp,r_lrev_rr,r_lrev_sale,r_lrev_ff,r_lrev_pc,r_srev_gfa,r_srev_sep,r_srev_trans,r_srev_sip,r_srev_cbsp,r_srev_vep,r_srev_codsp,r_srev_bep,r_srev_gt,r_srev_slp,r_srev_aor,r_srev_splea,r_srev_osp,r_srev_ns,r_frev_title1,r_frev_dis,r_frev_cna,r_frev_ems,r_frev_dfs,r_frev_voc,r_frev_ao,r_frev_ns,r_frev_ia,r_frev_be,r_frev_na,r_frev_aofed
1,21ST CENTURY CHARTER SCH OF GARY,Indiana,Indiana,IN,21ST CENTURY CHARTER SCH OF GARY,1800046,MARION COUNTY,18097,Reported 5 categories,18,1,1,1,2004-2013,1986-2003,556 WASHINGTON ST,GARY,IN,46402,NaN,333 N PENNSYLVANIA SUITE 1000,INDIANAPOLIS,IN,46202,NaN,3175361027,21ST CENTURY CHARTER SCH OF GARY,Indiana,7-Charter school agency,03-Elementary/secondary school system,13-City: Small,1-No change since last report,Indianapolis IN,26900,Indianapolis-Anderson-Columbus IN,294,39.771949,-86.155184,9545,0,1-All associated schools are charter schools,1-Metropolitan Area,1807,NaN,Kindergarten,12th Grade,360,360,NaN,360,...,0.000000,0.011111,NaN,NaN,NaN,NaN,NaN,NaN,0.070312,0.390625,0.000000,0,0.062500,0.000000,0.000000,0.000000,0,0.000000,0.078125,0.007812,0.000000,0.390625,0,0.00000,0.964599,0.000000,0.000000,0.000000,0.003155,0.000000,0,0,0.003155,0.000000,0.029092,0.000000,0.000000,0,0.606477,0.000000,0.156035,0.000000,0.000000,0.000000,0.176644,0.060844,0,0,0,0.000000
2,21ST CENTURY CYBER CS,Pennsylvania,Pennsylvania,PA,21ST CENTURY CYBER CS,4200091,CHESTER COUNTY,42029,Reported 5 categories,42,1,1,1,2001-2013,1986-2000,805 SPRINGDALE DR,EXTON,PA,19341,3043,805 SPRINGDALE DR.,EXTON,PA,19341,3043,4848755400,21ST CENTURY CYBER CS,Pennsylvania,7-Charter school agency,03-Elementary/secondary school system,21-Suburb: Large,1-No change since last report,Philadelphia-Camden-Wilmington PA-NJ-DE-MD,37980,Philadelphia-Camden-Vineland PA-NJ-DE-MD,428,40.005030,-75.678564,124150002,0,1-All associated schools are charter schools,1-Metropolitan Area,4206,NaN,6th Grade,12th Grade,594,594,NaN,594,...,0.000000,0.001684,NaN,NaN,NaN,NaN,NaN,NaN,0.000000,0.983958,0.005893,0,0.000000,0.000000,0.000000,0.000000,0,0.000000,0.010149,0.000000,0.000000,0.000000,0,0.00000,0.000000,0.000000,0.000000,0.950617,0.000000,0.000000,0,0,0.000000,0.000000,0.049383,0.000000,0.000000,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,A+ ACADEMY,Texas,Texas,TX,A+ ACADEMY,4800203,DALLAS COUNTY,48113,Reported 5 categories,48,1,1,1,2000-2013,1986-1999,8225 BRUTON RD,DALLAS,TX,75217,NaN,8225 BRUTON RD,DALLAS,TX,75217,NaN,2143813226,A+ ACADEMY,Texas,7-Charter school agency,03-Elementary/secondary school system,11-City: Large,1-No change since last report,Dallas-Fort Worth-Arlington TX,19100,Dallas-Fort Worth TX,206,32.767535,-96.660866,057829,0,1-All associated schools are charter schools,1-Metropolitan Area,4830,NaN,Prekindergarten,12th Grade,1033,1033,NaN,1033,...,0.015363,0.017919,NaN,NaN,NaN,NaN,NaN,NaN,0.000000,0.000000,0.000000,0,0.800000,0.000000,0.000000,0.000000,0,0.142857,0.000000,0.000000,0.057143,0.000000,0,0.00000,0.952145,0.000000,0.000000,0.000000,0.000000,0.000000,0,0,0.000000,0.000211,0.006233,0.040038,0.001373,0,0.351058,0.056430,0.238741,0.033641,0.000000,0.000000,0.320130,0.000000,0,0,0,0.000000
13,A-C CENTRAL CUSD 262,Illinois,Illinois,IL,A-C CENTRAL CUSD 262,1700105,CASS COUNTY,17017,Reported 5 categories,17,3,0,3,1989-2013,1986-1988,501 EAST BUCHANAN ST,ASHLAND,IL,62612,7624,PO BOX 260,ASHLAND,IL,62612,260,2174768112,A-C CENTRAL CUSD 262,Illinois,1-Local school district,03-Elementary/secondary school system,42-Rural: Distant,1-No change since last report,NaN,NaN,NaN,NaN,39.892187,-90.016057,46-009-2620-26,0,3-All associated schools are noncharter,0-New England (NECTA) or not reported,1718,1.450092e+13,Kindergarten,12th Grade,436,436,NaN,432,...,0.000000,NaN,0.798637,0.000000,0.000000,0.000000,0,NaN,0.000000,0.001049,0.000000,0,0.060829,0.009963,0.014683,0.000000,0,0.005244,0.052438,0.027792,0.004195,0.000000,0,0.02517,0.642181,0.049572,0.068049,0.000000,0.004056,0.000901,0,0,0.000000,0.000901,0.015773,0.218567,0.000000,0,0.162651,0.306024,0.087952,0.038554,0.002410,0.000000,0.402410,0.000000,0,0,0,0.000000
14,A-H-S-T COMM SCHOOL DISTRICT,Iowa,Iowa,IA,A-H-S-T COMM SCHOOL DISTRICT,1904080,POTTAWATTAMIE COUNTY,19155,Reported 7 categories,19,2,0,2,1986-2013,NaN,768 SOUTH MAPLE ST,AVOCA,IA,51521,NaN,BOX 158,AVOCA,IA,51521,NaN,7123436364,A-H-S-T COMM SCHOOL DISTRICT,Iowa,1-Local school district,03-Elementary/secondary school system,43-Rural: Remote,1-No change since last report,Omaha-Council Bluffs NE-IA,36540,Omaha-Council Bluffs-Fremont NE-IA,420,41.471017,-95.341001,780441 000,0,3-All associated schools are noncharter,1-Metropolitan Area,1905,1.650780e+13,Prekindergarten,12th Grade,696,696,NaN,595,...,0.000000,0.022414,0.613364,0.101505,0.055343,0.061464,0,NaN,0.000000,0.043101,0.000000,0,0.034175,0.008926,0.004336,0.002805,0,0.004081,0.066820,0.000000,0.000000,0.004081,0,0.00000,0.859543,0.000000,0.000000,0.118656,0.000000,0.002144,0,0,0.000000,0.001072,0.018585,0.000000,0.000000,0,0.095816,0.107962,0.148448,0.043185,0.008097,0.005398,0.554656,0.000000,0,0,0,0.036437

Mean, min, max graduation rates by state for export to the visualization.

In [6]:
stateresults = districts.groupby('State Name [District] Latest available year')['AFGR'].aggregate([np.mean, np.min, np.max])
stateresults.to_csv("data/finaldata/stateresults.csv")
stateresults.head(100)

                                                  mean  amin   amax
State Name [District] Latest available year
Alabama                                      73.879389  32.8   99.7
Alaska                                       71.076471  23.3  100.0
Arizona                                      74.582390   2.0  100.0
Arkansas                                     78.018548  10.3  100.0
California                                   78.743750   7.5  100.0
Colorado                                     80.590286  12.5  100.0
Delaware                                     73.138095  45.8  100.0
District of Columbia                         65.814286  48.1   87.5
Florida                                      69.871233  26.1   97.5
Georgia                                      68.688827  13.8  100.0
Hawaii                                       75.400000  75.4   75.4
Idaho                                        82.307207  32.7  100.0
Illinois                                     85.419634   0.9  100.0
Indiana                                      80.259000  12.9  100.0
Iowa                                         90.833645  54.5  100.0
Kansas                                       86.439929  50.0  100.0
Kentucky                                     80.813018  50.5  100.0
Louisiana                                    67.958667  21.4  100.0
Maine                                        83.972941  60.0  100.0
Maryland                                     84.391667  61.2   94.3
Massachusetts                                82.731950  30.5  100.0
Michigan                                     79.972775  20.7  100.0
Minnesota                                    86.419008  27.6  100.0
Mississippi                                  63.114189  40.3   92.8
Missouri                                     85.352328  13.7  100.0
Montana                                      85.141176  38.5  100.0
Nebraska                                     89.775833  44.4  100.0
Nevada                                       66.256250  40.0   96.3
New Hampshire                                85.777941  60.4  100.0
New Jersey                                   90.510700  44.4  100.0
New Mexico                                   72.602247  27.9  100.0
New York                                     84.652346   5.7  100.0
North Carolina                               75.571970  43.8  100.0
North Dakota                                 88.311679  45.5  100.0
Ohio                                         86.206019  30.4  100.0
Oklahoma                                     83.520892  40.9  100.0
Oregon                                       79.913295  33.3  100.0
Pennsylvania                                 86.660342  27.3  100.0
Rhode Island                                 78.796970  50.0  100.0
South Carolina                               66.332143  48.3   97.0
South Dakota                                 86.419178  36.5  100.0
Tennessee                                    83.058824  62.7  100.0
Texas                                        82.116227  19.6  100.0
Utah                                         79.920455  41.4  100.0
Vermont                                      89.664151  53.8  100.0
Virginia                                     78.966165  52.1  100.0
Washington                                   80.136735  40.5  100.0
West Virginia                                80.057143  68.8  100.0
Wisconsin                                    92.749728  40.7  100.0
Wyoming                                      80.606522  19.2  100.0

In [7]:
districts['Urban-centric Locale [District] 2009-10'].value_counts()

42-Rural: Distant      2539
43-Rural: Remote       1939
21-Suburb: Large       1586
41-Rural: Fringe       1366
32-Town: Distant       1058
33-Town: Remote         801
13-City: Small          376
11-City: Large          292
31-Town: Fringe         275
22-Suburb: Mid-size     201
23-Suburb: Small        177
12-City: Mid-size       175
dtype: int64

Calculate the ratio of free and reduced lunch students to total students.

In [8]:
districts['r_lunch_free_reduced'] = districts['Total Free and Reduced Lunch Students [Public School] 2009-10']/districts['Total Students [Public School] 2009-10']

Determine the top quartile and bottom quartile boundaries for Large and Small school size.

In [9]:
topquartile = districts.groupby('Urban-centric Locale [District] 2009-10')[['Total Students [Public School] 2009-10']]
topq = topquartile.quantile(q=.75)
topq.head(20)

                                         Total Students [Public School] 2009-10
Urban-centric Locale [District] 2009-10
11-City: Large                                                         34462.25
12-City: Mid-size                                                      26544.50
13-City: Small                                                         11804.75
21-Suburb: Large                                                        7033.00
22-Suburb: Mid-size                                                     6290.00
23-Suburb: Small                                                        5624.00
31-Town: Fringe                                                         3404.00
32-Town: Distant                                                        3272.00
33-Town: Remote                                                         2838.50
41-Rural: Fringe                                                        3715.50
42-Rural: Distant                                                       1290.50
43-Rural: Remote                                                         616.00

In [10]:
bottomquartile = districts.groupby('Urban-centric Locale [District] 2009-10')[['Total Students [Public School] 2009-10']]
bottomq = bottomquartile.quantile(q=.25)
bottomq.head(20)

                                         Total Students [Public School] 2009-10
Urban-centric Locale [District] 2009-10
11-City: Large                                                           534.00
12-City: Mid-size                                                       2217.50
13-City: Small                                                          4306.50
21-Suburb: Large                                                        2192.50
22-Suburb: Mid-size                                                     1955.00
23-Suburb: Small                                                        1488.00
31-Town: Fringe                                                         1367.50
32-Town: Distant                                                        1298.50
33-Town: Remote                                                          994.25
41-Rural: Fringe                                                        1135.50
42-Rural: Distant                                                        441.25
43-Rural: Remote                                                         213.00

In [11]:
groups = []

for name, group in topquartile:
    groups.append(name)

districts['Student_Size'] = 'Medium'
for index in range(len(groups)):
    districts['Student_Size'] = np.where((districts['Urban-centric Locale [District] 2009-10']==groups[index]) & (districts['Total Students [Public School] 2009-10']>topq.iloc[index]['Total Students [Public School] 2009-10']), 'Large', districts['Student_Size'])
    districts['Student_Size'] = np.where((districts['Urban-centric Locale [District] 2009-10']==groups[index]) & (districts['Total Students [Public School] 2009-10']<=bottomq.iloc[index]['Total Students [Public School] 2009-10']), 'Small', districts['Student_Size'])

print districts['Student_Size'].value_counts()

Medium    5397
Small     2696
Large     2692
dtype: int64

Determine the top quartile and bottom quartile boundaries for free and reduced price lunch ratio.

In [12]:
topquartile = districts.groupby(['Urban-centric Locale [District] 2009-10', 'Student_Size'])[['r_lunch_free_reduced']]
topq = topquartile.quantile(q=.75)
topq.head(20)

                                                      r_lunch_free_reduced
Urban-centric Locale [District] 2009-10 Student_Size
11-City: Large                          Large                     0.760625
                                        Medium                    0.781110
                                        Small                     0.863215
12-City: Mid-size                       Large                     0.699413
                                        Medium                    0.686311
                                        Small                     0.786781
13-City: Small                          Large                     0.656074
                                        Medium                    0.662596
                                        Small                     0.749835
21-Suburb: Large                        Large                     0.520991
                                        Medium                    0.414711
                                        Small                     0.544477
22-Suburb: Mid-size                     Large                     0.551703
                                        Medium                    0.490063
                                        Small                     0.598169
23-Suburb: Small                        Large                     0.567036
                                        Medium                    0.473632
                                        Small                     0.585396
31-Town: Fringe                         Large                     0.487223
                                        Medium                    0.465843

In [13]:
bottomquartile = districts.groupby(['Urban-centric Locale [District] 2009-10', 'Student_Size'])[['r_lunch_free_reduced']]
bottomq = bottomquartile.quantile(q=.25)
bottomq.head(20)

                                                      r_lunch_free_reduced
Urban-centric Locale [District] 2009-10 Student_Size
11-City: Large                          Large                     0.516167
                                        Medium                    0.452896
                                        Small                     0.578877
12-City: Mid-size                       Large                     0.473946
                                        Medium                    0.376341
                                        Small                     0.449552
13-City: Small                          Large                     0.374962
                                        Medium                    0.354174
                                        Small                     0.385787
21-Suburb: Large                        Large                     0.182504
                                        Medium                    0.097351
                                        Small                     0.141586
22-Suburb: Mid-size                     Large                     0.263716
                                        Medium                    0.177061
                                        Small                     0.260663
23-Suburb: Small                        Large                     0.338845
                                        Medium                    0.249453
                                        Small                     0.298682
31-Town: Fringe                         Large                     0.241222
                                        Medium                    0.228426

In [14]:
groups = []

for name, group in topquartile:
    groups.append(name)

districts['Lunch_Status'] = 'Average'
for index in range(len(groups)):
    districts['Lunch_Status'] = np.where((districts['Student_Size']==groups[index][1]) & (districts['Urban-centric Locale [District] 2009-10']==groups[index][0]) & (districts['r_lunch_free_reduced']>topq.iloc[index]['r_lunch_free_reduced']), 'High', districts['Lunch_Status'])
    districts['Lunch_Status'] = np.where((districts['Student_Size']==groups[index][1]) & (districts['Urban-centric Locale [District] 2009-10']==groups[index][0]) & (districts['r_lunch_free_reduced']<=bottomq.iloc[index]['r_lunch_free_reduced']), 'Low', districts['Lunch_Status'])

print districts['Lunch_Status'].value_counts()

Average    5509
Low        2642
High       2634
dtype: int64

Check even distribution of grouped similar schools row counts.

In [15]:
districts.groupby(['Urban-centric Locale [District] 2009-10', 'Student_Size', 'Lunch_Status'])['AFGR'].count()

Urban-centric Locale [District] 2009-10  Student_Size  Lunch_Status
11-City: Large                           Large         Average          41
                                                       High             16
                                                       Low              16
                                         Medium        Average          86
                                                       High             30
                                                       Low              30
                                         Small         Average          37
                                                       High             18
                                                       Low              18
12-City: Mid-size                        Large         Average          22
                                                       High             11
                                                       Low              11
                                         Medium        Average          43
                                                       High             22
                                                       Low              22
                                         Small         Average          26
                                                       High              9
                                                       Low               9
13-City: Small                           Large         Average          47
                                                       High             23
                                                       Low              24
                                         Medium        Average          95
                                                       High             46
                                                       Low              47
                                         Small         Average          50
                                                       High             22
                                                       Low              22
21-Suburb: Large                         Large         Average         200
                                                       High             98
                                                       Low              98
                                                                      ...
33-Town: Remote                          Small         Average         104
                                                       High             48
                                                       Low              48
41-Rural: Fringe                         Large         Average         171
                                                       High             85
                                                       Low              85
                                         Medium        Average         350
                                                       High            167
                                                       Low             167
                                         Small         Average         179
                                                       High             81
                                                       Low              81
42-Rural: Distant                        Large         Average         322
                                                       High            156
                                                       Low             156
                                         Medium        Average         652
                                                       High            309
                                                       Low             310
                                         Small         Average         320
                                                       High            157
                                                       Low             157
43-Rural: Remote                         Large         Average         245
                                                       High            119
                                                       Low             119
                                         Medium        Average         495
                                                       High            238
                                                       Low             238
                                         Small         Average         247
                                                       High            119
                                                       Low             119
Name: AFGR, dtype: int64

In [16]:
similardistrictresults = districts.groupby(['Urban-centric Locale [District] 2009-10', 'Student_Size', 'Lunch_Status'])['AFGR'].aggregate([np.mean, np.min, np.max])
similardistrictresults.to_csv("data/finaldata/similardistrictresults.csv")
similardistrictresults.head(100)

                                                                        mean  amin   amax
Urban-centric Locale [District] 2009-10 Student_Size Lunch_Status
11-City: Large                          Large        Average       68.821951  45.3   89.7
                                                     High          62.668750  48.2   81.9
                                                     Low           79.237500  61.0   93.7
                                        Medium       Average       68.116279  31.2  100.0
                                                     High          62.916667  30.5  100.0
                                                     Low           80.126667  21.4  100.0
                                        Small        Average       68.740541  12.9  100.0
                                                     High          68.216667   3.4  100.0
                                                     Low           75.605556  53.3  100.0
12-City: Mid-size                       Large        Average       69.931818  52.5   81.1
                                                     High          59.036364  49.6   85.2
                                                     Low           84.872727  54.0  100.0
                                        Medium       Average       78.297674  49.8  100.0
                                                     High          61.931818  43.8   82.3
                                                     Low           83.250000   0.9   99.3
                                        Small        Average       75.342308  32.4  100.0
                                                     High          52.588889  21.4  100.0
                                                     Low           74.833333  41.4  100.0
13-City: Small                          Large        Average       76.768085  62.0   94.3
                                                     High          64.504348  42.2   94.7
                                                     Low           86.179167  68.1  100.0
                                        Medium       Average       78.528421  53.3  100.0
                                                     High          62.930435  42.7   86.0
                                                     Low           90.714894  78.0  100.0
                                        Small        Average       74.256000   7.5  100.0
                                                     High          65.472727  30.2  100.0
                                                     Low           82.359091  37.9  100.0
21-Suburb: Large                        Large        Average       82.886000   2.0  100.0
                                                     High          71.431633  29.6  100.0
                                                     Low           94.068367  72.6  100.0
...                                                                      ...   ...    ...
32-Town: Distant                        Small        High          76.779688  16.0  100.0
                                                     Low           90.853125  53.3  100.0
33-Town: Remote                         Large        Average       76.486139  43.8  100.0
                                                     High          69.595918  44.6   88.7
                                                     Low           84.014000  49.5  100.0
                                        Medium       Average       81.783902  54.9  100.0
                                                     High          71.955102  44.1   98.4
                                                     Low           87.801020   5.1  100.0
                                        Small        Average       82.146154  14.8  100.0
                                                     High          73.681250  23.5  100.0
                                                     Low           88.864583   4.5  100.0
41-Rural: Fringe                        Large        Average       78.780117   5.8  100.0
                                                     High          72.410588  50.9   96.2
                                                     Low           90.928235  53.4  100.0
                                        Medium       Average       84.741143   6.0  100.0
                                                     High          74.473653  28.4  100.0
                                                     Low           91.302994  43.6  100.0
                                        Small        Average       84.595531  23.2  100.0
                                                     High          76.081481  13.7  100.0
                                                     Low           88.254321  33.3  100.0
42-Rural: Distant                       Large        Average       80.779814  52.8  100.0
                                                     High          70.751282  32.8  100.0
                                                     Low           87.375641  65.1  100.0
                                        Medium       Average       85.486810  28.4  100.0
                                                     High          79.825566  37.3  100.0
                                                     Low           90.581935  69.1  100.0
                                        Small        Average       84.822500  32.7  100.0
                                                     High          79.912102  10.3  100.0
                                                     Low           87.599363  13.1  100.0
43-Rural: Remote                        Large        Average       80.016735  33.3  100.0

[100 rows x 3 columns]

In [17]:
districts.to_csv("data/finaldata/tableaudistricts.csv", index=False)