In [3]:
%matplotlib inline
import numpy as np
import scipy as sp
import matplotlib as mpl
import matplotlib.cm as cm
import matplotlib.pyplot as plt
import pandas as pd
pd.set_option('display.width', 500)
pd.set_option('display.max_columns', 100)
pd.set_option('display.notebook_repr_html', True)
import seaborn as sns
sns.set_style("whitegrid")
sns.set_context("poster")

In [4]:
grad0607 = pd.read_csv("data/rawdata/districts/prevyears/dr06p1b.txt", dtype=np.str, delim_whitespace=True)
grad0708 = pd.read_csv("data/rawdata/districts/prevyears/dr07p1b.txt", dtype=np.str, delim_whitespace=True)
grad0809 = pd.read_csv("data/rawdata/districts/prevyears/dr08p1a.txt", dtype=np.str, delim_whitespace=True)

In [5]:
grad0607 = grad0607.replace('-1', '')
grad0607 = grad0607.replace('-2', '')
grad0607 = grad0607.replace('-3', '')
grad0607 = grad0607.replace('-4', '')
grad0607 = grad0607.replace('-9', '')
grad0607 = grad0607.replace('-1.0', '')
grad0607 = grad0607.replace('-2.0', '')
grad0607 = grad0607.replace('-3.0', '')
grad0607 = grad0607.replace('-4.0', '')
grad0607 = grad0607.replace('-9.0', '')

In [6]:
grad0607.head()

  SURVYEAR FIPST    LEAID TOTD912 EBS912 DRP912 TOTDPL AFGEB  AFGR TOTOHC
0  2006-07    01  0100002       0      0
1  2006-07    01  0100005      30    749    4.0    192   263  73.0     14
2  2006-07    01  0100006      46   1209    3.8    216   456  47.4     28
3  2006-07    01  0100007      45   2726    1.7    779   878  88.7     10
4  2006-07    01  0100008       8   1968    0.4    562   576  97.6     10

In [7]:
grad0708 = grad0708.replace('-1', '')
grad0708 = grad0708.replace('-2', '')
grad0708 = grad0708.replace('-3', '')
grad0708 = grad0708.replace('-4', '')
grad0708 = grad0708.replace('-9', '')
grad0708 = grad0708.replace('-1.0', '')
grad0708 = grad0708.replace('-2.0', '')
grad0708 = grad0708.replace('-3.0', '')
grad0708 = grad0708.replace('-4.0', '')
grad0708 = grad0708.replace('-9.0', '')

In [8]:
grad0708.head()

  survyear fipst    leaid totd912 ebs912 drp912 totdpl afgeb   afgr totohc
0  2007-08    01  0100002       0     47    0.0           14
1  2007-08    01  0100005      29    939    3.1    172   247   69.6      5
2  2007-08    01  0100006      41   1612    2.5    276   450   61.3     13
3  2007-08    01  0100007      38   3817    1.0    899   978   91.9      5
4  2007-08    01  0100008      27   2715    1.0    624   584  100.0      9

In [9]:
grad0809 = grad0809.replace('-1', '')
grad0809 = grad0809.replace('-2', '')
grad0809 = grad0809.replace('-3', '')
grad0809 = grad0809.replace('-4', '')
grad0809 = grad0809.replace('-9', '')
grad0809 = grad0809.replace('-1.0', '')
grad0809 = grad0809.replace('-2.0', '')
grad0809 = grad0809.replace('-3.0', '')
grad0809 = grad0809.replace('-4.0', '')
grad0809 = grad0809.replace('-9.0', '')

In [10]:
grad0809.head()

  SURVYEAR FIPST    LEAID TOTD912 EBS912 DRP912 TOTDPL AFGEB   AFGR TOTOHC
0  2008-09    01  0100002                                  4
1  2008-09    01  0100005      21    976    2.1    171   267   64.0     10
2  2008-09    01  0100006      21   1671    1.3    325   485   67.0     12
3  2008-09    01  0100007      30   3823    0.8    775   865   89.6     21
4  2008-09    01  0100008      19   2820    0.7    663   654  100.0      5

In [11]:
grad0809.dtypes

SURVYEAR    object
FIPST       object
LEAID       object
TOTD912     object
EBS912      object
DRP912      object
TOTDPL      object
AFGEB       object
AFGR        object
TOTOHC      object
dtype: object

In [12]:
filtered = pd.read_csv("data/finaldata/filtered.csv")

In [13]:
len(filtered)

10785

In [14]:
grad0607=grad0607.replace([np.inf, -np.inf], np.nan)
grad0708=grad0708.replace([np.inf, -np.inf], np.nan)
grad0809=grad0809.replace([np.inf, -np.inf], np.nan)

In [15]:
grad0607['AFGR'] = grad0607['AFGR'].replace('', np.nan)
grad0607['AFGR'] = grad0607['AFGR'].astype(float)
grad0607['LEAID'] = grad0607['LEAID'].astype(int)
grad0607 = grad0607.rename(columns={'LEAID': 'agency_id_nces'})
grad0607 = grad0607.rename(columns={'AFGR': 'gradrate0607'})
grad0607 = grad0607.drop(grad0607.columns[[0, 1, 3, 4, 5, 6, 7, 9]], 1)
grad0708['afgr'] = grad0708['afgr'].replace('', np.nan)
grad0708['afgr'] = grad0708['afgr'].astype(float)
grad0708['leaid'] = grad0708['leaid'].astype(int)
grad0708 = grad0708.rename(columns={'leaid': 'agency_id_nces'})
grad0708 = grad0708.rename(columns={'afgr': 'gradrate0708'})
grad0708 = grad0708.drop(grad0708.columns[[0, 1, 3, 4, 5, 6, 7, 9]], 1)
grad0809['AFGR'] = grad0809['AFGR'].replace('', np.nan)
grad0809['AFGR'] = grad0809['AFGR'].astype(float)
grad0809['LEAID'] = grad0809['LEAID'].astype(int)
grad0809 = grad0809.rename(columns={'LEAID': 'agency_id_nces'})
grad0809 = grad0809.rename(columns={'AFGR': 'gradrate0809'})
grad0809 = grad0809.drop(grad0809.columns[[0, 1, 3, 4, 5, 6, 7, 9]], 1)

In [16]:
grad0607.head()

   agency_id_nces  gradrate0607
0          100002           NaN
1          100005          73.0
2          100006          47.4
3          100007          88.7
4          100008          97.6

In [17]:
grad0708.head()

   agency_id_nces  gradrate0708
0          100002           NaN
1          100005          69.6
2          100006          61.3
3          100007          91.9
4          100008         100.0

In [18]:
grad0809.head()

   agency_id_nces  gradrate0809
0          100002           NaN
1          100005          64.0
2          100006          67.0
3          100007          89.6
4          100008         100.0

In [19]:
filtered.head()

,agency,state,state_abbr,agency_id_nces,county,county_number,num_schools,num_charter_schools,num_pub_schools,report_years,no_report_years,address,city,add_state,zipcode,latitude,longitude,agency_id_state,congressional_code,census_id,offered_g_lowest,num_students,pupil_teacher_ratio_dist,pupil_teacher_ratio_ps,totalrev_pp,tlocrev_pp,tsrev_pp,tfedrev_pp,tcurinst_pp,tcurssv_pp,tcuroth_pp,tcursalary_pp,tcurbenefits_pp,totalexp_pp,tcapout_pp,tnonelse_pp,tcurelsc_pp,instexp_pp,tcurelsc_percent,tcurinst_percent,tcuroth_percent,tcuresal_percent,tcurssvc_percent,tfedrev_percent,tlocrev_percent,tsrev_percent,fipst,totd912,ebs912,drp912,...,r_lrev_pt,r_lrev_gst,r_lrev_put,r_lrev_it,r_lrev_aot,r_lrev_pgc,r_lrev_cc,r_lrev_oss,r_lrev_tui,r_lrev_trans,r_lrev_slr,r_lrev_ts,r_lrev_sar,r_lrev_osalserv,r_lrev_sfns,r_lrev_ie,r_lrev_molr,r_lrev_sp,r_lrev_rr,r_lrev_sale,r_lrev_ff,r_lrev_pc,r_srev_gfa,r_srev_sep,r_srev_trans,r_srev_sip,r_srev_cbsp,r_srev_vep,r_srev_codsp,r_srev_bep,r_srev_gt,r_srev_slp,r_srev_aor,r_srev_splea,r_srev_osp,r_srev_ns,r_frev_title1,r_frev_dis,r_frev_cna,r_frev_ems,r_frev_dfs,r_frev_voc,r_frev_ao,r_frev_ns,r_frev_ia,r_frev_be,r_frev_na,r_frev_aofed,RESP_High_Graduation,RESP_Low_Graduation
0,21ST CENTURY CHARTER SCH OF GARY,Indiana,IN,1800046,MARION COUNTY,18097,1,1,1,2004-2013,1986-2003,556 WASHINGTON ST,GARY,IN,46402,39.771949,-86.155184,9545,1807,NaN,Kindergarten,360,15.65,17.14,11111,356,7925,2831,3986,4717,436,4133,1028,11197,1986,72,9139,3986,11.2,43.6,4.8,45.2,51.6,25.5,3.2,71.3,18,0,100,0.0,...,0.000000,0.000000,0.000000,0.000000,0,0,0.070312,0.390625,0.000000,0,0.062500,0.000000,0.000000,0.000000,0,0.000000,0.078125,0.007812,0.000000,0.390625,0,0.00000,0.964599,0.000000,0.000000,0.000000,0.003155,0.000000,0,0,0.003155,0.000000,0.029092,0.000000,0.000000,0,0.606477,0.000000,0.156035,0.000000,0.000000,0.000000,0.176644,0.060844,0,0,0,0.000000,0,1
1,21ST CENTURY CYBER CS,Pennsylvania,PA,4200091,CHESTER COUNTY,42029,1,1,1,2001-2013,1986-2000,805 SPRINGDALE DR,EXTON,PA,19341,40.005030,-75.678564,124150002,4206,NaN,6th Grade,594,28.49,28.49,10557,10285,273,0,5104,3003,0,4199,1456,8732,554,0,8108,5104,18.0,63.0,0.0,51.8,37.0,0.0,97.4,2.6,42,33,483,6.8,...,0.000000,0.000000,0.000000,0.000000,0,0,0.000000,0.983958,0.005893,0,0.000000,0.000000,0.000000,0.000000,0,0.000000,0.010149,0.000000,0.000000,0.000000,0,0.00000,0.000000,0.000000,0.000000,0.950617,0.000000,0.000000,0,0,0.000000,0.000000,0.049383,0.000000,0.000000,0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0,0,0,0.000000,1,0
2,A+ ACADEMY,Texas,TX,4800203,DALLAS COUNTY,48113,1,1,1,2000-2013,1986-1999,8225 BRUTON RD,DALLAS,TX,75217,32.767535,-96.660866,057829,4830,NaN,Prekindergarten,1033,16.61,16.61,11015,68,9164,1784,4890,3500,441,5788,477,8864,0,1,8832,4890,5.4,55.4,5.0,65.5,39.6,16.2,0.6,83.2,48,0,228,0.0,...,0.000000,0.000000,0.000000,0.000000,0,0,0.000000,0.000000,0.000000,0,0.800000,0.000000,0.000000,0.000000,0,0.142857,0.000000,0.000000,0.057143,0.000000,0,0.00000,0.952145,0.000000,0.000000,0.000000,0.000000,0.000000,0,0,0.000000,0.000211,0.006233,0.040038,0.001373,0,0.351058,0.056430,0.238741,0.033641,0.000000,0.000000,0.320130,0.000000,0,0,0,0.000000,0,1
3,A-C CENTRAL CUSD 262,Illinois,IL,1700105,CASS COUNTY,17017,3,0,3,1989-2013,1986-1988,501 EAST BUCHANAN ST,ASHLAND,IL,62612,39.892187,-90.016057,46-009-2620-26,1718,1.450092e+13,Kindergarten,432,11.86,12.08,11367,4374,5089,1904,4835,4633,498,5741,2112,13200,2204,0,9966,4835,21.2,48.5,5.0,57.6,46.5,16.7,38.5,44.8,17,0,130,0.0,...,0.798637,0.000000,0.000000,0.000000,0,0,0.000000,0.001049,0.000000,0,0.060829,0.009963,0.014683,0.000000,0,0.005244,0.052438,0.027792,0.004195,0.000000,0,0.02517,0.642181,0.049572,0.068049,0.000000,0.004056,0.000901,0,0,0.000000,0.000901,0.015773,0.218567,0.000000,0,0.162651,0.306024,0.087952,0.038554,0.002410,0.000000,0.402410,0.000000,0,0,0,0.000000,0,1
4,A-H-S-T COMM SCHOOL DISTRICT,Iowa,IA,1904080,POTTAWATTAMIE COUNTY,19155,2,0,2,1986-2013,NaN,768 SOUTH MAPLE ST,AVOCA,IA,51521,41.471017,-95.341001,780441 000,1905,1.650780e+13,Prekindergarten,595,15.64,13.37,10718,5634,4020,1065,4944,2103,336,4703,1438,11586,2769,0,7384,4944,19.5,67.0,4.6,63.7,28.5,9.9,52.6,37.5,19,0,168,0.0,...,0.613364,0.101505,0.055343,0.061464,0,0,0.000000,0.043101,0.000000,0,0.034175,0.008926,0.004336,0.002805,0,0.004081,0.066820,0.000000,0.000000,0.004081,0,0.00000,0.859543,0.000000,0.000000,0.118656,0.000000,0.002144,0,0,0.000000,0.001072,0.018585,0.000000,0.000000,0,0.095816,0.107962,0.148448,0.043185,0.008097,0.005398,0.554656,0.000000,0,0,0,0.036437,1,0

In [20]:
filtered = filtered.merge(grad0607, 'left', 'agency_id_nces', suffixes=('', '_DEL'))
filtered = filtered.merge(grad0708, 'left', 'agency_id_nces', suffixes=('', '_DEL'))
filtered = filtered.merge(grad0809, 'left', 'agency_id_nces', suffixes=('', '_DEL'))

In [21]:
filtered.head()

,agency,state,state_abbr,agency_id_nces,county,county_number,num_schools,num_charter_schools,num_pub_schools,report_years,no_report_years,address,city,add_state,zipcode,latitude,longitude,agency_id_state,congressional_code,census_id,offered_g_lowest,num_students,pupil_teacher_ratio_dist,pupil_teacher_ratio_ps,totalrev_pp,tlocrev_pp,tsrev_pp,tfedrev_pp,tcurinst_pp,tcurssv_pp,tcuroth_pp,tcursalary_pp,tcurbenefits_pp,totalexp_pp,tcapout_pp,tnonelse_pp,tcurelsc_pp,instexp_pp,tcurelsc_percent,tcurinst_percent,tcuroth_percent,tcuresal_percent,tcurssvc_percent,tfedrev_percent,tlocrev_percent,tsrev_percent,fipst,totd912,ebs912,drp912,...,r_lrev_it,r_lrev_aot,r_lrev_pgc,r_lrev_cc,r_lrev_oss,r_lrev_tui,r_lrev_trans,r_lrev_slr,r_lrev_ts,r_lrev_sar,r_lrev_osalserv,r_lrev_sfns,r_lrev_ie,r_lrev_molr,r_lrev_sp,r_lrev_rr,r_lrev_sale,r_lrev_ff,r_lrev_pc,r_srev_gfa,r_srev_sep,r_srev_trans,r_srev_sip,r_srev_cbsp,r_srev_vep,r_srev_codsp,r_srev_bep,r_srev_gt,r_srev_slp,r_srev_aor,r_srev_splea,r_srev_osp,r_srev_ns,r_frev_title1,r_frev_dis,r_frev_cna,r_frev_ems,r_frev_dfs,r_frev_voc,r_frev_ao,r_frev_ns,r_frev_ia,r_frev_be,r_frev_na,r_frev_aofed,RESP_High_Graduation,RESP_Low_Graduation,gradrate0607,gradrate0708,gradrate0809
0,21ST CENTURY CHARTER SCH OF GARY,Indiana,IN,1800046,MARION COUNTY,18097,1,1,1,2004-2013,1986-2003,556 WASHINGTON ST,GARY,IN,46402,39.771949,-86.155184,9545,1807,NaN,Kindergarten,360,15.65,17.14,11111,356,7925,2831,3986,4717,436,4133,1028,11197,1986,72,9139,3986,11.2,43.6,4.8,45.2,51.6,25.5,3.2,71.3,18,0,100,0.0,...,0.000000,0,0,0.070312,0.390625,0.000000,0,0.062500,0.000000,0.000000,0.000000,0,0.000000,0.078125,0.007812,0.000000,0.390625,0,0.00000,0.964599,0.000000,0.000000,0.000000,0.003155,0.000000,0,0,0.003155,0.000000,0.029092,0.000000,0.000000,0,0.606477,0.000000,0.156035,0.000000,0.000000,0.000000,0.176644,0.060844,0,0,0,0.000000,0,1,NaN,NaN,NaN
1,21ST CENTURY CYBER CS,Pennsylvania,PA,4200091,CHESTER COUNTY,42029,1,1,1,2001-2013,1986-2000,805 SPRINGDALE DR,EXTON,PA,19341,40.005030,-75.678564,124150002,4206,NaN,6th Grade,594,28.49,28.49,10557,10285,273,0,5104,3003,0,4199,1456,8732,554,0,8108,5104,18.0,63.0,0.0,51.8,37.0,0.0,97.4,2.6,42,33,483,6.8,...,0.000000,0,0,0.000000,0.983958,0.005893,0,0.000000,0.000000,0.000000,0.000000,0,0.000000,0.010149,0.000000,0.000000,0.000000,0,0.00000,0.000000,0.000000,0.000000,0.950617,0.000000,0.000000,0,0,0.000000,0.000000,0.049383,0.000000,0.000000,0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0,0,0,0.000000,1,0,100.0,100.0,100.0
2,A+ ACADEMY,Texas,TX,4800203,DALLAS COUNTY,48113,1,1,1,2000-2013,1986-1999,8225 BRUTON RD,DALLAS,TX,75217,32.767535,-96.660866,057829,4830,NaN,Prekindergarten,1033,16.61,16.61,11015,68,9164,1784,4890,3500,441,5788,477,8864,0,1,8832,4890,5.4,55.4,5.0,65.5,39.6,16.2,0.6,83.2,48,0,228,0.0,...,0.000000,0,0,0.000000,0.000000,0.000000,0,0.800000,0.000000,0.000000,0.000000,0,0.142857,0.000000,0.000000,0.057143,0.000000,0,0.00000,0.952145,0.000000,0.000000,0.000000,0.000000,0.000000,0,0,0.000000,0.000211,0.006233,0.040038,0.001373,0,0.351058,0.056430,0.238741,0.033641,0.000000,0.000000,0.320130,0.000000,0,0,0,0.000000,0,1,75.6,41.4,NaN
3,A-C CENTRAL CUSD 262,Illinois,IL,1700105,CASS COUNTY,17017,3,0,3,1989-2013,1986-1988,501 EAST BUCHANAN ST,ASHLAND,IL,62612,39.892187,-90.016057,46-009-2620-26,1718,1.450092e+13,Kindergarten,432,11.86,12.08,11367,4374,5089,1904,4835,4633,498,5741,2112,13200,2204,0,9966,4835,21.2,48.5,5.0,57.6,46.5,16.7,38.5,44.8,17,0,130,0.0,...,0.000000,0,0,0.000000,0.001049,0.000000,0,0.060829,0.009963,0.014683,0.000000,0,0.005244,0.052438,0.027792,0.004195,0.000000,0,0.02517,0.642181,0.049572,0.068049,0.000000,0.004056,0.000901,0,0,0.000000,0.000901,0.015773,0.218567,0.000000,0,0.162651,0.306024,0.087952,0.038554,0.002410,0.000000,0.402410,0.000000,0,0,0,0.000000,0,1,97.1,81.6,83.3
4,A-H-S-T COMM SCHOOL DISTRICT,Iowa,IA,1904080,POTTAWATTAMIE COUNTY,19155,2,0,2,1986-2013,NaN,768 SOUTH MAPLE ST,AVOCA,IA,51521,41.471017,-95.341001,780441 000,1905,1.650780e+13,Prekindergarten,595,15.64,13.37,10718,5634,4020,1065,4944,2103,336,4703,1438,11586,2769,0,7384,4944,19.5,67.0,4.6,63.7,28.5,9.9,52.6,37.5,19,0,168,0.0,...,0.061464,0,0,0.000000,0.043101,0.000000,0,0.034175,0.008926,0.004336,0.002805,0,0.004081,0.066820,0.000000,0.000000,0.004081,0,0.00000,0.859543,0.000000,0.000000,0.118656,0.000000,0.002144,0,0,0.000000,0.001072,0.018585,0.000000,0.000000,0,0.095816,0.107962,0.148448,0.043185,0.008097,0.005398,0.554656,0.000000,0,0,0,0.036437,1,0,75.0,72.0,69.4

In [22]:
print filtered['gradrate0607'].isnull().sum()
print filtered['gradrate0708'].isnull().sum()
print filtered['gradrate0809'].isnull().sum()

318
412
625

In [23]:
filtered.to_csv("data/finaldata/filtered_withprevyears.csv", index=False)

In [24]:
dftouse = filtered.copy(deep=True)

In [25]:
#Drop identification data
dftouse.drop('agency', axis=1, inplace=True)
dftouse.drop('state', axis=1, inplace=True)
dftouse.drop('state_abbr', axis=1, inplace=True)
dftouse.drop('agency_id_nces', axis=1, inplace=True)
dftouse.drop('county', axis=1, inplace=True)
dftouse.drop('county_number', axis=1, inplace=True)
dftouse.drop('report_years', axis=1, inplace=True)
dftouse.drop('no_report_years', axis=1, inplace=True)
dftouse.drop('address', axis=1, inplace=True)
dftouse.drop('city', axis=1, inplace=True)
dftouse.drop('add_state', axis=1, inplace=True)
dftouse.drop('zipcode', axis=1, inplace=True)
dftouse.drop('latitude', axis=1, inplace=True)
dftouse.drop('longitude', axis=1, inplace=True)
dftouse.drop('agency_id_state', axis=1, inplace=True)
dftouse.drop('congressional_code', axis=1, inplace=True)
dftouse.drop('census_id', axis=1, inplace=True)
dftouse.drop('offered_g_lowest', axis=1, inplace=True)

#Drop indicator columns that are all 1 or 0 - found through KDE
dftouse.drop('i_agency_type_sup_union_admin', axis=1, inplace=True)
dftouse.drop('i_agency_type_state_operated_institution', axis=1, inplace=True)
dftouse.drop('i_agency_type_other_education_agency', axis=1, inplace=True)
dftouse.drop('i_fin_sdlc_elem', axis=1, inplace=True)
dftouse.drop('i_fin_sdlc_nonop', axis=1, inplace=True)
dftouse.drop('i_fin_sdlc_ed_serv', axis=1, inplace=True)
dftouse.drop('i_lgo_10', axis=1, inplace=True)
dftouse.drop('i_lgo_11', axis=1, inplace=True)
dftouse.drop('i_lgo_12', axis=1, inplace=True)
dftouse.drop('i_lgo_1', axis=1, inplace=True)
dftouse.drop('i_lgo_2', axis=1, inplace=True)
dftouse.drop('i_lgo_3', axis=1, inplace=True)
dftouse.drop('i_lgo_4', axis=1, inplace=True)
dftouse.drop('i_lgo_5', axis=1, inplace=True)
dftouse.drop('i_lgo_6', axis=1, inplace=True)
dftouse.drop('i_lgo_7', axis=1, inplace=True)
dftouse.drop('i_lgo_8', axis=1, inplace=True)
dftouse.drop('i_lgo_9', axis=1, inplace=True)
dftouse.drop('i_lgo_U', axis=1, inplace=True)

#Drop columns related to graduation rate
dftouse.drop('fipst', axis=1, inplace=True)
dftouse.drop('totd912', axis=1, inplace=True)
dftouse.drop('ebs912', axis=1, inplace=True)
dftouse.drop('drp912', axis=1, inplace=True)
dftouse.drop('totdpl', axis=1, inplace=True)
dftouse.drop('afgeb', axis=1, inplace=True)
dftouse.drop('totohc', axis=1, inplace=True)

In [26]:
#Drop gender/race information for non 12th grade for now
dftouse.drop(['r_stud_reg_PK_AIAN_M','r_stud_reg_PK_AIAN_F','r_stud_reg_PK_AAP_M','r_stud_reg_PK_AAP_F','r_stud_reg_PK_H_M','r_stud_reg_PK_H_F','r_stud_reg_PK_B_M','r_stud_reg_PK_B_F','r_stud_reg_PK_W_M','r_stud_reg_PK_W_F','r_stud_reg_PK_HNPI_M','r_stud_reg_PK_HNPI_F','r_stud_reg_PK_Two_M','r_stud_reg_PK_Two_F','r_stud_reg_K_AIAN_M','r_stud_reg_K_AIAN_F','r_stud_reg_K_AAP_M','r_stud_reg_K_AAP_F','r_stud_reg_K_H_M','r_stud_reg_K_H_F','r_stud_reg_K_B_M','r_stud_reg_K_B_F','r_stud_reg_K_W_M','r_stud_reg_K_W_F','r_stud_reg_K_HNPI_M','r_stud_reg_K_HNPI_F','r_stud_reg_K_Two_M','r_stud_reg_K_Two_F','r_stud_reg_1_AIAN_M','r_stud_reg_1_AIAN_F','r_stud_reg_1_AAP_M','r_stud_reg_1_AAP_F','r_stud_reg_1_H_M','r_stud_reg_1_H_F','r_stud_reg_1_B_M','r_stud_reg_1_B_F','r_stud_reg_1_W_M','r_stud_reg_1_W_F','r_stud_reg_1_HNPI_M','r_stud_reg_1_HNPI_F','r_stud_reg_1_Two_M','r_stud_reg_1_Two_F','r_stud_reg_2_AIAN_M','r_stud_reg_2_AIAN_F','r_stud_reg_2_AAP_M','r_stud_reg_2_AAP_F','r_stud_reg_2_H_M','r_stud_reg_2_H_F','r_stud_reg_2_B_M','r_stud_reg_2_B_F','r_stud_reg_2_W_M','r_stud_reg_2_W_F','r_stud_reg_2_HNPI_M','r_stud_reg_2_HNPI_F','r_stud_reg_2_Two_M','r_stud_reg_2_Two_F','r_stud_reg_3_AIAN_M','r_stud_reg_3_AIAN_F','r_stud_reg_3_AAP_M','r_stud_reg_3_AAP_F','r_stud_reg_3_H_M','r_stud_reg_3_H_F','r_stud_reg_3_B_M','r_stud_reg_3_B_F','r_stud_reg_3_W_M','r_stud_reg_3_W_F','r_stud_reg_3_HNPI_M','r_stud_reg_3_HNPI_F','r_stud_reg_3_Two_M','r_stud_reg_3_Two_F','r_stud_reg_4_AIAN_M','r_stud_reg_4_AIAN_F','r_stud_reg_4_AAP_M','r_stud_reg_4_AAP_F','r_stud_reg_4_H_M','r_stud_reg_4_H_F','r_stud_reg_4_B_M','r_stud_reg_4_B_F','r_stud_reg_4_W_M','r_stud_reg_4_W_F','r_stud_reg_4_HNPI_M','r_stud_reg_4_HNPI_F','r_stud_reg_4_Two_M','r_stud_reg_4_Two_F','r_stud_reg_5_AIAN_M','r_stud_reg_5_AIAN_F','r_stud_reg_5_AAP_M','r_stud_reg_5_AAP_F','r_stud_reg_5_H_M','r_stud_reg_5_H_F','r_stud_reg_5_B_M','r_stud_reg_5_B_F','r_stud_reg_5_W_M','r_stud_reg_5_W_F','r_stud_reg_5_HNPI_M','r_stud_reg_5_HNPI_F','r_stud_reg_5_Two_M','r_stud_reg_5_Two_F','r_stud_reg_6_AIAN_M','r_stud_reg_6_AIAN_F','r_stud_reg_6_AAP_M','r_stud_reg_6_AAP_F','r_stud_reg_6_H_M','r_stud_reg_6_H_F','r_stud_reg_6_B_M','r_stud_reg_6_B_F','r_stud_reg_6_W_M','r_stud_reg_6_W_F','r_stud_reg_6_HNPI_M','r_stud_reg_6_HNPI_F','r_stud_reg_6_Two_M','r_stud_reg_6_Two_F','r_stud_reg_7_AIAN_M','r_stud_reg_7_AIAN_F','r_stud_reg_7_AAP_M','r_stud_reg_7_AAP_F','r_stud_reg_7_H_M','r_stud_reg_7_H_F','r_stud_reg_7_B_M','r_stud_reg_7_B_F','r_stud_reg_7_W_M','r_stud_reg_7_W_F','r_stud_reg_7_HNPI_M','r_stud_reg_7_HNPI_F','r_stud_reg_7_Two_M','r_stud_reg_7_Two_F','r_stud_reg_8_AIAN_M','r_stud_reg_8_AIAN_F','r_stud_reg_8_AAP_M','r_stud_reg_8_AAP_F','r_stud_reg_8_H_M','r_stud_reg_8_H_F','r_stud_reg_8_B_M','r_stud_reg_8_B_F','r_stud_reg_8_W_M','r_stud_reg_8_W_F','r_stud_reg_8_HNPI_M','r_stud_reg_8_HNPI_F','r_stud_reg_8_Two_M','r_stud_reg_8_Two_F','r_stud_reg_9_AIAN_M','r_stud_reg_9_AIAN_F','r_stud_reg_9_AAP_M','r_stud_reg_9_AAP_F','r_stud_reg_9_H_M','r_stud_reg_9_H_F','r_stud_reg_9_B_M','r_stud_reg_9_B_F','r_stud_reg_9_W_M','r_stud_reg_9_W_F','r_stud_reg_9_HNPI_M','r_stud_reg_9_HNPI_F','r_stud_reg_9_Two_M','r_stud_reg_9_Two_F','r_stud_reg_10_AIAN_M','r_stud_reg_10_AIAN_F','r_stud_reg_10_AAP_M','r_stud_reg_10_AAP_F','r_stud_reg_10_H_M','r_stud_reg_10_H_F','r_stud_reg_10_B_M','r_stud_reg_10_B_F','r_stud_reg_10_W_M','r_stud_reg_10_W_F','r_stud_reg_10_HNPI_M','r_stud_reg_10_HNPI_F','r_stud_reg_10_Two_M','r_stud_reg_10_Two_F','r_stud_reg_11_AIAN_M','r_stud_reg_11_AIAN_F','r_stud_reg_11_AAP_M','r_stud_reg_11_AAP_F','r_stud_reg_11_H_M','r_stud_reg_11_H_F','r_stud_reg_11_B_M','r_stud_reg_11_B_F','r_stud_reg_11_W_M','r_stud_reg_11_W_F','r_stud_reg_11_HNPI_M','r_stud_reg_11_HNPI_F','r_stud_reg_11_Two_M','r_stud_reg_11_Two_F','r_stud_reg_U_AIAN_M','r_stud_reg_U_AIAN_F','r_stud_reg_U_AAP_M','r_stud_reg_U_AAP_F','r_stud_reg_U_H_M','r_stud_reg_U_H_F','r_stud_reg_U_B_M','r_stud_reg_U_B_F','r_stud_reg_U_W_M','r_stud_reg_U_W_F','r_stud_reg_U_HNPI_M','r_stud_reg_U_HNPI_F','r_stud_reg_U_Two_M','r_stud_reg_U_Two_F'], axis=1, inplace=True)

#Drop rates of students in PK-12th grade
dftouse.drop(['r_stud_PK', 'r_stud_K', 'r_stud_1', 'r_stud_2', 'r_stud_3', 'r_stud_4', 'r_stud_5', 'r_stud_6', 'r_stud_7', 'r_stud_8', 'r_stud_9', 'r_stud_10', 'r_stud_11', 'r_stud_12', 'r_stud_U'], axis=1, inplace=True)

In [27]:
dftouse.shape

(10785, 160)

In [28]:
dftouse.to_csv("data/finaldata/dftouse_withprevyears.csv", index=False)