Start with the standard imports we have used for every notebook in this class.

In [1]:
%matplotlib inline
import numpy as np
import scipy as sp
import matplotlib as mpl
import matplotlib.cm as cm
import matplotlib.pyplot as plt
import pandas as pd
pd.set_option('display.width', 500)
pd.set_option('display.max_columns', 100)
pd.set_option('display.notebook_repr_html', True)
import seaborn as sns
sns.set_style("whitegrid")
sns.set_context("poster")

#These are one time load of SCHOOL DISTRICT data steps.
#START SECTION OF DO NOT RUN THESE AGAIN

Each of the datasheets downloaded from ELSI had download metadata on the top of them and total and key information on the bottom of them that were not data rows. This metadata, total, and key information was manually deleted before import. Some of the files had ="0" instead of 0 in the cells. This was found/replaced before import using the sed -i '' 's/="0"/0/g' *.csv command from the terminal.

In [31]:
#CITATION: This is the data from National Center for Education Statistics on Schools
#School districts for all 50 states and Washington, D.C.
#http://nces.ed.gov/ccd/elsi/
#Data Source: U.S. Department of Education National Center for Education Statistics Common Core of Data (CCD) "Local Education Agency (School District) Universe Survey" 2009-10 v.2a  2013-14 v.1a; "Public Elementary/Secondary School Universe Survey" 2009-10 v.2a; "Survey of Local Government Finances School Systems (F-33)" 2009-10 (FY 2010) v.1a.
#KEY:
#† indicates that the data are not applicable.
#– indicates that the data are missing.
#‡ indicates that the data do not meet NCES data quality standards.

districtinformation = pd.read_csv("data/rawdata/districts/2009-2010 DISTRICTS Information Tab.csv", dtype=np.str)
districtcharacteristicsa = pd.read_csv("data/rawdata/districts/2009-2010 DISTRICTS Characteristics Tab.csv", dtype=np.str)
districtenrollments = pd.read_csv("data/rawdata/districts/2009-2010 DISTRICTS Enrollments Tab.csv", dtype=np.str)
districtenrollmentK3 = pd.read_csv("data/rawdata/districts/2009-2010 DISTRICTS EnrollK3 Tab.csv", dtype=np.str)
districtenrollment48 = pd.read_csv("data/rawdata/districts/2009-2010 DISTRICTS Enroll48 Tab.csv", dtype=np.str)
districtenrollment912 = pd.read_csv("data/rawdata/districts/2009-2010 DISTRICTS Enroll912 Tab.csv", dtype=np.str)
districtteacherstaff = pd.read_csv("data/rawdata/districts/2009-2010 DISTRICTS TeacherStaff Tab.csv", dtype=np.str)
districtgeneralfinance = pd.read_csv("data/rawdata/districts/2009-2010 DISTRICTS GeneralFinance Tab.csv", dtype=np.str)
districtrevenue = pd.read_csv("data/rawdata/districts/2009-2010 DISTRICTS Revenue Tab.csv", dtype=np.str)
districtexpenditures = pd.read_csv("data/rawdata/districts/2009-2010 DISTRICTS Expenditures Tab.csv", dtype=np.str)

#Data Source: Local Education Agency (School District) Universe Survey Dropout and Completion Data: 2009-10 v.1a.

districtdropoutscompleters = pd.read_csv("data/rawdata/districts/2009-2010 DISTRICTS DropoutsCompleters.txt", dtype=np.str, delim_whitespace=True)

Check the lengths of the datasets to see if we have a row for every school district.  We more school district IDs in districtinformation than we have school district characteristics, and we have more rows of graduation information than we have school district characteristics.  Rows without school district characteristics will later be dropped.

In [32]:
print len(districtinformation)
print len(districtcharacteristicsa)
print len(districtenrollments)
print len(districtenrollmentK3)
print len(districtenrollment48)
print len(districtenrollment912)
print len(districtteacherstaff)
print len(districtgeneralfinance)
print len(districtrevenue)
print len(districtexpenditures)
print len(districtdropoutscompleters)

19023
17916
17916
17916
17916
17916
17916
17916
17916
17916
18439

Drop all of the duplicate columns.

In [33]:
#Duplicate columns are:
#Agency Name
#State Name [District] Latest available year
#Agency ID - NCES Assigned [District] Latest available year
districtenrollments = districtenrollments.drop(districtenrollments.columns[[0, 1, 2]], 1)
districtenrollmentK3 = districtenrollmentK3.drop(districtenrollmentK3.columns[[0, 1, 2]], 1)
districtenrollment48 = districtenrollment48.drop(districtenrollment48.columns[[0, 1, 2]], 1)
districtenrollment912 = districtenrollment912.drop(districtenrollment912.columns[[0, 1, 2]], 1)
districtteacherstaff = districtteacherstaff.drop(districtteacherstaff.columns[[0, 1, 2]], 1)
districtgeneralfinance = districtgeneralfinance.drop(districtgeneralfinance.columns[[0, 1, 2]], 1)
districtrevenue = districtrevenue.drop(districtrevenue.columns[[0, 1, 2]], 1)
districtexpenditures = districtexpenditures.drop(districtexpenditures.columns[[0, 1, 2]], 1)

Join all of the school district datasets. The datasets districtinformation and districtdropoutscompleters need special treatment, as they have more rows for the school districts than the other datasets. All of the other datasets can be joined by ID without issue.

In [34]:
#Join the datasets that can be joined without issue.
joineddistrict = districtcharacteristicsa.join([districtenrollments, districtenrollmentK3, districtenrollment48, districtenrollment912, districtteacherstaff, districtgeneralfinance, districtrevenue, districtexpenditures])

#Clean up an extra hidden character in the Agency Name column
joineddistrict = joineddistrict.rename(columns={'﻿Agency Name': 'Agency Name'})
districtinformation = districtinformation.rename(columns={'﻿Agency Name': 'Agency Name'})

#Merge to the districtinformation dataset
joineddistrict = districtinformation.merge(joineddistrict, 'left', 'Agency ID - NCES Assigned [District] Latest available year', suffixes=('', '_DEL'))

#Need to get rid of Excel syntax ="" from the school district ID column so it can be joined successfully
joineddistrict['Agency ID - NCES Assigned [District] Latest available year'] = joineddistrict['Agency ID - NCES Assigned [District] Latest available year'].map(lambda x: str(x).lstrip('="').rstrip('"'))

#Rename the LEAID column so it can be merged with the joineddistrict dataset
districtdropoutscompleters = districtdropoutscompleters.rename(columns={'LEAID': 'Agency ID - NCES Assigned [District] Latest available year'})

#Merge to the joineddistrict dataset
joineddistrict = joineddistrict.merge(districtdropoutscompleters, 'left', 'Agency ID - NCES Assigned [District] Latest available year', suffixes=('', '_DEL'))

#If by chance any rows have NaN, replace with the ELSI standard for missing data '–'
joineddistrict = joineddistrict.fillna('–')
joineddistrict = joineddistrict.replace('nan', '–')

joineddistrict.head()

,Agency Name,State Name [District] Latest available year,State Name [District] 2009-10,State Abbr [District] Latest available year,Agency Name [District] 2009-10,Agency ID - NCES Assigned [District] Latest available year,County Name [District] 2009-10,County Number [District] 2009-10,Race/Ethnicity Category [District] 2009-10,ANSI/FIPS State Code [District] Latest available year,Total Number Operational Schools [Public School] 2009-10,Total Number Operational Charter Schools [Public School] 2009-10,Total Number of Public Schools [Public School] 2009-10,Years District Reported Data [District] Latest available year,Years District Did Not Report Data [District] Latest available year,Location Address [District] 2013-14,Location City [District] 2013-14,Location State Abbr [District] 2013-14,Location ZIP [District] 2013-14,Location ZIP4 [District] 2013-14,Mailing Address [District] 2013-14,Mailing City [District] 2013-14,Mailing State Abbr [District] 2013-14,Mailing ZIP [District] 2013-14,Mailing ZIP4 [District] 2013-14,Phone Number [District] 2013-14,Agency Name_DEL,State Name [District] Latest available year_DEL,Agency Type [District] 2009-10,School District Level Code (SCHLEV) [District Finance] 2009-10,Urban-centric Locale [District] 2009-10,Boundary Change Indicator Flag [District] 2009-10,CBSA Name [District] 2009-10,CBSA ID [District] 2009-10,CSA Name [District] 2009-10,CSA ID [District] 2009-10,Latitude [District] 2009-10,Longitude [District] 2009-10,State Agency ID [District] 2009-10,Supervisory Union (ID) Number [District] 2009-10,Agency Charter Status [District] 2009-10,Metro Micro Area Code [District] 2009-10,Congressional Code [District] 2009-10,Census ID (CENSUSID) [District Finance] 2009-10,Lowest Grade Offered [District] 2009-10,Highest Grade Offered [District] 2009-10,Total Students (UG PK-12) [District] 2009-10,PK thru 12th Students [District] 2009-10,Ungraded Students [District] 2009-10,Total Students [Public School] 2009-10,...,Total - School Admin.- Supp. Serv. Exp. (E09) [District Finance] 2009-10,Total - Student Transp.- Supp. Serv. Exp. (V45) [District Finance] 2009-10,Total - Students- Supp. Serv. Exp. (E17) [District Finance] 2009-10,Salary - Instruction Expenditures (Z33) [District Finance] 2009-10,Salary - Students- Supp. Serv. Exp. (V11) [District Finance] 2009-10,Salary - Instruct. Staff- Supp. Serv. Exp. (V13) [District Finance] 2009-10,Salary - General Admin.- Supp. Serv. Exp. (V15) [District Finance] 2009-10,Salary - School Admin.- Supp. Serv. Exp. (V17) [District Finance] 2009-10,Salary - Ops. & Mainten.- Supp. Serv. Exp. (V21) [District Finance] 2009-10,Salary - Student Transp.- Supp. Serv. Exp. (V23) [District Finance] 2009-10,Salary - Other Supp. Serv.- Supp. Serv. Exp. (V37) [District Finance] 2009-10,Salary - Food Services- Non-Instruction (V29) [District Finance] 2009-10,Employee Benefits - Instruction Expend. (V10) [District Finance] 2009-10,Empl. Benefits - Students- Supp. Serv. Exp. (V12) [District Finance] 2009-10,Empl. Benefits - Instruction- Supp. Serv. Exp. (V14) [District Finance] 2009-10,Empl. Benefits - Gen. Adm.- Supp. Serv. Exp. (V16) [District Finance] 2009-10,Empl. Benefits - Sch. Adm.- Supp. Serv. Exp. (V18) [District Finance] 2009-10,Empl. Benefits - Ops. & Maint.- Supp. Serv. Exp. (V22) [District Finance] 2009-10,Empl. Benefits - Student Trans.- Supp. Serv. Exp. (V24) [District Finance] 2009-10,Empl. Benefits - Other Supp Serv- Supp. Serv. Exp. (V38) [District Finance] 2009-10,Empl. Benefits - Food Services- Non-Instruction (V30) [District Finance] 2009-10,Empl. Benefits - Enterp. Oper.- Non-Instruction (V32) [District Finance] 2009-10,Current Spending - Private Schools (V91) [District Finance] 2009-10,Current Spending - Public Charter Schools (V92) [District Finance] 2009-10,Teacher Salaries - Regular Education Programs (Z35) [District Finance] 2009-10,Teacher Salaries - Special Education Programs (Z36) [District Finance] 2009-10,Teacher Salaries - Vocational Education Programs (Z37) [District Finance] 2009-10,Teacher Salaries - Other Education Programs (Z38) [District Finance] 2009-10,Textbooks for Instruction (V93) [District Finance] 2009-10,Community Services - Non El-Sec (V70) [District Finance] 2009-10,Adult Education - Non El-Sec (V75) [District Finance] 2009-10,Other Expenditures - Non El-Sec (V80) [District Finance] 2009-10,Construction - Capital Outlay (F12) [District Finance] 2009-10,Instructional Equipment - Capital Outlay (K09) [District Finance] 2009-10,Other Equipment - Capital Outlay (K10) [District Finance] 2009-10,Non-specified - Equipment Expenditures (K11) [District Finance] 2009-10,Land & Existing Structures - Capital Outlay (G15) [District Finance] 2009-10,Payments to Local Governments (M12) [District Finance] 2009-10,Payments to State Governments (L12) [District Finance] 2009-10,Interest on School System Indebtedness (I86) [District Finance] 2009-10,Payments to Other School Systems (Q11) [District Finance] 2009-10,SURVYEAR,FIPST,TOTD912,EBS912,DRP912,TOTDPL,AFGEB,AFGR,TOTOHC
0,100 LEGACY ACADEMY CHARTER SCHOOL,New Jersey,†,NJ,†,3400743,†,†,†,34,†,†,†,2010-2013,1986-2009,75 MORTON ST,NEWARK,NJ,"=""07103""",†,75 MORTON STREET,NEWARK,NJ,"=""07103""",†,9733178361,–,–,–,–,–,–,–,–,–,–,–,–,–,–,–,–,–,–,–,–,–,–,–,–,...,–,–,–,–,–,–,–,–,–,–,–,–,–,–,–,–,–,–,–,–,–,–,–,–,–,–,–,–,–,–,–,–,–,–,–,–,–,–,–,–,–,–,–,–,–,–,–,–,–,–
1,21ST CENTURY CHARTER SCH OF GARY,Indiana,Indiana,IN,21ST CENTURY CHARTER SCH OF GARY,1800046,MARION COUNTY,18097,Reported 5 categories,18,1,1,1,2004-2013,1986-2003,556 WASHINGTON ST,GARY,IN,46402,†,333 N PENNSYLVANIA SUITE 1000,INDIANAPOLIS,IN,46202,†,3175361027,21ST CENTURY CHARTER SCH OF GARY,Indiana,7-Charter school agency,"=""03-Elementary/secondary school system""",13-City: Small,1-No change since last report,Indianapolis IN,26900,Indianapolis-Anderson-Columbus IN,294,39.771949,-86.155184,9545,"=""000""",1-All associated schools are charter schools,1-Metropolitan Area,1807,†,Kindergarten,12th Grade,360,360,†,360,...,318000,9000,18000,1173000,"=""0""","=""0""","=""0""",315000,"=""0""","=""0""","=""0""","=""0""",12000,"=""0""","=""0""","=""0""","=""0""","=""0""","=""0""",358000,"=""0""","=""0""","=""0""","=""0""","=""0""","=""0""","=""0""","=""0""",77000,13000,13000,"=""0""",37000,86000,72000,146000,374000,"=""0""","=""0""","=""0""","=""0""",2009-10,18,-3,100,-3.0,13,43,30.2,-2
2,21ST CENTURY CYBER CS,Pennsylvania,Pennsylvania,PA,21ST CENTURY CYBER CS,4200091,CHESTER COUNTY,42029,Reported 5 categories,42,1,1,1,2001-2013,1986-2000,805 SPRINGDALE DR,EXTON,PA,19341,3043,805 SPRINGDALE DR.,EXTON,PA,19341,3043,4848755400,21ST CENTURY CYBER CS,Pennsylvania,7-Charter school agency,"=""03-Elementary/secondary school system""",21-Suburb: Large,1-No change since last report,Philadelphia-Camden-Wilmington PA-NJ-DE-MD,37980,Philadelphia-Camden-Vineland PA-NJ-DE-MD,428,40.005030,-75.678564,124150002,"=""000""",1-All associated schools are charter schools,1-Metropolitan Area,4206,†,6th Grade,12th Grade,594,594,†,594,...,220000,"=""0""",337000,1652000,252000,224000,190000,174000,"=""0""","=""0""","=""0""","=""0""",644000,74000,61000,47000,38000,"=""0""","=""0""","=""0""","=""0""","=""0""",18000,"=""0""",1512000,140000,"=""0""","=""0""",236000,"=""0""","=""0""","=""0""","=""0""",317000,12000,"=""0""","=""0""","=""0""","=""0""","=""0""",24000,2009-10,42,33,483,6.8,102,77,100.0,-2
3,21ST CENTURY PREPARATORY SCHOOL AGENCY,Wisconsin,Wisconsin,WI,21ST CENTURY PREPARATORY SCHOOL AGENCY,5500045,RACINE COUNTY,55101,Reported 5 categories,55,1,1,1,2002-2013,1986-2001,1220 MOUND AVE,RACINE,WI,53404,†,1220 MOUND AVE,RACINE,WI,53404,†,2625980026,21ST CENTURY PREPARATORY SCHOOL AGENCY,Wisconsin,7-Charter school agency,"=""01-Elementary school system only""",13-City: Small,1-No change since last report,Racine WI,39540,Milwaukee-Racine-Waukesha WI,376,42.729073,-87.797014,8110,"=""000""",1-All associated schools are charter schools,1-Metropolitan Area,5501,†,Prekindergarten,8th Grade,507,507,†,507,...,–,–,–,–,–,–,–,–,–,–,–,–,–,–,–,–,–,–,–,–,–,–,–,–,–,–,–,–,–,–,–,–,–,–,–,–,–,–,–,–,–,2009-10,55,-2,-2,-2.0,-2,-2,-2.0,-2
4,4-WINDS ACADEMY INCORPORATED DBA 4-WINDS ACADEMY,Arizona,Arizona,AZ,4-WINDS ACADEMY INCORPORATED DBA 4-WINDS ACADEMY,0400380,APACHE COUNTY,"=""04001""",Reported 5 categories,"=""04""","=""0""","=""0""",1,2002-2013,1986-2001,725 EAST MAIN,SPRINGERVILLE,AZ,85938,†,P. O. BOX 1210,EAGAR,AZ,85925,†,9283331060,4-WINDS ACADEMY INCORPORATED DBA 4-WINDS ACADEMY,Arizona,7-Charter school agency,†,33-Town: Remote,6-Agency temporarily closed,†,†,†,†,34.132862,-109.276602,79998,†,1-All associated schools are charter schools,"=""0-New England (NECTA) or not reported""","=""0401""",†,Kindergarten,8th Grade,†,†,†,†,...,†,†,†,†,†,†,†,†,†,†,†,†,†,†,†,†,†,†,†,†,†,†,†,†,†,†,†,†,†,†,†,†,†,†,†,†,†,†,†,†,†,2009-10,04,-2,-2,-2.0,-2,-2,-2.0,-2

If we did this correctly, we should still have 19023 rows as we did from the previous step.

In [35]:
print len(joineddistrict)

19023

Now we start cleaning the data.

In [51]:
cleaneddistrict = joineddistrict.copy(deep=True)

In [ ]:
#SURVYEAR     1        AN       School year
#FIPST        2        AN       Two Digit American National Standards Institute (ANSI) State Code.
#
#                             	01  =  Alabama        02  =  Alaska          04  =  Arizona
#                             	05  =  Arkansas       06  =  California      08  =  Colorado
#                             	09  =  Connecticut    10  =  Delaware        11  =  District of Columbia
#                             	12  =  Florida        13  =  Georgia         15  =  Hawaii
#                             	16  =  Idaho          17  =  Illinois        18  =  Indiana
#                             	19  =  Iowa           20  =  Kansas          21  =  Kentucky
#                             	22  =  Louisiana      23  =  Maine           24  =  Maryland
#                             	25  =  Massachusetts  26  =  Michigan        27  =  Minnesota
#                             	28  =  Mississippi    29  =  Missouri        30  =  Montana
#                             	31  =  Nebraska       32  =  Nevada          33  =  New Hampshire
#                             	34  =  New Jersey     35  =  New Mexico      36  =  New York
#                             	37  =  North Carolina 38  =  North Dakota    39  =  Ohio
#                             	40  =  Oklahoma       41  =  Oregon          42  =  Pennsylvania
#                             	44  =  Rhode Island   45  =  South Carolina  46  =  South Dakota
#                             	47  =  Tennessee      48  =  Texas           49  =  Utah
#                             	50  =  Vermont        51  =  Virginia        53  =  Washington
#                             	54  =  West Virginia  55  =  Wisconsin       56  =  Wyoming
#                             	58  =  DOD Dependents Schools-Overseas    
#                             	59  =  Bureau of Indian Education
#                             	60  =  American Samoa 61  =  DOD Dependents School-Domestic
#                             	66  =  Guam           69  =  Northern Marianas
#                             	72  =  Puerto Rico    78  =  Virgin Islands
#
#LEAID        3        AN       NCES Assigned Local Education Agency Identification Number
#TOTD912      4        N        Total Dropouts, Grades 9–12
#EBS912       5        N        Dropout Enrollment Base, Grades 9–12
#DRP912       6*       N        Dropout Rate, Grades 9–12
#TOTDPL       7        N        Total Diploma Count
#AFGEB        8        N        Total Averaged Freshman Graduation Rate (AFGR) Enrollment Base
#AFGR         9*       N        Total Averaged Freshmen Graduation Rate (AFGR)
#TOTOHC      10        N        Total Other High School Completion Certificate (OHC) Recipients

#TOTD912 - -3 = ; -2 = DOESN'T HAVE GRADUATES - ELEM OR MIDDLE; -9
#EBS912 - 100 = ; -2 = DOESN'T HAVE GRADUATES - ELEM OR MIDDLE
#DRP912 - -3 = ; -2.0 = DOESN'T HAVE GRADUATES - ELEM OR MIDDLE
#TOTDPL - -2 = DOESN'T HAVE GRADUATES - ELEM OR MIDDLE
#AFGEB - -2 = DOESN'T HAVE GRADUATES - ELEM OR MIDDLE
#AFGR - -2.0 = DOESN'T HAVE GRADUATES - ELEM OR MIDDLE
#TOTOHC - -2 = DOESN'T HAVE GRADUATES - ELEM OR MIDDLE

This dataset has flags for different types of missing data (NAs, missing, etc.), including -1, -2, -3, -4, -9. Set all of these to missing data flag instead.

In [52]:
cleaneddistrict['TOTD912'] = cleaneddistrict['TOTD912'].replace('-1', '–')
cleaneddistrict['TOTD912'] = cleaneddistrict['TOTD912'].replace('-2', '–')
cleaneddistrict['TOTD912'] = cleaneddistrict['TOTD912'].replace('-3', '–')
cleaneddistrict['TOTD912'] = cleaneddistrict['TOTD912'].replace('-4', '–')
cleaneddistrict['TOTD912'] = cleaneddistrict['TOTD912'].replace('-9', '–')

cleaneddistrict['EBS912'] = cleaneddistrict['EBS912'].replace('-2', '–')

cleaneddistrict['DRP912'] = cleaneddistrict['DRP912'].replace('-1.0', '–')
cleaneddistrict['DRP912'] = cleaneddistrict['DRP912'].replace('-2.0', '–')
cleaneddistrict['DRP912'] = cleaneddistrict['DRP912'].replace('-3.0', '–')
cleaneddistrict['DRP912'] = cleaneddistrict['DRP912'].replace('-4.0', '–')
cleaneddistrict['DRP912'] = cleaneddistrict['DRP912'].replace('-9.0', '–')

cleaneddistrict['TOTDPL'] = cleaneddistrict['TOTDPL'].replace('-1', '–')
cleaneddistrict['TOTDPL'] = cleaneddistrict['TOTDPL'].replace('-2', '–')
cleaneddistrict['TOTDPL'] = cleaneddistrict['TOTDPL'].replace('-9', '–')

cleaneddistrict['AFGEB'] = cleaneddistrict['AFGEB'].replace('-1', '–')
cleaneddistrict['AFGEB'] = cleaneddistrict['AFGEB'].replace('-2', '–')

cleaneddistrict['AFGR'] = cleaneddistrict['AFGR'].replace('-1.0', '–')
cleaneddistrict['AFGR'] = cleaneddistrict['AFGR'].replace('-2.0', '–')
cleaneddistrict['AFGR'] = cleaneddistrict['AFGR'].replace('-9.0', '–')

cleaneddistrict['TOTOHC'] = cleaneddistrict['TOTOHC'].replace('-1', '–')
cleaneddistrict['TOTOHC'] = cleaneddistrict['TOTOHC'].replace('-2', '–')
cleaneddistrict['TOTOHC'] = cleaneddistrict['TOTOHC'].replace('-3', '–')
cleaneddistrict['TOTOHC'] = cleaneddistrict['TOTOHC'].replace('-9', '–')

In [53]:
#Need to get rid of Excel syntax ="" from some of the columns
for i, col in enumerate(cleaneddistrict.columns):
    cleaneddistrict[col] = cleaneddistrict[col].map(lambda x: str(x).lstrip('="').rstrip('"'))

In [54]:
# Replacing Missing Data / NA / Bad Quality data with NaN
# Ref : http://pandas.pydata.org/pandas-docs/version/0.15.2/missing_data.html

cleaneddistrict = cleaneddistrict.replace('\xe2\x80\x93', '') # Replace "-" (Missing Data) with NaN
cleaneddistrict = cleaneddistrict.replace('\xe2\x80\xa0', '') # Replace "†" (Not Applicable) with NaN
cleaneddistrict = cleaneddistrict.replace('\xe2\x80\xa1', '') # Replace "‡" (Bad Quality) with NaN

Turn all of the numerical columns into floats.

In [74]:
countcolumns = ['Local Rev. - Individual & Corp. Income Taxes (T40) [District Finance] 2009-10','Local Rev. - All Other Taxes (T99) [District Finance] 2009-10','Local Rev. - Parent Government Contributions (T02) [District Finance] 2009-10','Local Rev. - Revenue- Cities and Counties (D23) [District Finance] 2009-10','Local Rev. - Revenue- Other School Systems (D11) [District Finance] 2009-10','Local Rev. - Tuition Fees- Pupils and Parents (A07) [District Finance] 2009-10','Local Rev. - Transp. Fees- Pupils and Parents (A08) [District Finance] 2009-10','Local Rev. - School Lunch Revenues (A09) [District Finance] 2009-10','Local Rev. - Textbook Sales and Rentals (A11) [District Finance] 2009-10','Local Rev. - Student Activity Receipts (A13) [District Finance] 2009-10','Local Rev. - Other Sales and Service Rev. (A20) [District Finance] 2009-10','Local Rev. - Student Fees Non-Specified (A15) [District Finance] 2009-10','Local Rev. - Interest Earnings (U22) [District Finance] 2009-10','Local Rev. - Miscellaneous Other Local Rev. (U97) [District Finance] 2009-10','Local Rev. - Special Processing (C24) [District Finance] 2009-10','Local Rev. - Rents and Royalties (A40) [District Finance] 2009-10','Local Rev. - Sale of Property (U11) [District Finance] 2009-10','Local Rev. - Fines and Forfeits (U30) [District Finance] 2009-10','Local Rev. - Private Contributions (U50) [District Finance] 2009-10','State Rev. - General Formula Assistance (C01) [District Finance] 2009-10','State Rev. - Special Education Programs (C05) [District Finance] 2009-10','State Rev. - Transportation Programs (C12) [District Finance] 2009-10','State Rev. - Staff Improvement Programs (C04) [District Finance] 2009-10','State Rev. - Compensat. and Basic Skills Prog. (C06) [District Finance] 2009-10','State Rev. - Vocational Education Programs (C09) [District Finance] 2009-10','State Rev. - Capital Outlay and Debt Serv. Prog. (C11) [District Finance] 2009-10','State Rev. - Bilingual Education Programs (C07) [District Finance] 2009-10','State Rev. - Gifted and Talented Programs (C08) [District Finance] 2009-10','State Rev. - School Lunch Programs (C10) [District Finance] 2009-10','State Rev. - All Other Rev.- State Sources (C13) [District Finance] 2009-10','State Rev. - State Payment for LEA Empl. Benefits (C38) [District Finance] 2009-10','State Rev. - Other State Payments (C39) [District Finance] 2009-10','State Rev. - Non-Specified (C35) [District Finance] 2009-10','Federal Rev. - Federal Title I Revenue (C14) [District Finance] 2009-10','Federal Rev. - Children with Disabilities (C15) [District Finance] 2009-10','Federal Rev. - Child Nutrition Act (C25) [District Finance] 2009-10','Federal Rev. - Eisenhower Math and Science (C16) [District Finance] 2009-10','Federal Rev. - Drug-Free Schools (C17) [District Finance] 2009-10','Federal Rev. - Vocational Education (C19) [District Finance] 2009-10','Federal Rev. - All Other Fed. Aid Through State (C20) [District Finance] 2009-10','Federal Rev. - Nonspecified (C36) [District Finance] 2009-10','Federal Rev. - Impact Aid (PL 815 and 874) (B10) [District Finance] 2009-10','Federal Rev. - Bilingual Education (B11) [District Finance] 2009-10','Federal Rev. - Native American (Ind.) Educ. (B12) [District Finance] 2009-10','Federal Rev. - All Other Federal Aid (B13) [District Finance] 2009-10','Enterprise Operations - Non Instructional (V60) [District Finance] 2009-10','Food Services - Non Instuctional (E11) [District Finance] 2009-10','Instruction Expenditures - Total (E13) [District Finance] 2009-10','Non-Specified - Supp. Serv. Exp. (V85) [District Finance] 2009-10','Other Non Instructional (V65) [District Finance] 2009-10','Total - Gen. Admin.- Supp. Serv. Exp. (E08) [District Finance] 2009-10','Total - Instruct. Staff- Supp. Serv. Exp. (E07) [District Finance] 2009-10','Total - Ops. & Mainten.- Supp. Serv. Exp. (V40) [District Finance] 2009-10','Total - Other Supp. Serv.- Supp. Serv. Exp. (V90) [District Finance] 2009-10','Total - School Admin.- Supp. Serv. Exp. (E09) [District Finance] 2009-10','Total - Student Transp.- Supp. Serv. Exp. (V45) [District Finance] 2009-10','Total - Students- Supp. Serv. Exp. (E17) [District Finance] 2009-10','Salary - Instruction Expenditures (Z33) [District Finance] 2009-10','Salary - Students- Supp. Serv. Exp. (V11) [District Finance] 2009-10','Salary - Instruct. Staff- Supp. Serv. Exp. (V13) [District Finance] 2009-10','Salary - General Admin.- Supp. Serv. Exp. (V15) [District Finance] 2009-10','Salary - School Admin.- Supp. Serv. Exp. (V17) [District Finance] 2009-10','Salary - Ops. & Mainten.- Supp. Serv. Exp. (V21) [District Finance] 2009-10','Salary - Student Transp.- Supp. Serv. Exp. (V23) [District Finance] 2009-10','Salary - Other Supp. Serv.- Supp. Serv. Exp. (V37) [District Finance] 2009-10','Salary - Food Services- Non-Instruction (V29) [District Finance] 2009-10','Employee Benefits - Instruction Expend. (V10) [District Finance] 2009-10','Empl. Benefits - Students- Supp. Serv. Exp. (V12) [District Finance] 2009-10','Empl. Benefits - Instruction- Supp. Serv. Exp. (V14) [District Finance] 2009-10','Empl. Benefits - Gen. Adm.- Supp. Serv. Exp. (V16) [District Finance] 2009-10','Empl. Benefits - Sch. Adm.- Supp. Serv. Exp. (V18) [District Finance] 2009-10','Empl. Benefits - Ops. & Maint.- Supp. Serv. Exp. (V22) [District Finance] 2009-10','Empl. Benefits - Student Trans.- Supp. Serv. Exp. (V24) [District Finance] 2009-10','Empl. Benefits - Other Supp Serv- Supp. Serv. Exp. (V38) [District Finance] 2009-10','Empl. Benefits - Food Services- Non-Instruction (V30) [District Finance] 2009-10','Empl. Benefits - Enterp. Oper.- Non-Instruction (V32) [District Finance] 2009-10','Current Spending - Private Schools (V91) [District Finance] 2009-10','Current Spending - Public Charter Schools (V92) [District Finance] 2009-10','Teacher Salaries - Regular Education Programs (Z35) [District Finance] 2009-10','Teacher Salaries - Special Education Programs (Z36) [District Finance] 2009-10','Teacher Salaries - Vocational Education Programs (Z37) [District Finance] 2009-10','Teacher Salaries - Other Education Programs (Z38) [District Finance] 2009-10','Textbooks for Instruction (V93) [District Finance] 2009-10','Community Services - Non El-Sec (V70) [District Finance] 2009-10','Adult Education - Non El-Sec (V75) [District Finance] 2009-10','Other Expenditures - Non El-Sec (V80) [District Finance] 2009-10','Construction - Capital Outlay (F12) [District Finance] 2009-10','Instructional Equipment - Capital Outlay (K09) [District Finance] 2009-10','Other Equipment - Capital Outlay (K10) [District Finance] 2009-10','Non-specified - Equipment Expenditures (K11) [District Finance] 2009-10','Land & Existing Structures - Capital Outlay (G15) [District Finance] 2009-10','Payments to Local Governments (M12) [District Finance] 2009-10','Payments to State Governments (L12) [District Finance] 2009-10','Interest on School System Indebtedness (I86) [District Finance] 2009-10','Payments to Other School Systems (Q11) [District Finance] 2009-10','FIPST','TOTD912','EBS912','DRP912','TOTDPL','AFGEB','AFGR','TOTOHC','Total Number Operational Schools [Public School] 2009-10', 'Total Number Operational Charter Schools [Public School] 2009-10', 'Total Number of Public Schools [Public School] 2009-10', 'Total Students (UG PK-12) [District] 2009-10', 'PK thru 12th Students [District] 2009-10', 'Ungraded Students [District] 2009-10', 'Total Students [Public School] 2009-10', 'Limited English Proficient (LEP) / English Language Learners (ELL) [District] 2009-10', 'Individualized Education Program Students [District] 2009-10', 'Free Lunch Eligible [Public School] 2009-10', 'Reduced-price Lunch Eligible Students [Public School] 2009-10', 'Total Free and Reduced Lunch Students [Public School] 2009-10', 'Prekindergarten and Kindergarten Students [Public School] 2009-10', 'Grades 1-8 Students [Public School] 2009-10','Grades 9-12 Students [Public School] 2009-10','Prekindergarten Students [Public School] 2009-10','Kindergarten Students [Public School] 2009-10','Grade 1 Students [Public School] 2009-10','Grade 2 Students [Public School] 2009-10','Grade 3 Students [Public School] 2009-10','Grade 4 Students [Public School] 2009-10','Grade 5 Students [Public School] 2009-10','Grade 6 Students [Public School] 2009-10','Grade 7 Students [Public School] 2009-10','Grade 8 Students [Public School] 2009-10','Grade 9 Students [Public School] 2009-10','Grade 10 Students [Public School] 2009-10','Grade 11 Students [Public School] 2009-10','Grade 12 Students [Public School] 2009-10','Ungraded Students [Public School] 2009-10','Male Students [Public School] 2009-10','Female Students [Public School] 2009-10','American Indian/Alaska Native Students [Public School] 2009-10','Asian or Asian/Pacific Islander Students [Public School] 2009-10','Hispanic Students [Public School] 2009-10','Black Students [Public School] 2009-10','White Students [Public School] 2009-10','Hawaiian Nat./Pacific Isl. Students [Public School] 2009-10','Two or More Races Students [Public School] 2009-10','Total Race/Ethnicity [Public School] 2009-10','Prekindergarten Students - American Indian/Alaska Native - male [Public School] 2009-10','Prekindergarten Students - American Indian/Alaska Native - female [Public School] 2009-10','Prekindergarten Students - Asian or Asian/Pacific Islander - male [Public School] 2009-10','Prekindergarten Students - Asian or Asian/Pacific Islander - female [Public School] 2009-10','Prekindergarten Students - Hispanic - male [Public School] 2009-10','Prekindergarten Students - Hispanic - female [Public School] 2009-10','Prekindergarten Students - Black - male [Public School] 2009-10','Prekindergarten Students - Black - female [Public School] 2009-10','Prekindergarten Students - White - male [Public School] 2009-10','Prekindergarten Students - White - female [Public School] 2009-10','Prekindergarten Students - Hawaiian Nat./Pacific Isl. - male [Public School] 2009-10','Prekindergarten Students - Hawaiian Nat./Pacific Isl. - female [Public School] 2009-10','Prekindergarten Students - Two or More Races - male [Public School] 2009-10','Prekindergarten Students - Two or More Races - female [Public School] 2009-10','Kindergarten Students - American Indian/Alaska Native - male [Public School] 2009-10','Kindergarten Students - American Indian/Alaska Native - female [Public School] 2009-10','Kindergarten Students - Asian or Asian/Pacific Islander - male [Public School] 2009-10','Kindergarten Students - Asian or Asian/Pacific Islander - female [Public School] 2009-10','Kindergarten Students - Hispanic - male [Public School] 2009-10','Kindergarten Students - Hispanic - female [Public School] 2009-10','Kindergarten Students - Black - male [Public School] 2009-10','Kindergarten Students - Black - female [Public School] 2009-10','Kindergarten Students - White - male [Public School] 2009-10','Kindergarten Students - White - female [Public School] 2009-10','Kindergarten Students - Hawaiian Nat./Pacific Isl. - male [Public School] 2009-10','Kindergarten Students - Hawaiian Nat./Pacific Isl. - female [Public School] 2009-10','Kindergarten Students - Two or More Races - male [Public School] 2009-10','Kindergarten Students - Two or More Races - female [Public School] 2009-10','Grade 1 Students - American Indian/Alaska Native - male [Public School] 2009-10','Grade 1 Students - American Indian/Alaska Native - female [Public School] 2009-10','Grade 1 Students - Asian or Asian/Pacific Islander - male [Public School] 2009-10','Grade 1 Students - Asian or Asian/Pacific Islander - female [Public School] 2009-10','Grade 1 Students - Hispanic - male [Public School] 2009-10','Grade 1 Students - Hispanic - female [Public School] 2009-10','Grade 1 Students - Black - male [Public School] 2009-10','Grade 1 Students - Black - female [Public School] 2009-10','Grade 1 Students - White - male [Public School] 2009-10','Grade 1 Students - White - female [Public School] 2009-10','Grade 1 Students - Hawaiian Nat./Pacific Isl. - male [Public School] 2009-10','Grade 1 Students - Hawaiian Nat./Pacific Isl. - female [Public School] 2009-10','Grade 1 Students - Two or More Races - male [Public School] 2009-10','Grade 1 Students - Two or More Races - female [Public School] 2009-10','Grade 2 Students - American Indian/Alaska Native - male [Public School] 2009-10','Grade 2 Students - American Indian/Alaska Native - female [Public School] 2009-10','Grade 2 Students - Asian or Asian/Pacific Islander - male [Public School] 2009-10','Grade 2 Students - Asian or Asian/Pacific Islander - female [Public School] 2009-10','Grade 2 Students - Hispanic - male [Public School] 2009-10','Grade 2 Students - Hispanic - female [Public School] 2009-10','Grade 2 Students - Black - male [Public School] 2009-10','Grade 2 Students - Black - female [Public School] 2009-10','Grade 2 Students - White - male [Public School] 2009-10','Grade 2 Students - White - female [Public School] 2009-10','Grade 2 Students - Hawaiian Nat./Pacific Isl. - male [Public School] 2009-10','Grade 2 Students - Hawaiian Nat./Pacific Isl. - female [Public School] 2009-10','Grade 2 Students - Two or More Races - male [Public School] 2009-10','Grade 2 Students - Two or More Races - female [Public School] 2009-10','Grade 3 Students - American Indian/Alaska Native - male [Public School] 2009-10','Grade 3 Students - American Indian/Alaska Native - female [Public School] 2009-10','Grade 3 Students - Asian or Asian/Pacific Islander - male [Public School] 2009-10','Grade 3 Students - Asian or Asian/Pacific Islander - female [Public School] 2009-10','Grade 3 Students - Hispanic - male [Public School] 2009-10','Grade 3 Students - Hispanic - female [Public School] 2009-10','Grade 3 Students - Black - male [Public School] 2009-10','Grade 3 Students - Black - female [Public School] 2009-10','Grade 3 Students - White - male [Public School] 2009-10','Grade 3 Students - White - female [Public School] 2009-10','Grade 3 Students - Hawaiian Nat./Pacific Isl. - male [Public School] 2009-10','Grade 3 Students - Hawaiian Nat./Pacific Isl. - female [Public School] 2009-10','Grade 3 Students - Two or More Races - male [Public School] 2009-10','Grade 3 Students - Two or More Races - female [Public School] 2009-10','Grade 4 Students - American Indian/Alaska Native - male [Public School] 2009-10','Grade 4 Students - American Indian/Alaska Native - female [Public School] 2009-10','Grade 4 Students - Asian or Asian/Pacific Islander - male [Public School] 2009-10','Grade 4 Students - Asian or Asian/Pacific Islander - female [Public School] 2009-10','Grade 4  Students - Hispanic - male [Public School] 2009-10','Grade 4 Students - Hispanic - female [Public School] 2009-10','Grade 4 Students - Black - male [Public School] 2009-10','Grade 4 Students - Black - female [Public School] 2009-10','Grade 4 Students - White - male [Public School] 2009-10','Grade 4 Students - White - female [Public School] 2009-10','Grade 4 Students - Hawaiian Nat./Pacific Isl. - male [Public School] 2009-10','Grade 4 Students - Hawaiian Nat./Pacific Isl. - female [Public School] 2009-10','Grade 4 Students - Two or More Races - male [Public School] 2009-10','Grade 4 Students - Two or More Races - female [Public School] 2009-10','Grade 5 Students - American Indian/Alaska Native - male [Public School] 2009-10','Grade 5 Students - American Indian/Alaska Native - female [Public School] 2009-10','Grade 5 Students - Asian or Asian/Pacific Islander - male [Public School] 2009-10','Grade 5 Students - Asian or Asian/Pacific Islander - female [Public School] 2009-10','Grade 5 Students - Hispanic - male [Public School] 2009-10','Grade 5 Students - Hispanic - female [Public School] 2009-10','Grade 5 Students - Black - male [Public School] 2009-10','Grade 5 Students - Black - female [Public School] 2009-10','Grade 5 Students - White - male [Public School] 2009-10','Grade 5 Students - White - female [Public School] 2009-10','Grade 5 Students - Hawaiian Nat./Pacific Isl. - male [Public School] 2009-10','Grade 5 Students - Hawaiian Nat./Pacific Isl. - female [Public School] 2009-10','Grade 5 Students - Two or More Races - male [Public School] 2009-10','Grade 5 Students - Two or More Races - female [Public School] 2009-10','Grade 6 Students - American Indian/Alaska Native - male [Public School] 2009-10','Grade 6 Students - American Indian/Alaska Native - female [Public School] 2009-10','Grade 6 Students - Asian or Asian/Pacific Islander - male [Public School] 2009-10','Grade 6 Students - Asian or Asian/Pacific Islander - female [Public School] 2009-10','Grade 6 Students - Hispanic - male [Public School] 2009-10','Grade 6 Students - Hispanic - female [Public School] 2009-10','Grade 6 Students - Black - male [Public School] 2009-10','Grade 6 Students - Black - female [Public School] 2009-10','Grade 6 Students - White - male [Public School] 2009-10','Grade 6 Students - White - female [Public School] 2009-10','Grade 6 Students - Hawaiian Nat./Pacific Isl. - male [Public School] 2009-10','Grade 6 Students - Hawaiian Nat./Pacific Isl. - female [Public School] 2009-10','Grade 6  Students- Two or More Races - male [Public School] 2009-10','Grade 6 Students - Two or More Races - female [Public School] 2009-10','Grade 7 Students - American Indian/Alaska Native - male [Public School] 2009-10','Grade 7 Students - American Indian/Alaska Native - female [Public School] 2009-10','Grade 7 Students - Asian or Asian/Pacific Islander - male [Public School] 2009-10','Grade 7 Students - Asian or Asian/Pacific Islander - female [Public School] 2009-10','Grade 7 Students - Hispanic - male [Public School] 2009-10','Grade 7 Students - Hispanic - female [Public School] 2009-10','Grade 7 Students - Black - male [Public School] 2009-10','Grade 7 Students - Black - female [Public School] 2009-10', 'Grade 7 Students - White - male [Public School] 2009-10','Grade 7 Students - White - female [Public School] 2009-10','Grade 7 Students - Hawaiian Nat./Pacific Isl. - male [Public School] 2009-10','Grade 7 Students - Hawaiian Nat./Pacific Isl. - female [Public School] 2009-10','Grade 7 Students - Two or More Races - male [Public School] 2009-10','Grade 7 Students - Two or More Races - female [Public School] 2009-10','Grade 8 Students - American Indian/Alaska Native - male [Public School] 2009-10','Grade 8 Students - American Indian/Alaska Native - female [Public School] 2009-10','Grade 8 Students - Asian or Asian/Pacific Islander - male [Public School] 2009-10','Grade 8 Students - Asian or Asian/Pacific Islander - female [Public School] 2009-10','Grade 8  Students- Hispanic - male [Public School] 2009-10','Grade 8 Students - Hispanic - female [Public School] 2009-10','Grade 8 Students - Black - male [Public School] 2009-10','Grade 8 Students - Black - female [Public School] 2009-10','Grade 8 Students - White - male [Public School] 2009-10','Grade 8 Students - White - female [Public School] 2009-10','Grade 8 Students - Hawaiian Nat./Pacific Isl. - male [Public School] 2009-10','Grade 8 Students - Hawaiian Nat./Pacific Isl. - female [Public School] 2009-10','Grade 8 Students - Two or More Races - male [Public School] 2009-10','Grade 8 Students - Two or More Races - female [Public School] 2009-10','Grade 9 Students - American Indian/Alaska Native - male [Public School] 2009-10','Grade 9 Students - American Indian/Alaska Native - female [Public School] 2009-10','Grade 9 Students - Asian or Asian/Pacific Islander - male [Public School] 2009-10','Grade 9 Students - Asian or Asian/Pacific Islander - female [Public School] 2009-10','Grade 9 Students - Hispanic - male [Public School] 2009-10','Grade 9 Students - Hispanic - female [Public School] 2009-10','Grade 9 Students - Black - male [Public School] 2009-10','Grade 9 Students - Black - female [Public School] 2009-10','Grade 9 Students - White - male [Public School] 2009-10','Grade 9 Students - White - female [Public School] 2009-10','Grade 9 Students - Hawaiian Nat./Pacific Isl. - male [Public School] 2009-10','Grade 9 Students - Hawaiian Nat./Pacific Isl. - female [Public School] 2009-10','Grade 9 Students - Two or More Races - male [Public School] 2009-10','Grade 9 Students - Two or More Races - female [Public School] 2009-10','Grade 10 Students - American Indian/Alaska Native - male [Public School] 2009-10','Grade 10 Students - American Indian/Alaska Native - female [Public School] 2009-10','Grade 10 Students - Asian or Asian/Pacific Islander - male [Public School] 2009-10','Grade 10 Students - Asian or Asian/Pacific Islander - female [Public School] 2009-10','Grade 10 Students - Hispanic - male [Public School] 2009-10','Grade 10 Students - Hispanic - female [Public School] 2009-10','Grade 10 Students - Black - male [Public School] 2009-10','Grade 10 Students - Black - female [Public School] 2009-10','Grade 10 Students - White - male [Public School] 2009-10','Grade 10 Students - White - female [Public School] 2009-10','Grade 10 Students - Hawaiian Nat./Pacific Isl. - male [Public School] 2009-10','Grade 10 Students - Hawaiian Nat./Pacific Isl. - female [Public School] 2009-10','Grade 10 Students - Two or More Races - male [Public School] 2009-10','Grade 10 Students - Two or More Races - female [Public School] 2009-10','Grade 11 Students - American Indian/Alaska Native - male [Public School] 2009-10','Grade 11 Students - American Indian/Alaska Native - female [Public School] 2009-10','Grade 11 Students - Asian or Asian/Pacific Islander - male [Public School] 2009-10','Grade 11 Students - Asian or Asian/Pacific Islander - female [Public School] 2009-10','Grade 11 Students - Hispanic - male [Public School] 2009-10','Grade 11 Students - Hispanic - female [Public School] 2009-10','Grade 11 Students - Black - male [Public School] 2009-10','Grade 11 Students - Black - female [Public School] 2009-10','Grade 11 Students - White - male [Public School] 2009-10','Grade 11 Students - White - female [Public School] 2009-10','Grade 11 Students - Hawaiian Nat./Pacific Isl. - male [Public School] 2009-10','Grade 11 Students - Hawaiian Nat./Pacific Isl. - female [Public School] 2009-10','Grade 11 Students - Two or More Races - male [Public School] 2009-10','Grade 11 Students - Two or More Races - female [Public School] 2009-10','Grade 12 Students - American Indian/Alaska Native - male [Public School] 2009-10','Grade 12 Students - American Indian/Alaska Native - female [Public School] 2009-10','Grade 12 Students - Asian or Asian/Pacific Islander - male [Public School] 2009-10','Grade 12 Students - Asian or Asian/Pacific Islander - female [Public School] 2009-10','Grade 12 Students - Hispanic - male [Public School] 2009-10','Grade 12 Students - Hispanic - female [Public School] 2009-10','Grade 12 Students - Black - male [Public School] 2009-10','Grade 12 Students - Black - female [Public School] 2009-10','Grade 12 Students - White - male [Public School] 2009-10','Grade 12 Students - White - female [Public School] 2009-10','Grade 12 Students - Hawaiian Nat./Pacific Isl. - male [Public School] 2009-10','Grade 12 Students - Hawaiian Nat./Pacific Isl. - female [Public School] 2009-10','Grade 12 Students - Two or More Races - male [Public School] 2009-10','Grade 12 Students - Two or More Races - female [Public School] 2009-10','Ungraded Students - American Indian/Alaska Native - male [Public School] 2009-10','Ungraded  Students- American Indian/Alaska Native - female [Public School] 2009-10','Ungraded Students - Asian or Asian/Pacific Islander - male [Public School] 2009-10','Ungraded Students - Asian or Asian/Pacific Islander - female [Public School] 2009-10','Ungraded Students - Hispanic - male [Public School] 2009-10','Ungraded Students - Hispanic - female [Public School] 2009-10','Ungraded Students - Black - male [Public School] 2009-10','Ungraded Students - Black - female [Public School] 2009-10','Ungraded Students - White - male [Public School] 2009-10','Ungraded Students - White - female [Public School] 2009-10','Ungraded Students - Hawaiian Nat./Pacific Isl. - male [Public School] 2009-10','Ungraded Students - Hawaiian Nat./Pacific Isl. - female [Public School] 2009-10','Ungraded Students - Two or More Races - male [Public School] 2009-10','Ungraded Students - Two or More Races - female [Public School] 2009-10','Full-Time Equivalent (FTE) Teachers [District] 2009-10','Full-Time Equivalent (FTE) Teachers [Public School] 2009-10','Pupil/Teacher Ratio [District] 2009-10','Pupil/Teacher Ratio [Public School] 2009-10','Prekindergarten Teachers [District] 2009-10','Kindergarten Teachers [District] 2009-10','Elementary Teachers [District] 2009-10','Secondary Teachers [District] 2009-10','Ungraded Teachers [District] 2009-10','Total Staff [District] 2009-10','Instructional Aides [District] 2009-10','Instructional Coordinators [District] 2009-10','Elementary Guidance Counselors [District] 2009-10','Secondary Guidance Counselors [District] 2009-10','Other Guidance Counselors [District] 2009-10','Total Guidance Counselors [District] 2009-10','Librarians/Media Specialists [District] 2009-10','Library Media Support Staff [District] 2009-10','LEA Administrators [District] 2009-10','LEA Administrative Support Staff [District] 2009-10','School Administrators [District] 2009-10','School Administrative Support Staff [District] 2009-10','Student Support Services Staff [District] 2009-10','Other Support Services Staff [District] 2009-10','Fall Membership (V33) [District Finance] 2009-10','Total General Revenue (TOTALREV) [District Finance] 2009-10','Total Revenue - Local Sources (TLOCREV) [District Finance] 2009-10','Total Revenue - State Sources (TSTREV) [District Finance] 2009-10','Total Revenue - Federal Sources (TFEDREV) [District Finance] 2009-10','Total Current Expenditures - El-Sec Education (TCURELSC) [District Finance] 2009-10','Total Current Expenditures - Instruction (TCURINST) [District Finance] 2009-10','Total Current Expenditures - Support Services (TCURSSVC) [District Finance] 2009-10','Total Current Expenditures - Other El-Sec Programs (TCUROTH) [District Finance] 2009-10','Total Current Expenditures - Salary (Z32) [District Finance] 2009-10','Total Current Expenditures - Benefits (Z34) [District Finance] 2009-10','Total Expenditures (TOTALEXP) [District Finance] 2009-10','Total Expenditures - Capital Outlay (TCAPOUT) [District Finance] 2009-10','Total Current Expenditures - Non El-Sec Programs (TNONELSE) [District Finance] 2009-10','ARRA Revenues - Title I (HR1) [District Finance] 2009-10','Current Expenditures - ARRA (HE1) [District Finance] 2009-10','Capital Outlay - ARRA (HE2) [District Finance] 2009-10','Total Revenue (TOTALREV) per Pupil (V33) [District Finance] 2009-10','Total Revenue - Local Sources (TLOCREV) per Pupil (V33) [District Finance] 2009-10','Total Revenue - State Sources (TSTREV) per Pupil (V33) [District Finance] 2009-10','Total Revenue - Federal Sources (TFEDREV) per Pupil (V33) [District Finance] 2009-10','Total Current Expenditures - Instruction (TCURINST) per Pupil (V33) [District Finance] 2009-10','Total Current Expenditures - Support Services (TCURSSVC) per Pupil (V33) [District Finance] 2009-10','Total Current Expenditures - Other El-Sec Programs (TCUROTH) per Pupil (V33) [District Finance] 2009-10','Total Current Expenditures - Salary (Z32) per Pupil (V33) [District Finance] 2009-10','Total Current Expenditures - Benefits (Z34) per Pupil (V33) [District Finance] 2009-10','Total Expenditures (TOTALEXP) per Pupil (V33) [District Finance] 2009-10','Total Expenditures - Capital Outlay (TCAPOUT) per Pupil (V33) [District Finance] 2009-10','Total Current Expenditures - Non El-Sec Programs (TNONELSE) per Pupil (V33) [District Finance] 2009-10','Total Current Expenditures (TCURELSC) per Pupil (V33) [District Finance] 2009-10','Instructional Expenditures (E13) per Pupil (V33) [District Finance] 2009-10','Total Current Expenditures - Benefits (Z34) as Percentage of Curr El-Sec (TCURELSC) [District Finance] 2009-10','Total Current Expenditures - Instruction (TCURINST) as Percentage of Curr El-SEC (TCURELSC) [District Finance] 2009-10','Total Current Expenditures - Other El-Sec Prog (TCUROTH) as Percentage of Curr El-Sec (TCURELSC) [District Finance] 2009-10','Total Current Expenditures - Salary (Z32) as Percentage of Curr El-Sec (TCURELSC) [District Finance] 2009-10','Total Current Expenditures - Support Services (TCURSSVC) as Percentage of Curr El-Sec (TCURELSC) [District Finance] 2009-10','Total Revenue - Federal Sources (TFEDREV) as Percentage of Total Revenue (TOTALREV) [District Finance] 2009-10','Total Revenue - Local Sources (TLOCREV) as Percentage of Total Revenue (TOTALREV) [District Finance] 2009-10','Total Revenue - State Sources (TSTREV) as Percentage of Total Revenue (TOTALREV) [District Finance] 2009-10','Long Term Debt - Outstanding Beginning of FY (_19H) [District Finance] 2009-10','Long Term Debt - Issued During FY (_21F) [District Finance] 2009-10','Long Term Debt - Retired During FY (_31F) [District Finance] 2009-10','Long Term Debt - Outstanding at End of FY (_41F) [District Finance] 2009-10','Short Term Debt - Outstanding Beginning of FY (_61V) [District Finance] 2009-10','Short Term Debt - Outstanding at End of FY (_66V) [District Finance] 2009-10','Debt Service Funds (W01) [District Finance] 2009-10','Bond Funds (W31) [District Finance] 2009-10','Other Funds (W61) [District Finance] 2009-10','Local Rev. - Property Taxes (T06) [District Finance] 2009-10','Local Rev. - General Sales Taxes (T09) [District Finance] 2009-10','Local Rev. - Public Utility Taxes (T15) [District Finance] 2009-10',]

for col in countcolumns:
    cleaneddistrict[col] = cleaneddistrict[col].replace('', np.nan)
    cleaneddistrict[col] = cleaneddistrict[col].astype(float)

We need to turn many type columns into indicator columns.

In [76]:
#School District Types
cleaneddistrict['i_agency_type_local_school_district'] = np.where(cleaneddistrict['Agency Type [District] 2009-10']=='1-Local school district', 1, 0)
cleaneddistrict['i_agency_type_local_school_district_sup_union'] = np.where(cleaneddistrict['Agency Type [District] 2009-10']=='2-Local school district component of supervisory union', 1, 0)
cleaneddistrict['i_agency_type_sup_union_admin'] = np.where(cleaneddistrict['Agency Type [District] 2009-10']=='3-Supervisory union administrative center', 1, 0)
cleaneddistrict['i_agency_type_regional_education_services'] = np.where(cleaneddistrict['Agency Type [District] 2009-10']=='4-Regional education services agency', 1, 0)
cleaneddistrict['i_agency_type_state_operated_institution'] = np.where(cleaneddistrict['Agency Type [District] 2009-10']=='5-State-operated institution', 1, 0)
cleaneddistrict['i_agency_type_charter_school_agency'] = np.where(cleaneddistrict['Agency Type [District] 2009-10']=='7-Charter school agency', 1, 0)
cleaneddistrict['i_agency_type_other_education_agency'] = np.where(cleaneddistrict['Agency Type [District] 2009-10']=='8-Other education agency', 1, 0)

#School District Level Code
cleaneddistrict['i_fin_sdlc_elem'] = np.where(cleaneddistrict['School District Level Code (SCHLEV) [District Finance] 2009-10']=='01-Elementary school system only', 1, 0)
cleaneddistrict['i_fin_sdlc_sec'] = np.where(cleaneddistrict['School District Level Code (SCHLEV) [District Finance] 2009-10']=='02-Secondary school system only', 1, 0)
cleaneddistrict['i_fin_sdlc_elem_sec'] = np.where(cleaneddistrict['School District Level Code (SCHLEV) [District Finance] 2009-10']=='03-Elementary/secondary school system', 1, 0)
cleaneddistrict['i_fin_sdlc_voc'] = np.where(cleaneddistrict['School District Level Code (SCHLEV) [District Finance] 2009-10']=='05-Vocational or special education school system', 1, 0)
cleaneddistrict['i_fin_sdlc_nonop'] = np.where(cleaneddistrict['School District Level Code (SCHLEV) [District Finance] 2009-10']=='06-Nonoperating school system', 1, 0)
cleaneddistrict['i_fin_sdlc_ed_serv'] = np.where(cleaneddistrict['School District Level Code (SCHLEV) [District Finance] 2009-10']=='07-Educational service agency', 1, 0)

#Urban Centric Locale
cleaneddistrict['i_ucl_city_large'] = np.where(cleaneddistrict['Urban-centric Locale [District] 2009-10']=='11-City: Large', 1, 0)
cleaneddistrict['i_ucl_city_mid'] = np.where(cleaneddistrict['Urban-centric Locale [District] 2009-10']=='12-City: Mid-size', 1, 0)
cleaneddistrict['i_ucl_city_small'] = np.where(cleaneddistrict['Urban-centric Locale [District] 2009-10']=='13-City: Small', 1, 0)
cleaneddistrict['i_ucl_suburb_large'] = np.where(cleaneddistrict['Urban-centric Locale [District] 2009-10']=='21-Suburb: Large', 1, 0)
cleaneddistrict['i_ucl_suburb_mid'] = np.where(cleaneddistrict['Urban-centric Locale [District] 2009-10']=='22-Suburb: Mid-size', 1, 0)
cleaneddistrict['i_ucl_suburb_small'] = np.where(cleaneddistrict['Urban-centric Locale [District] 2009-10']=='23-Suburb: Small', 1, 0)
cleaneddistrict['i_ucl_town_fringe'] = np.where(cleaneddistrict['Urban-centric Locale [District] 2009-10']=='31-Town: Fringe', 1, 0)
cleaneddistrict['i_ucl_town_distant'] = np.where(cleaneddistrict['Urban-centric Locale [District] 2009-10']=='32-Town: Distant', 1, 0)
cleaneddistrict['i_ucl_town_remote'] = np.where(cleaneddistrict['Urban-centric Locale [District] 2009-10']=='33-Town: Remote', 1, 0)
cleaneddistrict['i_ucl_rural_fringe'] = np.where(cleaneddistrict['Urban-centric Locale [District] 2009-10']=='41-Rural: Fringe', 1, 0)
cleaneddistrict['i_ucl_rural_distant'] = np.where(cleaneddistrict['Urban-centric Locale [District] 2009-10']=='42-Rural: Distant', 1, 0)
cleaneddistrict['i_ucl_rural_remote'] = np.where(cleaneddistrict['Urban-centric Locale [District] 2009-10']=='43-Rural: Remote', 1, 0)

#School District Charter Status
cleaneddistrict['i_cs_all_charter'] = np.where(cleaneddistrict['Agency Charter Status [District] 2009-10']=='1-All associated schools are charter schools', 1, 0)
cleaneddistrict['i_cs_charter_noncharter'] = np.where(cleaneddistrict['Agency Charter Status [District] 2009-10']=='2-All associated schools are charter and noncharter', 1, 0)
cleaneddistrict['i_cs_all_noncharter'] = np.where(cleaneddistrict['Agency Charter Status [District] 2009-10']=='3-All associated schools are noncharter', 1, 0)

#Metro Micro Area Code
cleaneddistrict['i_ma_ne_nr'] = np.where(cleaneddistrict['Metro Micro Area Code [District] 2009-10']=='0-New England (NECTA) or not reported', 1, 0)
cleaneddistrict['i_ma_metropolitan'] = np.where(cleaneddistrict['Metro Micro Area Code [District] 2009-10']=='1-Metropolitan Area', 1, 0)
cleaneddistrict['i_ma_micropolitan'] = np.where(cleaneddistrict['Metro Micro Area Code [District] 2009-10']=='2-Micropolitan Area', 1, 0)

#Lowest Grade Offered
cleaneddistrict['i_lgo_10'] = np.where(cleaneddistrict['Lowest Grade Offered [District] 2009-10']=='10th Grade', 1, 0)
cleaneddistrict['i_lgo_11'] = np.where(cleaneddistrict['Lowest Grade Offered [District] 2009-10']=='11th Grade', 1, 0)
cleaneddistrict['i_lgo_12'] = np.where(cleaneddistrict['Lowest Grade Offered [District] 2009-10']=='12th Grade', 1, 0)
cleaneddistrict['i_lgo_1'] = np.where(cleaneddistrict['Lowest Grade Offered [District] 2009-10']=='1st Grade', 1, 0)
cleaneddistrict['i_lgo_2'] = np.where(cleaneddistrict['Lowest Grade Offered [District] 2009-10']=='2nd Grade', 1, 0)
cleaneddistrict['i_lgo_3'] = np.where(cleaneddistrict['Lowest Grade Offered [District] 2009-10']=='3rd Grade', 1, 0)
cleaneddistrict['i_lgo_4'] = np.where(cleaneddistrict['Lowest Grade Offered [District] 2009-10']=='4th Grade', 1, 0)
cleaneddistrict['i_lgo_5'] = np.where(cleaneddistrict['Lowest Grade Offered [District] 2009-10']=='5th Grade', 1, 0)
cleaneddistrict['i_lgo_6'] = np.where(cleaneddistrict['Lowest Grade Offered [District] 2009-10']=='6th Grade', 1, 0)
cleaneddistrict['i_lgo_7'] = np.where(cleaneddistrict['Lowest Grade Offered [District] 2009-10']=='7th Grade', 1, 0)
cleaneddistrict['i_lgo_8'] = np.where(cleaneddistrict['Lowest Grade Offered [District] 2009-10']=='8th Grade', 1, 0)
cleaneddistrict['i_lgo_9'] = np.where(cleaneddistrict['Lowest Grade Offered [District] 2009-10']=='9th Grade', 1, 0)
cleaneddistrict['i_lgo_K'] = np.where(cleaneddistrict['Lowest Grade Offered [District] 2009-10']=='Kindergarten', 1, 0)
cleaneddistrict['i_lgo_PK'] = np.where(cleaneddistrict['Lowest Grade Offered [District] 2009-10']=='Prekindergarten', 1, 0)
cleaneddistrict['i_lgo_U'] = np.where(cleaneddistrict['Lowest Grade Offered [District] 2009-10']=='Ungraded', 1, 0)

#Highest Grade Offered
cleaneddistrict['i_hgo_10'] = np.where(cleaneddistrict['Highest Grade Offered [District] 2009-10']=='10th Grade', 1, 0)
cleaneddistrict['i_hgo_11'] = np.where(cleaneddistrict['Highest Grade Offered [District] 2009-10']=='11th Grade', 1, 0)
cleaneddistrict['i_hgo_12'] = np.where(cleaneddistrict['Highest Grade Offered [District] 2009-10']=='12th Grade', 1, 0)
cleaneddistrict['i_hgo_1'] = np.where(cleaneddistrict['Highest Grade Offered [District] 2009-10']=='1st Grade', 1, 0)
cleaneddistrict['i_hgo_2'] = np.where(cleaneddistrict['Highest Grade Offered [District] 2009-10']=='2nd Grade', 1, 0)
cleaneddistrict['i_hgo_3'] = np.where(cleaneddistrict['Highest Grade Offered [District] 2009-10']=='3rd Grade', 1, 0)
cleaneddistrict['i_hgo_4'] = np.where(cleaneddistrict['Highest Grade Offered [District] 2009-10']=='4th Grade', 1, 0)
cleaneddistrict['i_hgo_5'] = np.where(cleaneddistrict['Highest Grade Offered [District] 2009-10']=='5th Grade', 1, 0)
cleaneddistrict['i_hgo_6'] = np.where(cleaneddistrict['Highest Grade Offered [District] 2009-10']=='6th Grade', 1, 0)
cleaneddistrict['i_hgo_7'] = np.where(cleaneddistrict['Highest Grade Offered [District] 2009-10']=='7th Grade', 1, 0)
cleaneddistrict['i_hgo_8'] = np.where(cleaneddistrict['Highest Grade Offered [District] 2009-10']=='8th Grade', 1, 0)
cleaneddistrict['i_hgo_9'] = np.where(cleaneddistrict['Highest Grade Offered [District] 2009-10']=='9th Grade', 1, 0)
cleaneddistrict['i_hgo_K'] = np.where(cleaneddistrict['Highest Grade Offered [District] 2009-10']=='Kindergarten', 1, 0)
cleaneddistrict['i_hgo_PK'] = np.where(cleaneddistrict['Highest Grade Offered [District] 2009-10']=='Prekindergarten', 1, 0)
cleaneddistrict['i_hgo_U'] = np.where(cleaneddistrict['Highest Grade Offered [District] 2009-10']=='Ungraded', 1, 0)

Need to turn counts into ratios.

In [78]:
cleaneddistrict['r_ELL'] = cleaneddistrict['Limited English Proficient (LEP) / English Language Learners (ELL) [District] 2009-10']/cleaneddistrict['Total Students (UG PK-12) [District] 2009-10']
cleaneddistrict['r_IEP'] = cleaneddistrict['Individualized Education Program Students [District] 2009-10']/cleaneddistrict['Total Students (UG PK-12) [District] 2009-10']
cleaneddistrict['r_lunch_free'] = cleaneddistrict['Free Lunch Eligible [Public School] 2009-10']/cleaneddistrict['Total Students [Public School] 2009-10']
cleaneddistrict['r_lunch_reduced'] = cleaneddistrict['Reduced-price Lunch Eligible Students [Public School] 2009-10']/cleaneddistrict['Total Students [Public School] 2009-10']
cleaneddistrict['r_stud_PKK'] = cleaneddistrict['Prekindergarten and Kindergarten Students [Public School] 2009-10']/cleaneddistrict['Total Students [Public School] 2009-10']
cleaneddistrict['r_stud_18'] = cleaneddistrict['Grades 1-8 Students [Public School] 2009-10']/cleaneddistrict['Total Students [Public School] 2009-10']
cleaneddistrict['r_stud_912'] = cleaneddistrict['Grades 9-12 Students [Public School] 2009-10']/cleaneddistrict['Total Students [Public School] 2009-10']
cleaneddistrict['r_stud_PK'] = cleaneddistrict['Prekindergarten Students [Public School] 2009-10']/cleaneddistrict['Total Students [Public School] 2009-10']
cleaneddistrict['r_stud_K'] = cleaneddistrict['Kindergarten Students [Public School] 2009-10']/cleaneddistrict['Total Students [Public School] 2009-10']
cleaneddistrict['r_stud_1'] = cleaneddistrict['Grade 1 Students [Public School] 2009-10']/cleaneddistrict['Total Students [Public School] 2009-10']
cleaneddistrict['r_stud_2'] = cleaneddistrict['Grade 2 Students [Public School] 2009-10']/cleaneddistrict['Total Students [Public School] 2009-10']
cleaneddistrict['r_stud_3'] = cleaneddistrict['Grade 3 Students [Public School] 2009-10']/cleaneddistrict['Total Students [Public School] 2009-10']
cleaneddistrict['r_stud_4'] = cleaneddistrict['Grade 4 Students [Public School] 2009-10']/cleaneddistrict['Total Students [Public School] 2009-10']
cleaneddistrict['r_stud_5'] = cleaneddistrict['Grade 5 Students [Public School] 2009-10']/cleaneddistrict['Total Students [Public School] 2009-10']
cleaneddistrict['r_stud_6'] = cleaneddistrict['Grade 6 Students [Public School] 2009-10']/cleaneddistrict['Total Students [Public School] 2009-10']
cleaneddistrict['r_stud_7'] = cleaneddistrict['Grade 7 Students [Public School] 2009-10']/cleaneddistrict['Total Students [Public School] 2009-10']
cleaneddistrict['r_stud_8'] = cleaneddistrict['Grade 8 Students [Public School] 2009-10']/cleaneddistrict['Total Students [Public School] 2009-10']
cleaneddistrict['r_stud_9'] = cleaneddistrict['Grade 9 Students [Public School] 2009-10']/cleaneddistrict['Total Students [Public School] 2009-10']
cleaneddistrict['r_stud_10'] = cleaneddistrict['Grade 10 Students [Public School] 2009-10']/cleaneddistrict['Total Students [Public School] 2009-10']
cleaneddistrict['r_stud_11'] = cleaneddistrict['Grade 11 Students [Public School] 2009-10']/cleaneddistrict['Total Students [Public School] 2009-10']
cleaneddistrict['r_stud_12'] = cleaneddistrict['Grade 12 Students [Public School] 2009-10']/cleaneddistrict['Total Students [Public School] 2009-10']
cleaneddistrict['r_stud_U'] = cleaneddistrict['Ungraded Students [Public School] 2009-10']/cleaneddistrict['Total Students [Public School] 2009-10']
cleaneddistrict['r_stud_re_M'] = cleaneddistrict['Male Students [Public School] 2009-10']/cleaneddistrict['Total Students [Public School] 2009-10']
cleaneddistrict['r_stud_re_F'] = cleaneddistrict['Female Students [Public School] 2009-10']/cleaneddistrict['Total Students [Public School] 2009-10']
cleaneddistrict['r_stud_re_AIAN'] = cleaneddistrict['American Indian/Alaska Native Students [Public School] 2009-10']/cleaneddistrict['Total Students [Public School] 2009-10']
cleaneddistrict['r_stud_re_AAP'] = cleaneddistrict['Asian or Asian/Pacific Islander Students [Public School] 2009-10']/cleaneddistrict['Total Students [Public School] 2009-10']
cleaneddistrict['r_stud_re_H'] = cleaneddistrict['Hispanic Students [Public School] 2009-10']/cleaneddistrict['Total Students [Public School] 2009-10']
cleaneddistrict['r_stud_re_B'] = cleaneddistrict['Black Students [Public School] 2009-10']/cleaneddistrict['Total Students [Public School] 2009-10']
cleaneddistrict['r_stud_re_W'] = cleaneddistrict['White Students [Public School] 2009-10']/cleaneddistrict['Total Students [Public School] 2009-10']
cleaneddistrict['r_stud_re_HNPI'] = cleaneddistrict['Hawaiian Nat./Pacific Isl. Students [Public School] 2009-10']/cleaneddistrict['Total Students [Public School] 2009-10']
cleaneddistrict['r_stud_re_Two'] = cleaneddistrict['Two or More Races Students [Public School] 2009-10']/cleaneddistrict['Total Students [Public School] 2009-10']
cleaneddistrict['r_stud_re_Total'] = cleaneddistrict['Total Race/Ethnicity [Public School] 2009-10']/cleaneddistrict['Total Students [Public School] 2009-10']
cleaneddistrict['r_stud_reg_PK_AIAN_M'] = cleaneddistrict['Prekindergarten Students - American Indian/Alaska Native - male [Public School] 2009-10']/cleaneddistrict['Total Students [Public School] 2009-10']
cleaneddistrict['r_stud_reg_PK_AIAN_F'] = cleaneddistrict['Prekindergarten Students - American Indian/Alaska Native - female [Public School] 2009-10']/cleaneddistrict['Total Students [Public School] 2009-10']
cleaneddistrict['r_stud_reg_PK_AAP_M'] = cleaneddistrict['Prekindergarten Students - Asian or Asian/Pacific Islander - male [Public School] 2009-10']/cleaneddistrict['Total Students [Public School] 2009-10']
cleaneddistrict['r_stud_reg_PK_AAP_F'] = cleaneddistrict['Prekindergarten Students - Asian or Asian/Pacific Islander - female [Public School] 2009-10']/cleaneddistrict['Total Students [Public School] 2009-10']
cleaneddistrict['r_stud_reg_PK_H_M'] = cleaneddistrict['Prekindergarten Students - Hispanic - male [Public School] 2009-10']/cleaneddistrict['Total Students [Public School] 2009-10']
cleaneddistrict['r_stud_reg_PK_H_F'] = cleaneddistrict['Prekindergarten Students - Hispanic - female [Public School] 2009-10']/cleaneddistrict['Total Students [Public School] 2009-10']
cleaneddistrict['r_stud_reg_PK_B_M'] = cleaneddistrict['Prekindergarten Students - Black - male [Public School] 2009-10']/cleaneddistrict['Total Students [Public School] 2009-10']
cleaneddistrict['r_stud_reg_PK_B_F'] = cleaneddistrict['Prekindergarten Students - Black - female [Public School] 2009-10']/cleaneddistrict['Total Students [Public School] 2009-10']
cleaneddistrict['r_stud_reg_PK_W_M'] = cleaneddistrict['Prekindergarten Students - White - male [Public School] 2009-10']/cleaneddistrict['Total Students [Public School] 2009-10']
cleaneddistrict['r_stud_reg_PK_W_F'] = cleaneddistrict['Prekindergarten Students - White - female [Public School] 2009-10']/cleaneddistrict['Total Students [Public School] 2009-10']
cleaneddistrict['r_stud_reg_PK_HNPI_M'] = cleaneddistrict['Kindergarten Students - Hawaiian Nat./Pacific Isl. - male [Public School] 2009-10']/cleaneddistrict['Total Students [Public School] 2009-10']
cleaneddistrict['r_stud_reg_PK_HNPI_F'] = cleaneddistrict['Kindergarten Students - Hawaiian Nat./Pacific Isl. - female [Public School] 2009-10']/cleaneddistrict['Total Students [Public School] 2009-10']
cleaneddistrict['r_stud_reg_PK_Two_M'] = cleaneddistrict['Kindergarten Students - Two or More Races - male [Public School] 2009-10']/cleaneddistrict['Total Students [Public School] 2009-10']
cleaneddistrict['r_stud_reg_PK_Two_F'] = cleaneddistrict['Kindergarten Students - Two or More Races - female [Public School] 2009-10']/cleaneddistrict['Total Students [Public School] 2009-10']
cleaneddistrict['r_stud_reg_K_AIAN_M'] = cleaneddistrict['Kindergarten Students - American Indian/Alaska Native - male [Public School] 2009-10']/cleaneddistrict['Total Students [Public School] 2009-10']
cleaneddistrict['r_stud_reg_K_AIAN_F'] = cleaneddistrict['Kindergarten Students - American Indian/Alaska Native - female [Public School] 2009-10']/cleaneddistrict['Total Students [Public School] 2009-10']
cleaneddistrict['r_stud_reg_K_AAP_M'] = cleaneddistrict['Kindergarten Students - Asian or Asian/Pacific Islander - male [Public School] 2009-10']/cleaneddistrict['Total Students [Public School] 2009-10']
cleaneddistrict['r_stud_reg_K_AAP_F'] = cleaneddistrict['Kindergarten Students - Asian or Asian/Pacific Islander - female [Public School] 2009-10']/cleaneddistrict['Total Students [Public School] 2009-10']
cleaneddistrict['r_stud_reg_K_H_M'] = cleaneddistrict['Kindergarten Students - Hispanic - male [Public School] 2009-10']/cleaneddistrict['Total Students [Public School] 2009-10']
cleaneddistrict['r_stud_reg_K_H_F'] = cleaneddistrict['Kindergarten Students - Hispanic - female [Public School] 2009-10']/cleaneddistrict['Total Students [Public School] 2009-10']
cleaneddistrict['r_stud_reg_K_B_M'] = cleaneddistrict['Kindergarten Students - Black - male [Public School] 2009-10']/cleaneddistrict['Total Students [Public School] 2009-10']
cleaneddistrict['r_stud_reg_K_B_F'] = cleaneddistrict['Kindergarten Students - Black - female [Public School] 2009-10']/cleaneddistrict['Total Students [Public School] 2009-10']
cleaneddistrict['r_stud_reg_K_W_M'] = cleaneddistrict['Kindergarten Students - White - male [Public School] 2009-10']/cleaneddistrict['Total Students [Public School] 2009-10']
cleaneddistrict['r_stud_reg_K_W_F'] = cleaneddistrict['Kindergarten Students - White - female [Public School] 2009-10']/cleaneddistrict['Total Students [Public School] 2009-10']
cleaneddistrict['r_stud_reg_K_HNPI_M'] = cleaneddistrict['Kindergarten Students - Hawaiian Nat./Pacific Isl. - male [Public School] 2009-10']/cleaneddistrict['Total Students [Public School] 2009-10']
cleaneddistrict['r_stud_reg_K_HNPI_F'] = cleaneddistrict['Kindergarten Students - Hawaiian Nat./Pacific Isl. - female [Public School] 2009-10']/cleaneddistrict['Total Students [Public School] 2009-10']
cleaneddistrict['r_stud_reg_K_Two_M'] = cleaneddistrict['Kindergarten Students - Two or More Races - male [Public School] 2009-10']/cleaneddistrict['Total Students [Public School] 2009-10']
cleaneddistrict['r_stud_reg_K_Two_F'] = cleaneddistrict['Kindergarten Students - Two or More Races - female [Public School] 2009-10']/cleaneddistrict['Total Students [Public School] 2009-10']
cleaneddistrict['r_stud_reg_1_AIAN_M'] = cleaneddistrict['Grade 1 Students - American Indian/Alaska Native - male [Public School] 2009-10']/cleaneddistrict['Total Students [Public School] 2009-10']
cleaneddistrict['r_stud_reg_1_AIAN_F'] = cleaneddistrict['Grade 1 Students - American Indian/Alaska Native - female [Public School] 2009-10']/cleaneddistrict['Total Students [Public School] 2009-10']
cleaneddistrict['r_stud_reg_1_AAP_M'] = cleaneddistrict['Grade 1 Students - Asian or Asian/Pacific Islander - male [Public School] 2009-10']/cleaneddistrict['Total Students [Public School] 2009-10']
cleaneddistrict['r_stud_reg_1_AAP_F'] = cleaneddistrict['Grade 1 Students - Asian or Asian/Pacific Islander - female [Public School] 2009-10']/cleaneddistrict['Total Students [Public School] 2009-10']
cleaneddistrict['r_stud_reg_1_H_M'] = cleaneddistrict['Grade 1 Students - Hispanic - male [Public School] 2009-10']/cleaneddistrict['Total Students [Public School] 2009-10']
cleaneddistrict['r_stud_reg_1_H_F'] = cleaneddistrict['Grade 1 Students - Hispanic - female [Public School] 2009-10']/cleaneddistrict['Total Students [Public School] 2009-10']
cleaneddistrict['r_stud_reg_1_B_M'] = cleaneddistrict['Grade 1 Students - Black - male [Public School] 2009-10']/cleaneddistrict['Total Students [Public School] 2009-10']
cleaneddistrict['r_stud_reg_1_B_F'] = cleaneddistrict['Grade 1 Students - Black - female [Public School] 2009-10']/cleaneddistrict['Total Students [Public School] 2009-10']
cleaneddistrict['r_stud_reg_1_W_M'] = cleaneddistrict['Grade 1 Students - White - male [Public School] 2009-10']/cleaneddistrict['Total Students [Public School] 2009-10']
cleaneddistrict['r_stud_reg_1_W_F'] = cleaneddistrict['Grade 1 Students - White - female [Public School] 2009-10']/cleaneddistrict['Total Students [Public School] 2009-10']
cleaneddistrict['r_stud_reg_1_HNPI_M'] = cleaneddistrict['Grade 1 Students - Hawaiian Nat./Pacific Isl. - male [Public School] 2009-10']/cleaneddistrict['Total Students [Public School] 2009-10']
cleaneddistrict['r_stud_reg_1_HNPI_F'] = cleaneddistrict['Grade 1 Students - Hawaiian Nat./Pacific Isl. - female [Public School] 2009-10']/cleaneddistrict['Total Students [Public School] 2009-10']
cleaneddistrict['r_stud_reg_1_Two_M'] = cleaneddistrict['Grade 1 Students - Two or More Races - male [Public School] 2009-10']/cleaneddistrict['Total Students [Public School] 2009-10']
cleaneddistrict['r_stud_reg_1_Two_F'] = cleaneddistrict['Grade 1 Students - Two or More Races - female [Public School] 2009-10']/cleaneddistrict['Total Students [Public School] 2009-10']
cleaneddistrict['r_stud_reg_2_AIAN_M'] = cleaneddistrict['Grade 2 Students - American Indian/Alaska Native - male [Public School] 2009-10']/cleaneddistrict['Total Students [Public School] 2009-10']
cleaneddistrict['r_stud_reg_2_AIAN_F'] = cleaneddistrict['Grade 2 Students - American Indian/Alaska Native - female [Public School] 2009-10']/cleaneddistrict['Total Students [Public School] 2009-10']
cleaneddistrict['r_stud_reg_2_AAP_M'] = cleaneddistrict['Grade 2 Students - Asian or Asian/Pacific Islander - male [Public School] 2009-10']/cleaneddistrict['Total Students [Public School] 2009-10']
cleaneddistrict['r_stud_reg_2_AAP_F'] = cleaneddistrict['Grade 2 Students - Asian or Asian/Pacific Islander - female [Public School] 2009-10']/cleaneddistrict['Total Students [Public School] 2009-10']
cleaneddistrict['r_stud_reg_2_H_M'] = cleaneddistrict['Grade 2 Students - Hispanic - male [Public School] 2009-10']/cleaneddistrict['Total Students [Public School] 2009-10']
cleaneddistrict['r_stud_reg_2_H_F'] = cleaneddistrict['Grade 2 Students - Hispanic - female [Public School] 2009-10']/cleaneddistrict['Total Students [Public School] 2009-10']
cleaneddistrict['r_stud_reg_2_B_M'] = cleaneddistrict['Grade 2 Students - Black - male [Public School] 2009-10']/cleaneddistrict['Total Students [Public School] 2009-10']
cleaneddistrict['r_stud_reg_2_B_F'] = cleaneddistrict['Grade 2 Students - Black - female [Public School] 2009-10']/cleaneddistrict['Total Students [Public School] 2009-10']
cleaneddistrict['r_stud_reg_2_W_M'] = cleaneddistrict['Grade 2 Students - White - male [Public School] 2009-10']/cleaneddistrict['Total Students [Public School] 2009-10']
cleaneddistrict['r_stud_reg_2_W_F'] = cleaneddistrict['Grade 2 Students - White - female [Public School] 2009-10']/cleaneddistrict['Total Students [Public School] 2009-10']
cleaneddistrict['r_stud_reg_2_HNPI_M'] = cleaneddistrict['Grade 2 Students - Hawaiian Nat./Pacific Isl. - male [Public School] 2009-10']/cleaneddistrict['Total Students [Public School] 2009-10']
cleaneddistrict['r_stud_reg_2_HNPI_F'] = cleaneddistrict['Grade 2 Students - Hawaiian Nat./Pacific Isl. - female [Public School] 2009-10']/cleaneddistrict['Total Students [Public School] 2009-10']
cleaneddistrict['r_stud_reg_2_Two_M'] = cleaneddistrict['Grade 2 Students - Two or More Races - male [Public School] 2009-10']/cleaneddistrict['Total Students [Public School] 2009-10']
cleaneddistrict['r_stud_reg_2_Two_F'] = cleaneddistrict['Grade 2 Students - Two or More Races - female [Public School] 2009-10']/cleaneddistrict['Total Students [Public School] 2009-10']
cleaneddistrict['r_stud_reg_3_AIAN_M'] = cleaneddistrict['Grade 3 Students - American Indian/Alaska Native - male [Public School] 2009-10']/cleaneddistrict['Total Students [Public School] 2009-10']
cleaneddistrict['r_stud_reg_3_AIAN_F'] = cleaneddistrict['Grade 3 Students - American Indian/Alaska Native - female [Public School] 2009-10']/cleaneddistrict['Total Students [Public School] 2009-10']
cleaneddistrict['r_stud_reg_3_AAP_M'] = cleaneddistrict['Grade 3 Students - Asian or Asian/Pacific Islander - male [Public School] 2009-10']/cleaneddistrict['Total Students [Public School] 2009-10']
cleaneddistrict['r_stud_reg_3_AAP_F'] = cleaneddistrict['Grade 3 Students - Asian or Asian/Pacific Islander - female [Public School] 2009-10']/cleaneddistrict['Total Students [Public School] 2009-10']
cleaneddistrict['r_stud_reg_3_H_M'] = cleaneddistrict['Grade 3 Students - Hispanic - male [Public School] 2009-10']/cleaneddistrict['Total Students [Public School] 2009-10']
cleaneddistrict['r_stud_reg_3_H_F'] = cleaneddistrict['Grade 3 Students - Hispanic - female [Public School] 2009-10']/cleaneddistrict['Total Students [Public School] 2009-10']
cleaneddistrict['r_stud_reg_3_B_M'] = cleaneddistrict['Grade 3 Students - Black - male [Public School] 2009-10']/cleaneddistrict['Total Students [Public School] 2009-10']
cleaneddistrict['r_stud_reg_3_B_F'] = cleaneddistrict['Grade 3 Students - Black - female [Public School] 2009-10']/cleaneddistrict['Total Students [Public School] 2009-10']
cleaneddistrict['r_stud_reg_3_W_M'] = cleaneddistrict['Grade 3 Students - White - male [Public School] 2009-10']/cleaneddistrict['Total Students [Public School] 2009-10']
cleaneddistrict['r_stud_reg_3_W_F'] = cleaneddistrict['Grade 3 Students - White - female [Public School] 2009-10']/cleaneddistrict['Total Students [Public School] 2009-10']
cleaneddistrict['r_stud_reg_3_HNPI_M'] = cleaneddistrict['Grade 3 Students - Hawaiian Nat./Pacific Isl. - male [Public School] 2009-10']/cleaneddistrict['Total Students [Public School] 2009-10']
cleaneddistrict['r_stud_reg_3_HNPI_F'] = cleaneddistrict['Grade 3 Students - Hawaiian Nat./Pacific Isl. - female [Public School] 2009-10']/cleaneddistrict['Total Students [Public School] 2009-10']
cleaneddistrict['r_stud_reg_3_Two_M'] = cleaneddistrict['Grade 3 Students - Two or More Races - male [Public School] 2009-10']/cleaneddistrict['Total Students [Public School] 2009-10']
cleaneddistrict['r_stud_reg_3_Two_F'] = cleaneddistrict['Grade 3 Students - Two or More Races - female [Public School] 2009-10']/cleaneddistrict['Total Students [Public School] 2009-10']
cleaneddistrict['r_stud_reg_4_AIAN_M'] = cleaneddistrict['Grade 4 Students - American Indian/Alaska Native - male [Public School] 2009-10']/cleaneddistrict['Total Students [Public School] 2009-10']
cleaneddistrict['r_stud_reg_4_AIAN_F'] = cleaneddistrict['Grade 4 Students - American Indian/Alaska Native - female [Public School] 2009-10']/cleaneddistrict['Total Students [Public School] 2009-10']
cleaneddistrict['r_stud_reg_4_AAP_M'] = cleaneddistrict['Grade 4 Students - Asian or Asian/Pacific Islander - male [Public School] 2009-10']/cleaneddistrict['Total Students [Public School] 2009-10']
cleaneddistrict['r_stud_reg_4_AAP_F'] = cleaneddistrict['Grade 4 Students - Asian or Asian/Pacific Islander - female [Public School] 2009-10']/cleaneddistrict['Total Students [Public School] 2009-10']
cleaneddistrict['r_stud_reg_4_H_M'] = cleaneddistrict['Grade 4  Students - Hispanic - male [Public School] 2009-10']/cleaneddistrict['Total Students [Public School] 2009-10']
cleaneddistrict['r_stud_reg_4_H_F'] = cleaneddistrict['Grade 4 Students - Hispanic - female [Public School] 2009-10']/cleaneddistrict['Total Students [Public School] 2009-10']
cleaneddistrict['r_stud_reg_4_B_M'] = cleaneddistrict['Grade 4 Students - Black - male [Public School] 2009-10']/cleaneddistrict['Total Students [Public School] 2009-10']
cleaneddistrict['r_stud_reg_4_B_F'] = cleaneddistrict['Grade 4 Students - Black - female [Public School] 2009-10']/cleaneddistrict['Total Students [Public School] 2009-10']
cleaneddistrict['r_stud_reg_4_W_M'] = cleaneddistrict['Grade 4 Students - White - male [Public School] 2009-10']/cleaneddistrict['Total Students [Public School] 2009-10']
cleaneddistrict['r_stud_reg_4_W_F'] = cleaneddistrict['Grade 4 Students - White - female [Public School] 2009-10']/cleaneddistrict['Total Students [Public School] 2009-10']
cleaneddistrict['r_stud_reg_4_HNPI_M'] = cleaneddistrict['Grade 4 Students - Hawaiian Nat./Pacific Isl. - male [Public School] 2009-10']/cleaneddistrict['Total Students [Public School] 2009-10']
cleaneddistrict['r_stud_reg_4_HNPI_F'] = cleaneddistrict['Grade 4 Students - Hawaiian Nat./Pacific Isl. - female [Public School] 2009-10']/cleaneddistrict['Total Students [Public School] 2009-10']
cleaneddistrict['r_stud_reg_4_Two_M'] = cleaneddistrict['Grade 4 Students - Two or More Races - male [Public School] 2009-10']/cleaneddistrict['Total Students [Public School] 2009-10']
cleaneddistrict['r_stud_reg_4_Two_F'] = cleaneddistrict['Grade 4 Students - Two or More Races - female [Public School] 2009-10']/cleaneddistrict['Total Students [Public School] 2009-10']
cleaneddistrict['r_stud_reg_5_AIAN_M'] = cleaneddistrict['Grade 5 Students - American Indian/Alaska Native - male [Public School] 2009-10']/cleaneddistrict['Total Students [Public School] 2009-10']
cleaneddistrict['r_stud_reg_5_AIAN_F'] = cleaneddistrict['Grade 5 Students - American Indian/Alaska Native - female [Public School] 2009-10']/cleaneddistrict['Total Students [Public School] 2009-10']
cleaneddistrict['r_stud_reg_5_AAP_M'] = cleaneddistrict['Grade 5 Students - Asian or Asian/Pacific Islander - male [Public School] 2009-10']/cleaneddistrict['Total Students [Public School] 2009-10']
cleaneddistrict['r_stud_reg_5_AAP_F'] = cleaneddistrict['Grade 5 Students - Asian or Asian/Pacific Islander - female [Public School] 2009-10']/cleaneddistrict['Total Students [Public School] 2009-10']
cleaneddistrict['r_stud_reg_5_H_M'] = cleaneddistrict['Grade 5 Students - Hispanic - male [Public School] 2009-10']/cleaneddistrict['Total Students [Public School] 2009-10']
cleaneddistrict['r_stud_reg_5_H_F'] = cleaneddistrict['Grade 5 Students - Hispanic - female [Public School] 2009-10']/cleaneddistrict['Total Students [Public School] 2009-10']
cleaneddistrict['r_stud_reg_5_B_M'] = cleaneddistrict['Grade 5 Students - Black - male [Public School] 2009-10']/cleaneddistrict['Total Students [Public School] 2009-10']
cleaneddistrict['r_stud_reg_5_B_F'] = cleaneddistrict['Grade 5 Students - Black - female [Public School] 2009-10']/cleaneddistrict['Total Students [Public School] 2009-10']
cleaneddistrict['r_stud_reg_5_W_M'] = cleaneddistrict['Grade 5 Students - White - male [Public School] 2009-10']/cleaneddistrict['Total Students [Public School] 2009-10']
cleaneddistrict['r_stud_reg_5_W_F'] = cleaneddistrict['Grade 5 Students - White - female [Public School] 2009-10']/cleaneddistrict['Total Students [Public School] 2009-10']
cleaneddistrict['r_stud_reg_5_HNPI_M'] = cleaneddistrict['Grade 5 Students - Hawaiian Nat./Pacific Isl. - male [Public School] 2009-10']/cleaneddistrict['Total Students [Public School] 2009-10']
cleaneddistrict['r_stud_reg_5_HNPI_F'] = cleaneddistrict['Grade 5 Students - Hawaiian Nat./Pacific Isl. - female [Public School] 2009-10']/cleaneddistrict['Total Students [Public School] 2009-10']
cleaneddistrict['r_stud_reg_5_Two_M'] = cleaneddistrict['Grade 5 Students - Two or More Races - male [Public School] 2009-10']/cleaneddistrict['Total Students [Public School] 2009-10']
cleaneddistrict['r_stud_reg_5_Two_F'] = cleaneddistrict['Grade 5 Students - Two or More Races - female [Public School] 2009-10']/cleaneddistrict['Total Students [Public School] 2009-10']
cleaneddistrict['r_stud_reg_6_AIAN_M'] = cleaneddistrict['Grade 6 Students - American Indian/Alaska Native - male [Public School] 2009-10']/cleaneddistrict['Total Students [Public School] 2009-10']
cleaneddistrict['r_stud_reg_6_AIAN_F'] = cleaneddistrict['Grade 6 Students - American Indian/Alaska Native - female [Public School] 2009-10']/cleaneddistrict['Total Students [Public School] 2009-10']
cleaneddistrict['r_stud_reg_6_AAP_M'] = cleaneddistrict['Grade 6 Students - Asian or Asian/Pacific Islander - male [Public School] 2009-10']/cleaneddistrict['Total Students [Public School] 2009-10']
cleaneddistrict['r_stud_reg_6_AAP_F'] = cleaneddistrict['Grade 6 Students - Asian or Asian/Pacific Islander - female [Public School] 2009-10']/cleaneddistrict['Total Students [Public School] 2009-10']
cleaneddistrict['r_stud_reg_6_H_M'] = cleaneddistrict['Grade 6 Students - Hispanic - male [Public School] 2009-10']/cleaneddistrict['Total Students [Public School] 2009-10']
cleaneddistrict['r_stud_reg_6_H_F'] = cleaneddistrict['Grade 6 Students - Hispanic - female [Public School] 2009-10']/cleaneddistrict['Total Students [Public School] 2009-10']
cleaneddistrict['r_stud_reg_6_B_M'] = cleaneddistrict['Grade 6 Students - Black - male [Public School] 2009-10']/cleaneddistrict['Total Students [Public School] 2009-10']
cleaneddistrict['r_stud_reg_6_B_F'] = cleaneddistrict['Grade 6 Students - Black - female [Public School] 2009-10']/cleaneddistrict['Total Students [Public School] 2009-10']
cleaneddistrict['r_stud_reg_6_W_M'] = cleaneddistrict['Grade 6 Students - White - male [Public School] 2009-10']/cleaneddistrict['Total Students [Public School] 2009-10']
cleaneddistrict['r_stud_reg_6_W_F'] = cleaneddistrict['Grade 6 Students - White - female [Public School] 2009-10']/cleaneddistrict['Total Students [Public School] 2009-10']
cleaneddistrict['r_stud_reg_6_HNPI_M'] = cleaneddistrict['Grade 6 Students - Hawaiian Nat./Pacific Isl. - male [Public School] 2009-10']/cleaneddistrict['Total Students [Public School] 2009-10']
cleaneddistrict['r_stud_reg_6_HNPI_F'] = cleaneddistrict['Grade 6 Students - Hawaiian Nat./Pacific Isl. - female [Public School] 2009-10']/cleaneddistrict['Total Students [Public School] 2009-10']
cleaneddistrict['r_stud_reg_6_Two_M'] = cleaneddistrict['Grade 6  Students- Two or More Races - male [Public School] 2009-10']/cleaneddistrict['Total Students [Public School] 2009-10']
cleaneddistrict['r_stud_reg_6_Two_F'] = cleaneddistrict['Grade 6 Students - Two or More Races - female [Public School] 2009-10']/cleaneddistrict['Total Students [Public School] 2009-10']
cleaneddistrict['r_stud_reg_7_AIAN_M'] = cleaneddistrict['Grade 7 Students - American Indian/Alaska Native - male [Public School] 2009-10']/cleaneddistrict['Total Students [Public School] 2009-10']
cleaneddistrict['r_stud_reg_7_AIAN_F'] = cleaneddistrict['Grade 7 Students - American Indian/Alaska Native - female [Public School] 2009-10']/cleaneddistrict['Total Students [Public School] 2009-10']
cleaneddistrict['r_stud_reg_7_AAP_M'] = cleaneddistrict['Grade 7 Students - Asian or Asian/Pacific Islander - male [Public School] 2009-10']/cleaneddistrict['Total Students [Public School] 2009-10']
cleaneddistrict['r_stud_reg_7_AAP_F'] = cleaneddistrict['Grade 7 Students - Asian or Asian/Pacific Islander - female [Public School] 2009-10']/cleaneddistrict['Total Students [Public School] 2009-10']
cleaneddistrict['r_stud_reg_7_H_M'] = cleaneddistrict['Grade 7 Students - Hispanic - male [Public School] 2009-10']/cleaneddistrict['Total Students [Public School] 2009-10']
cleaneddistrict['r_stud_reg_7_H_F'] = cleaneddistrict['Grade 7 Students - Hispanic - female [Public School] 2009-10']/cleaneddistrict['Total Students [Public School] 2009-10']
cleaneddistrict['r_stud_reg_7_B_M'] = cleaneddistrict['Grade 7 Students - Black - male [Public School] 2009-10']/cleaneddistrict['Total Students [Public School] 2009-10']
cleaneddistrict['r_stud_reg_7_B_F'] = cleaneddistrict['Grade 7 Students - Black - female [Public School] 2009-10']/cleaneddistrict['Total Students [Public School] 2009-10']
cleaneddistrict['r_stud_reg_7_W_M'] = cleaneddistrict['Grade 7 Students - White - male [Public School] 2009-10']/cleaneddistrict['Total Students [Public School] 2009-10']
cleaneddistrict['r_stud_reg_7_W_F'] = cleaneddistrict['Grade 7 Students - White - female [Public School] 2009-10']/cleaneddistrict['Total Students [Public School] 2009-10']
cleaneddistrict['r_stud_reg_7_HNPI_M'] = cleaneddistrict['Grade 7 Students - Hawaiian Nat./Pacific Isl. - male [Public School] 2009-10']/cleaneddistrict['Total Students [Public School] 2009-10']
cleaneddistrict['r_stud_reg_7_HNPI_F'] = cleaneddistrict['Grade 7 Students - Hawaiian Nat./Pacific Isl. - female [Public School] 2009-10']/cleaneddistrict['Total Students [Public School] 2009-10']
cleaneddistrict['r_stud_reg_7_Two_M'] = cleaneddistrict['Grade 7 Students - Two or More Races - male [Public School] 2009-10']/cleaneddistrict['Total Students [Public School] 2009-10']
cleaneddistrict['r_stud_reg_7_Two_F'] = cleaneddistrict['Grade 7 Students - Two or More Races - female [Public School] 2009-10']/cleaneddistrict['Total Students [Public School] 2009-10']
cleaneddistrict['r_stud_reg_8_AIAN_M'] = cleaneddistrict['Grade 8 Students - American Indian/Alaska Native - male [Public School] 2009-10']/cleaneddistrict['Total Students [Public School] 2009-10']
cleaneddistrict['r_stud_reg_8_AIAN_F'] = cleaneddistrict['Grade 8 Students - American Indian/Alaska Native - female [Public School] 2009-10']/cleaneddistrict['Total Students [Public School] 2009-10']
cleaneddistrict['r_stud_reg_8_AAP_M'] = cleaneddistrict['Grade 8 Students - Asian or Asian/Pacific Islander - male [Public School] 2009-10']/cleaneddistrict['Total Students [Public School] 2009-10']
cleaneddistrict['r_stud_reg_8_AAP_F'] = cleaneddistrict['Grade 8 Students - Asian or Asian/Pacific Islander - female [Public School] 2009-10']/cleaneddistrict['Total Students [Public School] 2009-10']
cleaneddistrict['r_stud_reg_8_H_M'] = cleaneddistrict['Grade 8  Students- Hispanic - male [Public School] 2009-10']/cleaneddistrict['Total Students [Public School] 2009-10']
cleaneddistrict['r_stud_reg_8_H_F'] = cleaneddistrict['Grade 8 Students - Hispanic - female [Public School] 2009-10']/cleaneddistrict['Total Students [Public School] 2009-10']
cleaneddistrict['r_stud_reg_8_B_M'] = cleaneddistrict['Grade 8 Students - Black - male [Public School] 2009-10']/cleaneddistrict['Total Students [Public School] 2009-10']
cleaneddistrict['r_stud_reg_8_B_F'] = cleaneddistrict['Grade 8 Students - Black - female [Public School] 2009-10']/cleaneddistrict['Total Students [Public School] 2009-10']
cleaneddistrict['r_stud_reg_8_W_M'] = cleaneddistrict['Grade 8 Students - White - male [Public School] 2009-10']/cleaneddistrict['Total Students [Public School] 2009-10']
cleaneddistrict['r_stud_reg_8_W_F'] = cleaneddistrict['Grade 8 Students - White - female [Public School] 2009-10']/cleaneddistrict['Total Students [Public School] 2009-10']
cleaneddistrict['r_stud_reg_8_HNPI_M'] = cleaneddistrict['Grade 8 Students - Hawaiian Nat./Pacific Isl. - male [Public School] 2009-10']/cleaneddistrict['Total Students [Public School] 2009-10']
cleaneddistrict['r_stud_reg_8_HNPI_F'] = cleaneddistrict['Grade 8 Students - Hawaiian Nat./Pacific Isl. - female [Public School] 2009-10']/cleaneddistrict['Total Students [Public School] 2009-10']
cleaneddistrict['r_stud_reg_8_Two_M'] = cleaneddistrict['Grade 8 Students - Two or More Races - male [Public School] 2009-10']/cleaneddistrict['Total Students [Public School] 2009-10']
cleaneddistrict['r_stud_reg_8_Two_F'] = cleaneddistrict['Grade 8 Students - Two or More Races - female [Public School] 2009-10']/cleaneddistrict['Total Students [Public School] 2009-10']
cleaneddistrict['r_stud_reg_9_AIAN_M'] = cleaneddistrict['Grade 9 Students - American Indian/Alaska Native - male [Public School] 2009-10']/cleaneddistrict['Total Students [Public School] 2009-10']
cleaneddistrict['r_stud_reg_9_AIAN_F'] = cleaneddistrict['Grade 9 Students - American Indian/Alaska Native - female [Public School] 2009-10']/cleaneddistrict['Total Students [Public School] 2009-10']
cleaneddistrict['r_stud_reg_9_AAP_M'] = cleaneddistrict['Grade 9 Students - Asian or Asian/Pacific Islander - male [Public School] 2009-10']/cleaneddistrict['Total Students [Public School] 2009-10']
cleaneddistrict['r_stud_reg_9_AAP_F'] = cleaneddistrict['Grade 9 Students - Asian or Asian/Pacific Islander - female [Public School] 2009-10']/cleaneddistrict['Total Students [Public School] 2009-10']
cleaneddistrict['r_stud_reg_9_H_M'] = cleaneddistrict['Grade 9 Students - Hispanic - male [Public School] 2009-10']/cleaneddistrict['Total Students [Public School] 2009-10']
cleaneddistrict['r_stud_reg_9_H_F'] = cleaneddistrict['Grade 9 Students - Hispanic - female [Public School] 2009-10']/cleaneddistrict['Total Students [Public School] 2009-10']
cleaneddistrict['r_stud_reg_9_B_M'] = cleaneddistrict['Grade 9 Students - Black - male [Public School] 2009-10']/cleaneddistrict['Total Students [Public School] 2009-10']
cleaneddistrict['r_stud_reg_9_B_F'] = cleaneddistrict['Grade 9 Students - Black - female [Public School] 2009-10']/cleaneddistrict['Total Students [Public School] 2009-10']
cleaneddistrict['r_stud_reg_9_W_M'] = cleaneddistrict['Grade 9 Students - White - male [Public School] 2009-10']/cleaneddistrict['Total Students [Public School] 2009-10']
cleaneddistrict['r_stud_reg_9_W_F'] = cleaneddistrict['Grade 9 Students - White - female [Public School] 2009-10']/cleaneddistrict['Total Students [Public School] 2009-10']
cleaneddistrict['r_stud_reg_9_HNPI_M'] = cleaneddistrict['Grade 9 Students - Hawaiian Nat./Pacific Isl. - male [Public School] 2009-10']/cleaneddistrict['Total Students [Public School] 2009-10']
cleaneddistrict['r_stud_reg_9_HNPI_F'] = cleaneddistrict['Grade 9 Students - Hawaiian Nat./Pacific Isl. - female [Public School] 2009-10']/cleaneddistrict['Total Students [Public School] 2009-10']
cleaneddistrict['r_stud_reg_9_Two_M'] = cleaneddistrict['Grade 9 Students - Two or More Races - male [Public School] 2009-10']/cleaneddistrict['Total Students [Public School] 2009-10']
cleaneddistrict['r_stud_reg_9_Two_F'] = cleaneddistrict['Grade 9 Students - Two or More Races - female [Public School] 2009-10']/cleaneddistrict['Total Students [Public School] 2009-10']
cleaneddistrict['r_stud_reg_10_AIAN_M'] = cleaneddistrict['Grade 10 Students - American Indian/Alaska Native - male [Public School] 2009-10']/cleaneddistrict['Total Students [Public School] 2009-10']
cleaneddistrict['r_stud_reg_10_AIAN_F'] = cleaneddistrict['Grade 10 Students - American Indian/Alaska Native - female [Public School] 2009-10']/cleaneddistrict['Total Students [Public School] 2009-10']
cleaneddistrict['r_stud_reg_10_AAP_M'] = cleaneddistrict['Grade 10 Students - Asian or Asian/Pacific Islander - male [Public School] 2009-10']/cleaneddistrict['Total Students [Public School] 2009-10']
cleaneddistrict['r_stud_reg_10_AAP_F'] = cleaneddistrict['Grade 10 Students - Asian or Asian/Pacific Islander - female [Public School] 2009-10']/cleaneddistrict['Total Students [Public School] 2009-10']
cleaneddistrict['r_stud_reg_10_H_M'] = cleaneddistrict['Grade 10 Students - Hispanic - male [Public School] 2009-10']/cleaneddistrict['Total Students [Public School] 2009-10']
cleaneddistrict['r_stud_reg_10_H_F'] = cleaneddistrict['Grade 10 Students - Hispanic - female [Public School] 2009-10']/cleaneddistrict['Total Students [Public School] 2009-10']
cleaneddistrict['r_stud_reg_10_B_M'] = cleaneddistrict['Grade 10 Students - Black - male [Public School] 2009-10']/cleaneddistrict['Total Students [Public School] 2009-10']
cleaneddistrict['r_stud_reg_10_B_F'] = cleaneddistrict['Grade 10 Students - Black - female [Public School] 2009-10']/cleaneddistrict['Total Students [Public School] 2009-10']
cleaneddistrict['r_stud_reg_10_W_M'] = cleaneddistrict['Grade 10 Students - White - male [Public School] 2009-10']/cleaneddistrict['Total Students [Public School] 2009-10']
cleaneddistrict['r_stud_reg_10_W_F'] = cleaneddistrict['Grade 10 Students - White - female [Public School] 2009-10']/cleaneddistrict['Total Students [Public School] 2009-10']
cleaneddistrict['r_stud_reg_10_HNPI_M'] = cleaneddistrict['Grade 10 Students - Hawaiian Nat./Pacific Isl. - male [Public School] 2009-10']/cleaneddistrict['Total Students [Public School] 2009-10']
cleaneddistrict['r_stud_reg_10_HNPI_F'] = cleaneddistrict['Grade 10 Students - Hawaiian Nat./Pacific Isl. - female [Public School] 2009-10']/cleaneddistrict['Total Students [Public School] 2009-10']
cleaneddistrict['r_stud_reg_10_Two_M'] = cleaneddistrict['Grade 10 Students - Two or More Races - male [Public School] 2009-10']/cleaneddistrict['Total Students [Public School] 2009-10']
cleaneddistrict['r_stud_reg_10_Two_F'] = cleaneddistrict['Grade 10 Students - Two or More Races - female [Public School] 2009-10']/cleaneddistrict['Total Students [Public School] 2009-10']
cleaneddistrict['r_stud_reg_11_AIAN_M'] = cleaneddistrict['Grade 11 Students - American Indian/Alaska Native - male [Public School] 2009-10']/cleaneddistrict['Total Students [Public School] 2009-10']
cleaneddistrict['r_stud_reg_11_AIAN_F'] = cleaneddistrict['Grade 11 Students - American Indian/Alaska Native - female [Public School] 2009-10']/cleaneddistrict['Total Students [Public School] 2009-10']
cleaneddistrict['r_stud_reg_11_AAP_M'] = cleaneddistrict['Grade 11 Students - Asian or Asian/Pacific Islander - male [Public School] 2009-10']/cleaneddistrict['Total Students [Public School] 2009-10']
cleaneddistrict['r_stud_reg_11_AAP_F'] = cleaneddistrict['Grade 11 Students - Asian or Asian/Pacific Islander - female [Public School] 2009-10']/cleaneddistrict['Total Students [Public School] 2009-10']
cleaneddistrict['r_stud_reg_11_H_M'] = cleaneddistrict['Grade 11 Students - Hispanic - male [Public School] 2009-10']/cleaneddistrict['Total Students [Public School] 2009-10']
cleaneddistrict['r_stud_reg_11_H_F'] = cleaneddistrict['Grade 11 Students - Hispanic - female [Public School] 2009-10']/cleaneddistrict['Total Students [Public School] 2009-10']
cleaneddistrict['r_stud_reg_11_B_M'] = cleaneddistrict['Grade 11 Students - Black - male [Public School] 2009-10']/cleaneddistrict['Total Students [Public School] 2009-10']
cleaneddistrict['r_stud_reg_11_B_F'] = cleaneddistrict['Grade 11 Students - Black - female [Public School] 2009-10']/cleaneddistrict['Total Students [Public School] 2009-10']
cleaneddistrict['r_stud_reg_11_W_M'] = cleaneddistrict['Grade 11 Students - White - male [Public School] 2009-10']/cleaneddistrict['Total Students [Public School] 2009-10']
cleaneddistrict['r_stud_reg_11_W_F'] = cleaneddistrict['Grade 11 Students - White - female [Public School] 2009-10']/cleaneddistrict['Total Students [Public School] 2009-10']
cleaneddistrict['r_stud_reg_11_HNPI_M'] = cleaneddistrict['Grade 11 Students - Hawaiian Nat./Pacific Isl. - male [Public School] 2009-10']/cleaneddistrict['Total Students [Public School] 2009-10']
cleaneddistrict['r_stud_reg_11_HNPI_F'] = cleaneddistrict['Grade 11 Students - Hawaiian Nat./Pacific Isl. - female [Public School] 2009-10']/cleaneddistrict['Total Students [Public School] 2009-10']
cleaneddistrict['r_stud_reg_11_Two_M'] = cleaneddistrict['Grade 11 Students - Two or More Races - male [Public School] 2009-10']/cleaneddistrict['Total Students [Public School] 2009-10']
cleaneddistrict['r_stud_reg_11_Two_F'] = cleaneddistrict['Grade 11 Students - Two or More Races - female [Public School] 2009-10']/cleaneddistrict['Total Students [Public School] 2009-10']
cleaneddistrict['r_stud_reg_12_AIAN_M'] = cleaneddistrict['Grade 12 Students - American Indian/Alaska Native - male [Public School] 2009-10']/cleaneddistrict['Total Students [Public School] 2009-10']
cleaneddistrict['r_stud_reg_12_AIAN_F'] = cleaneddistrict['Grade 12 Students - American Indian/Alaska Native - female [Public School] 2009-10']/cleaneddistrict['Total Students [Public School] 2009-10']
cleaneddistrict['r_stud_reg_12_AAP_M'] = cleaneddistrict['Grade 12 Students - Asian or Asian/Pacific Islander - male [Public School] 2009-10']/cleaneddistrict['Total Students [Public School] 2009-10']
cleaneddistrict['r_stud_reg_12_AAP_F'] = cleaneddistrict['Grade 12 Students - Asian or Asian/Pacific Islander - female [Public School] 2009-10']/cleaneddistrict['Total Students [Public School] 2009-10']
cleaneddistrict['r_stud_reg_12_H_M'] = cleaneddistrict['Grade 12 Students - Hispanic - male [Public School] 2009-10']/cleaneddistrict['Total Students [Public School] 2009-10']
cleaneddistrict['r_stud_reg_12_H_F'] = cleaneddistrict['Grade 12 Students - Hispanic - female [Public School] 2009-10']/cleaneddistrict['Total Students [Public School] 2009-10']
cleaneddistrict['r_stud_reg_12_B_M'] = cleaneddistrict['Grade 12 Students - Black - male [Public School] 2009-10']/cleaneddistrict['Total Students [Public School] 2009-10']
cleaneddistrict['r_stud_reg_12_B_F'] = cleaneddistrict['Grade 12 Students - Black - female [Public School] 2009-10']/cleaneddistrict['Total Students [Public School] 2009-10']
cleaneddistrict['r_stud_reg_12_W_M'] = cleaneddistrict['Grade 12 Students - White - male [Public School] 2009-10']/cleaneddistrict['Total Students [Public School] 2009-10']
cleaneddistrict['r_stud_reg_12_W_F'] = cleaneddistrict['Grade 12 Students - White - female [Public School] 2009-10']/cleaneddistrict['Total Students [Public School] 2009-10']
cleaneddistrict['r_stud_reg_12_HNPI_M'] = cleaneddistrict['Grade 12 Students - Hawaiian Nat./Pacific Isl. - male [Public School] 2009-10']/cleaneddistrict['Total Students [Public School] 2009-10']
cleaneddistrict['r_stud_reg_12_HNPI_F'] = cleaneddistrict['Grade 12 Students - Hawaiian Nat./Pacific Isl. - female [Public School] 2009-10']/cleaneddistrict['Total Students [Public School] 2009-10']
cleaneddistrict['r_stud_reg_12_Two_M'] = cleaneddistrict['Grade 12 Students - Two or More Races - male [Public School] 2009-10']/cleaneddistrict['Total Students [Public School] 2009-10']
cleaneddistrict['r_stud_reg_12_Two_F'] = cleaneddistrict['Grade 12 Students - Two or More Races - female [Public School] 2009-10']/cleaneddistrict['Total Students [Public School] 2009-10']
cleaneddistrict['r_stud_reg_U_AIAN_M'] = cleaneddistrict['Ungraded Students - American Indian/Alaska Native - male [Public School] 2009-10']/cleaneddistrict['Total Students [Public School] 2009-10']
cleaneddistrict['r_stud_reg_U_AIAN_F'] = cleaneddistrict['Ungraded  Students- American Indian/Alaska Native - female [Public School] 2009-10']/cleaneddistrict['Total Students [Public School] 2009-10']
cleaneddistrict['r_stud_reg_U_AAP_M'] = cleaneddistrict['Ungraded Students - Asian or Asian/Pacific Islander - male [Public School] 2009-10']/cleaneddistrict['Total Students [Public School] 2009-10']
cleaneddistrict['r_stud_reg_U_AAP_F'] = cleaneddistrict['Ungraded Students - Asian or Asian/Pacific Islander - female [Public School] 2009-10']/cleaneddistrict['Total Students [Public School] 2009-10']
cleaneddistrict['r_stud_reg_U_H_M'] = cleaneddistrict['Ungraded Students - Hispanic - male [Public School] 2009-10']/cleaneddistrict['Total Students [Public School] 2009-10']
cleaneddistrict['r_stud_reg_U_H_F'] = cleaneddistrict['Ungraded Students - Hispanic - female [Public School] 2009-10']/cleaneddistrict['Total Students [Public School] 2009-10']
cleaneddistrict['r_stud_reg_U_B_M'] = cleaneddistrict['Ungraded Students - Black - male [Public School] 2009-10']/cleaneddistrict['Total Students [Public School] 2009-10']
cleaneddistrict['r_stud_reg_U_B_F'] = cleaneddistrict['Ungraded Students - Black - female [Public School] 2009-10']/cleaneddistrict['Total Students [Public School] 2009-10']
cleaneddistrict['r_stud_reg_U_W_M'] = cleaneddistrict['Ungraded Students - White - male [Public School] 2009-10']/cleaneddistrict['Total Students [Public School] 2009-10']
cleaneddistrict['r_stud_reg_U_W_F'] = cleaneddistrict['Ungraded Students - White - female [Public School] 2009-10']/cleaneddistrict['Total Students [Public School] 2009-10']
cleaneddistrict['r_stud_reg_U_HNPI_M'] = cleaneddistrict['Ungraded Students - Hawaiian Nat./Pacific Isl. - male [Public School] 2009-10']/cleaneddistrict['Total Students [Public School] 2009-10']
cleaneddistrict['r_stud_reg_U_HNPI_F'] = cleaneddistrict['Ungraded Students - Hawaiian Nat./Pacific Isl. - female [Public School] 2009-10']/cleaneddistrict['Total Students [Public School] 2009-10']
cleaneddistrict['r_stud_reg_U_Two_M'] = cleaneddistrict['Ungraded Students - Two or More Races - male [Public School] 2009-10']/cleaneddistrict['Total Students [Public School] 2009-10']
cleaneddistrict['r_stud_reg_U_Two_F'] = cleaneddistrict['Ungraded Students - Two or More Races - female [Public School] 2009-10']/cleaneddistrict['Total Students [Public School] 2009-10']
cleaneddistrict['r_st_PKT'] = cleaneddistrict['Prekindergarten Teachers [District] 2009-10']/cleaneddistrict['Total Students (UG PK-12) [District] 2009-10']
cleaneddistrict['r_st_KT'] = cleaneddistrict['Kindergarten Teachers [District] 2009-10']/cleaneddistrict['Total Students (UG PK-12) [District] 2009-10']
cleaneddistrict['r_st_ET'] = cleaneddistrict['Elementary Teachers [District] 2009-10']/cleaneddistrict['Total Students (UG PK-12) [District] 2009-10']
cleaneddistrict['r_st_ST'] = cleaneddistrict['Secondary Teachers [District] 2009-10']/cleaneddistrict['Total Students (UG PK-12) [District] 2009-10']
cleaneddistrict['r_st_UT'] = cleaneddistrict['Ungraded Teachers [District] 2009-10']/cleaneddistrict['Total Students (UG PK-12) [District] 2009-10']
cleaneddistrict['r_st_TS'] = cleaneddistrict['Total Staff [District] 2009-10']/cleaneddistrict['Total Students (UG PK-12) [District] 2009-10']
cleaneddistrict['r_st_IA'] = cleaneddistrict['Instructional Aides [District] 2009-10']/cleaneddistrict['Total Students (UG PK-12) [District] 2009-10']
cleaneddistrict['r_st_IC'] = cleaneddistrict['Instructional Coordinators [District] 2009-10']/cleaneddistrict['Total Students (UG PK-12) [District] 2009-10']
cleaneddistrict['r_st_EGC'] = cleaneddistrict['Elementary Guidance Counselors [District] 2009-10']/cleaneddistrict['Total Students (UG PK-12) [District] 2009-10']
cleaneddistrict['r_st_SGC'] = cleaneddistrict['Secondary Guidance Counselors [District] 2009-10']/cleaneddistrict['Total Students (UG PK-12) [District] 2009-10']
cleaneddistrict['r_st_OGC'] = cleaneddistrict['Other Guidance Counselors [District] 2009-10']/cleaneddistrict['Total Students (UG PK-12) [District] 2009-10']
cleaneddistrict['r_st_TGC'] = cleaneddistrict['Total Guidance Counselors [District] 2009-10']/cleaneddistrict['Total Students (UG PK-12) [District] 2009-10']
cleaneddistrict['r_st_LMS'] = cleaneddistrict['Librarians/Media Specialists [District] 2009-10']/cleaneddistrict['Total Students (UG PK-12) [District] 2009-10']
cleaneddistrict['r_st_LMSS'] = cleaneddistrict['Library Media Support Staff [District] 2009-10']/cleaneddistrict['Total Students (UG PK-12) [District] 2009-10']
cleaneddistrict['r_st_LEA'] = cleaneddistrict['LEA Administrators [District] 2009-10']/cleaneddistrict['Total Students (UG PK-12) [District] 2009-10']
cleaneddistrict['r_st_LEASS'] = cleaneddistrict['LEA Administrative Support Staff [District] 2009-10']/cleaneddistrict['Total Students (UG PK-12) [District] 2009-10']
cleaneddistrict['r_st_SA'] = cleaneddistrict['School Administrators [District] 2009-10']/cleaneddistrict['Total Students (UG PK-12) [District] 2009-10']
cleaneddistrict['r_st_SASS'] = cleaneddistrict['School Administrative Support Staff [District] 2009-10']/cleaneddistrict['Total Students (UG PK-12) [District] 2009-10']
cleaneddistrict['r_st_SSSS'] = cleaneddistrict['Student Support Services Staff [District] 2009-10']/cleaneddistrict['Total Students (UG PK-12) [District] 2009-10']
cleaneddistrict['r_st_OSSS'] = cleaneddistrict['Other Support Services Staff [District] 2009-10']/cleaneddistrict['Total Students (UG PK-12) [District] 2009-10']
cleaneddistrict['r_lrev_pt'] = cleaneddistrict['Local Rev. - Property Taxes (T06) [District Finance] 2009-10']/cleaneddistrict['Total Revenue - Local Sources (TLOCREV) [District Finance] 2009-10']
cleaneddistrict['r_lrev_gst'] = cleaneddistrict['Local Rev. - General Sales Taxes (T09) [District Finance] 2009-10']/cleaneddistrict['Total Revenue - Local Sources (TLOCREV) [District Finance] 2009-10']
cleaneddistrict['r_lrev_put'] = cleaneddistrict['Local Rev. - Public Utility Taxes (T15) [District Finance] 2009-10']/cleaneddistrict['Total Revenue - Local Sources (TLOCREV) [District Finance] 2009-10']
cleaneddistrict['r_lrev_it'] = cleaneddistrict['Local Rev. - Individual & Corp. Income Taxes (T40) [District Finance] 2009-10']/cleaneddistrict['Total Revenue - Local Sources (TLOCREV) [District Finance] 2009-10']
cleaneddistrict['r_lrev_aot'] = cleaneddistrict['Local Rev. - All Other Taxes (T99) [District Finance] 2009-10']/cleaneddistrict['Total Revenue - Local Sources (TLOCREV) [District Finance] 2009-10']
cleaneddistrict['r_lrev_pgc'] = cleaneddistrict['Local Rev. - Parent Government Contributions (T02) [District Finance] 2009-10']/cleaneddistrict['Total Revenue - Local Sources (TLOCREV) [District Finance] 2009-10']
cleaneddistrict['r_lrev_cc'] = cleaneddistrict['Local Rev. - Revenue- Cities and Counties (D23) [District Finance] 2009-10']/cleaneddistrict['Total Revenue - Local Sources (TLOCREV) [District Finance] 2009-10']
cleaneddistrict['r_lrev_oss'] = cleaneddistrict['Local Rev. - Revenue- Other School Systems (D11) [District Finance] 2009-10']/cleaneddistrict['Total Revenue - Local Sources (TLOCREV) [District Finance] 2009-10']
cleaneddistrict['r_lrev_tui'] = cleaneddistrict['Local Rev. - Tuition Fees- Pupils and Parents (A07) [District Finance] 2009-10']/cleaneddistrict['Total Revenue - Local Sources (TLOCREV) [District Finance] 2009-10']
cleaneddistrict['r_lrev_trans'] = cleaneddistrict['Local Rev. - Transp. Fees- Pupils and Parents (A08) [District Finance] 2009-10']/cleaneddistrict['Total Revenue - Local Sources (TLOCREV) [District Finance] 2009-10']
cleaneddistrict['r_lrev_slr'] = cleaneddistrict['Local Rev. - School Lunch Revenues (A09) [District Finance] 2009-10']/cleaneddistrict['Total Revenue - Local Sources (TLOCREV) [District Finance] 2009-10']
cleaneddistrict['r_lrev_ts'] = cleaneddistrict['Local Rev. - Textbook Sales and Rentals (A11) [District Finance] 2009-10']/cleaneddistrict['Total Revenue - Local Sources (TLOCREV) [District Finance] 2009-10']
cleaneddistrict['r_lrev_sar'] = cleaneddistrict['Local Rev. - Student Activity Receipts (A13) [District Finance] 2009-10']/cleaneddistrict['Total Revenue - Local Sources (TLOCREV) [District Finance] 2009-10']
cleaneddistrict['r_lrev_osalserv'] = cleaneddistrict['Local Rev. - Other Sales and Service Rev. (A20) [District Finance] 2009-10']/cleaneddistrict['Total Revenue - Local Sources (TLOCREV) [District Finance] 2009-10']
cleaneddistrict['r_lrev_sfns'] = cleaneddistrict['Local Rev. - Student Fees Non-Specified (A15) [District Finance] 2009-10']/cleaneddistrict['Total Revenue - Local Sources (TLOCREV) [District Finance] 2009-10']
cleaneddistrict['r_lrev_ie'] = cleaneddistrict['Local Rev. - Interest Earnings (U22) [District Finance] 2009-10']/cleaneddistrict['Total Revenue - Local Sources (TLOCREV) [District Finance] 2009-10']
cleaneddistrict['r_lrev_molr'] = cleaneddistrict['Local Rev. - Miscellaneous Other Local Rev. (U97) [District Finance] 2009-10']/cleaneddistrict['Total Revenue - Local Sources (TLOCREV) [District Finance] 2009-10']
cleaneddistrict['r_lrev_sp'] = cleaneddistrict['Local Rev. - Special Processing (C24) [District Finance] 2009-10']/cleaneddistrict['Total Revenue - Local Sources (TLOCREV) [District Finance] 2009-10']
cleaneddistrict['r_lrev_rr'] = cleaneddistrict['Local Rev. - Rents and Royalties (A40) [District Finance] 2009-10']/cleaneddistrict['Total Revenue - Local Sources (TLOCREV) [District Finance] 2009-10']
cleaneddistrict['r_lrev_sale'] = cleaneddistrict['Local Rev. - Sale of Property (U11) [District Finance] 2009-10']/cleaneddistrict['Total Revenue - Local Sources (TLOCREV) [District Finance] 2009-10']
cleaneddistrict['r_lrev_ff'] = cleaneddistrict['Local Rev. - Fines and Forfeits (U30) [District Finance] 2009-10']/cleaneddistrict['Total Revenue - Local Sources (TLOCREV) [District Finance] 2009-10']
cleaneddistrict['r_lrev_pc'] = cleaneddistrict['Local Rev. - Private Contributions (U50) [District Finance] 2009-10']/cleaneddistrict['Total Revenue - Local Sources (TLOCREV) [District Finance] 2009-10']
cleaneddistrict['r_srev_gfa'] = cleaneddistrict['State Rev. - General Formula Assistance (C01) [District Finance] 2009-10']/cleaneddistrict['Total Revenue - State Sources (TSTREV) [District Finance] 2009-10']
cleaneddistrict['r_srev_sep'] = cleaneddistrict['State Rev. - Special Education Programs (C05) [District Finance] 2009-10']/cleaneddistrict['Total Revenue - State Sources (TSTREV) [District Finance] 2009-10']
cleaneddistrict['r_srev_trans'] = cleaneddistrict['State Rev. - Transportation Programs (C12) [District Finance] 2009-10']/cleaneddistrict['Total Revenue - State Sources (TSTREV) [District Finance] 2009-10']
cleaneddistrict['r_srev_sip'] = cleaneddistrict['State Rev. - Staff Improvement Programs (C04) [District Finance] 2009-10']/cleaneddistrict['Total Revenue - State Sources (TSTREV) [District Finance] 2009-10']
cleaneddistrict['r_srev_cbsp'] = cleaneddistrict['State Rev. - Compensat. and Basic Skills Prog. (C06) [District Finance] 2009-10']/cleaneddistrict['Total Revenue - State Sources (TSTREV) [District Finance] 2009-10']
cleaneddistrict['r_srev_vep'] = cleaneddistrict['State Rev. - Vocational Education Programs (C09) [District Finance] 2009-10']/cleaneddistrict['Total Revenue - State Sources (TSTREV) [District Finance] 2009-10']
cleaneddistrict['r_srev_codsp'] = cleaneddistrict['State Rev. - Capital Outlay and Debt Serv. Prog. (C11) [District Finance] 2009-10']/cleaneddistrict['Total Revenue - State Sources (TSTREV) [District Finance] 2009-10']
cleaneddistrict['r_srev_bep'] = cleaneddistrict['State Rev. - Bilingual Education Programs (C07) [District Finance] 2009-10']/cleaneddistrict['Total Revenue - State Sources (TSTREV) [District Finance] 2009-10']
cleaneddistrict['r_srev_gt'] = cleaneddistrict['State Rev. - Gifted and Talented Programs (C08) [District Finance] 2009-10']/cleaneddistrict['Total Revenue - State Sources (TSTREV) [District Finance] 2009-10']
cleaneddistrict['r_srev_slp'] = cleaneddistrict['State Rev. - School Lunch Programs (C10) [District Finance] 2009-10']/cleaneddistrict['Total Revenue - State Sources (TSTREV) [District Finance] 2009-10']
cleaneddistrict['r_srev_aor'] = cleaneddistrict['State Rev. - All Other Rev.- State Sources (C13) [District Finance] 2009-10']/cleaneddistrict['Total Revenue - State Sources (TSTREV) [District Finance] 2009-10']
cleaneddistrict['r_srev_splea'] = cleaneddistrict['State Rev. - State Payment for LEA Empl. Benefits (C38) [District Finance] 2009-10']/cleaneddistrict['Total Revenue - State Sources (TSTREV) [District Finance] 2009-10']
cleaneddistrict['r_srev_osp'] = cleaneddistrict['State Rev. - Other State Payments (C39) [District Finance] 2009-10']/cleaneddistrict['Total Revenue - State Sources (TSTREV) [District Finance] 2009-10']
cleaneddistrict['r_srev_ns'] = cleaneddistrict['State Rev. - Non-Specified (C35) [District Finance] 2009-10']/cleaneddistrict['Total Revenue - State Sources (TSTREV) [District Finance] 2009-10']
cleaneddistrict['r_frev_title1'] = cleaneddistrict['Federal Rev. - Federal Title I Revenue (C14) [District Finance] 2009-10']/cleaneddistrict['Total Revenue - Federal Sources (TFEDREV) [District Finance] 2009-10']
cleaneddistrict['r_frev_dis'] = cleaneddistrict['Federal Rev. - Children with Disabilities (C15) [District Finance] 2009-10']/cleaneddistrict['Total Revenue - Federal Sources (TFEDREV) [District Finance] 2009-10']
cleaneddistrict['r_frev_cna'] = cleaneddistrict['Federal Rev. - Child Nutrition Act (C25) [District Finance] 2009-10']/cleaneddistrict['Total Revenue - Federal Sources (TFEDREV) [District Finance] 2009-10']
cleaneddistrict['r_frev_ems'] = cleaneddistrict['Federal Rev. - Eisenhower Math and Science (C16) [District Finance] 2009-10']/cleaneddistrict['Total Revenue - Federal Sources (TFEDREV) [District Finance] 2009-10']
cleaneddistrict['r_frev_dfs'] = cleaneddistrict['Federal Rev. - Drug-Free Schools (C17) [District Finance] 2009-10']/cleaneddistrict['Total Revenue - Federal Sources (TFEDREV) [District Finance] 2009-10']
cleaneddistrict['r_frev_voc'] = cleaneddistrict['Federal Rev. - Vocational Education (C19) [District Finance] 2009-10']/cleaneddistrict['Total Revenue - Federal Sources (TFEDREV) [District Finance] 2009-10']
cleaneddistrict['r_frev_ao'] = cleaneddistrict['Federal Rev. - All Other Fed. Aid Through State (C20) [District Finance] 2009-10']/cleaneddistrict['Total Revenue - Federal Sources (TFEDREV) [District Finance] 2009-10']
cleaneddistrict['r_frev_ns'] = cleaneddistrict['Federal Rev. - Nonspecified (C36) [District Finance] 2009-10']/cleaneddistrict['Total Revenue - Federal Sources (TFEDREV) [District Finance] 2009-10']
cleaneddistrict['r_frev_ia'] = cleaneddistrict['Federal Rev. - Impact Aid (PL 815 and 874) (B10) [District Finance] 2009-10']/cleaneddistrict['Total Revenue - Federal Sources (TFEDREV) [District Finance] 2009-10']
cleaneddistrict['r_frev_be'] = cleaneddistrict['Federal Rev. - Bilingual Education (B11) [District Finance] 2009-10']/cleaneddistrict['Total Revenue - Federal Sources (TFEDREV) [District Finance] 2009-10']
cleaneddistrict['r_frev_na'] = cleaneddistrict['Federal Rev. - Native American (Ind.) Educ. (B12) [District Finance] 2009-10']/cleaneddistrict['Total Revenue - Federal Sources (TFEDREV) [District Finance] 2009-10']
cleaneddistrict['r_frev_aofed'] = cleaneddistrict['Federal Rev. - All Other Federal Aid (B13) [District Finance] 2009-10']/cleaneddistrict['Total Revenue - Federal Sources (TFEDREV) [District Finance] 2009-10']

#If the metric is a district metric, this is the shell
#cleaneddistrict['r_'] = cleaneddistrict['']/cleaneddistrict['Total Students (UG PK-12) [District] 2009-10']
#If the metric is a district public school metric, this is the shell
#cleaneddistrict['r_'] = cleaneddistrict['']/cleaneddistrict['Total Students [Public School] 2009-10']
#If the metric is related to local revenue, this is the shell
#cleaneddistrict['r_'] = cleaneddistrict['']/cleaneddistrict['Total Revenue - Local Sources (TLOCREV) [District Finance] 2009-10']
#If the metric is related to state revenue, this is the shell
#cleaneddistrict['r_'] = cleaneddistrict['']/cleaneddistrict['Total Revenue - State Sources (TSTREV) [District Finance] 2009-10']
#If the metrics is related to federal revenue, this is the shell
#cleaneddistrict['r_'] = cleaneddistrict['']/cleaneddistrict['Total Revenue - Federal Sources (TFEDREV) [District Finance] 2009-10']

In [81]:
cleaneddistrict.to_csv("tempdata/test.csv")

In [44]:
for i, col in enumerate(cleaneddistrict.columns):
    print col
    #print cleaneddistrict[col].value_counts()

Agency Name
State Name [District] Latest available year
State Name [District] 2009-10
State Abbr [District] Latest available year
Agency Name [District] 2009-10
Agency ID - NCES Assigned [District] Latest available year
County Name [District] 2009-10
County Number [District] 2009-10
Race/Ethnicity Category [District] 2009-10
ANSI/FIPS State Code [District] Latest available year
Total Number Operational Schools [Public School] 2009-10
Total Number Operational Charter Schools [Public School] 2009-10
Total Number of Public Schools [Public School] 2009-10
Years District Reported Data [District] Latest available year
Years District Did Not Report Data [District] Latest available year
Location Address [District] 2013-14
Location City [District] 2013-14
Location State Abbr [District] 2013-14
Location ZIP [District] 2013-14
Location ZIP4 [District] 2013-14
Mailing Address [District] 2013-14
Mailing City [District] 2013-14
Mailing State Abbr [District] 2013-14
Mailing ZIP [District] 2013-14
Mailing ZIP4 [District] 2013-14
Phone Number [District] 2013-14
Agency Name_DEL
State Name [District] Latest available year_DEL
Agency Type [District] 2009-10
School District Level Code (SCHLEV) [District Finance] 2009-10
Urban-centric Locale [District] 2009-10
Boundary Change Indicator Flag [District] 2009-10
CBSA Name [District] 2009-10
CBSA ID [District] 2009-10
CSA Name [District] 2009-10
CSA ID [District] 2009-10
Latitude [District] 2009-10
Longitude [District] 2009-10
State Agency ID [District] 2009-10
Supervisory Union (ID) Number [District] 2009-10
Agency Charter Status [District] 2009-10
Metro Micro Area Code [District] 2009-10
Congressional Code [District] 2009-10
Census ID (CENSUSID) [District Finance] 2009-10
Lowest Grade Offered [District] 2009-10
Highest Grade Offered [District] 2009-10
Total Students (UG PK-12) [District] 2009-10
PK thru 12th Students [District] 2009-10
Ungraded Students [District] 2009-10
Total Students [Public School] 2009-10
Limited English Proficient (LEP) / English Language Learners (ELL) [District] 2009-10
Individualized Education Program Students [District] 2009-10
Free Lunch Eligible [Public School] 2009-10
Reduced-price Lunch Eligible Students [Public School] 2009-10
Total Free and Reduced Lunch Students [Public School] 2009-10
Prekindergarten and Kindergarten Students [Public School] 2009-10
Grades 1-8 Students [Public School] 2009-10
Grades 9-12 Students [Public School] 2009-10
Prekindergarten Students [Public School] 2009-10
Kindergarten Students [Public School] 2009-10
Grade 1 Students [Public School] 2009-10
Grade 2 Students [Public School] 2009-10
Grade 3 Students [Public School] 2009-10
Grade 4 Students [Public School] 2009-10
Grade 5 Students [Public School] 2009-10
Grade 6 Students [Public School] 2009-10
Grade 7 Students [Public School] 2009-10
Grade 8 Students [Public School] 2009-10
Grade 9 Students [Public School] 2009-10
Grade 10 Students [Public School] 2009-10
Grade 11 Students [Public School] 2009-10
Grade 12 Students [Public School] 2009-10
Ungraded Students [Public School] 2009-10
Male Students [Public School] 2009-10
Female Students [Public School] 2009-10
American Indian/Alaska Native Students [Public School] 2009-10
Asian or Asian/Pacific Islander Students [Public School] 2009-10
Hispanic Students [Public School] 2009-10
Black Students [Public School] 2009-10
White Students [Public School] 2009-10
Hawaiian Nat./Pacific Isl. Students [Public School] 2009-10
Two or More Races Students [Public School] 2009-10
Total Race/Ethnicity [Public School] 2009-10
Prekindergarten Students - American Indian/Alaska Native - male [Public School] 2009-10
Prekindergarten Students - American Indian/Alaska Native - female [Public School] 2009-10
Prekindergarten Students - Asian or Asian/Pacific Islander - male [Public School] 2009-10
Prekindergarten Students - Asian or Asian/Pacific Islander - female [Public School] 2009-10
Prekindergarten Students - Hispanic - male [Public School] 2009-10
Prekindergarten Students - Hispanic - female [Public School] 2009-10
Prekindergarten Students - Black - male [Public School] 2009-10
Prekindergarten Students - Black - female [Public School] 2009-10
Prekindergarten Students - White - male [Public School] 2009-10
Prekindergarten Students - White - female [Public School] 2009-10
Prekindergarten Students - Hawaiian Nat./Pacific Isl. - male [Public School] 2009-10
Prekindergarten Students - Hawaiian Nat./Pacific Isl. - female [Public School] 2009-10
Prekindergarten Students - Two or More Races - male [Public School] 2009-10
Prekindergarten Students - Two or More Races - female [Public School] 2009-10
Kindergarten Students - American Indian/Alaska Native - male [Public School] 2009-10
Kindergarten Students - American Indian/Alaska Native - female [Public School] 2009-10
Kindergarten Students - Asian or Asian/Pacific Islander - male [Public School] 2009-10
Kindergarten Students - Asian or Asian/Pacific Islander - female [Public School] 2009-10
Kindergarten Students - Hispanic - male [Public School] 2009-10
Kindergarten Students - Hispanic - female [Public School] 2009-10
Kindergarten Students - Black - male [Public School] 2009-10
Kindergarten Students - Black - female [Public School] 2009-10
Kindergarten Students - White - male [Public School] 2009-10
Kindergarten Students - White - female [Public School] 2009-10
Kindergarten Students - Hawaiian Nat./Pacific Isl. - male [Public School] 2009-10
Kindergarten Students - Hawaiian Nat./Pacific Isl. - female [Public School] 2009-10
Kindergarten Students - Two or More Races - male [Public School] 2009-10
Kindergarten Students - Two or More Races - female [Public School] 2009-10
Grade 1 Students - American Indian/Alaska Native - male [Public School] 2009-10
Grade 1 Students - American Indian/Alaska Native - female [Public School] 2009-10
Grade 1 Students - Asian or Asian/Pacific Islander - male [Public School] 2009-10
Grade 1 Students - Asian or Asian/Pacific Islander - female [Public School] 2009-10
Grade 1 Students - Hispanic - male [Public School] 2009-10
Grade 1 Students - Hispanic - female [Public School] 2009-10
Grade 1 Students - Black - male [Public School] 2009-10
Grade 1 Students - Black - female [Public School] 2009-10
Grade 1 Students - White - male [Public School] 2009-10
Grade 1 Students - White - female [Public School] 2009-10
Grade 1 Students - Hawaiian Nat./Pacific Isl. - male [Public School] 2009-10
Grade 1 Students - Hawaiian Nat./Pacific Isl. - female [Public School] 2009-10
Grade 1 Students - Two or More Races - male [Public School] 2009-10
Grade 1 Students - Two or More Races - female [Public School] 2009-10
Grade 2 Students - American Indian/Alaska Native - male [Public School] 2009-10
Grade 2 Students - American Indian/Alaska Native - female [Public School] 2009-10
Grade 2 Students - Asian or Asian/Pacific Islander - male [Public School] 2009-10
Grade 2 Students - Asian or Asian/Pacific Islander - female [Public School] 2009-10
Grade 2 Students - Hispanic - male [Public School] 2009-10
Grade 2 Students - Hispanic - female [Public School] 2009-10
Grade 2 Students - Black - male [Public School] 2009-10
Grade 2 Students - Black - female [Public School] 2009-10
Grade 2 Students - White - male [Public School] 2009-10
Grade 2 Students - White - female [Public School] 2009-10
Grade 2 Students - Hawaiian Nat./Pacific Isl. - male [Public School] 2009-10
Grade 2 Students - Hawaiian Nat./Pacific Isl. - female [Public School] 2009-10
Grade 2 Students - Two or More Races - male [Public School] 2009-10
Grade 2 Students - Two or More Races - female [Public School] 2009-10
Grade 3 Students - American Indian/Alaska Native - male [Public School] 2009-10
Grade 3 Students - American Indian/Alaska Native - female [Public School] 2009-10
Grade 3 Students - Asian or Asian/Pacific Islander - male [Public School] 2009-10
Grade 3 Students - Asian or Asian/Pacific Islander - female [Public School] 2009-10
Grade 3 Students - Hispanic - male [Public School] 2009-10
Grade 3 Students - Hispanic - female [Public School] 2009-10
Grade 3 Students - Black - male [Public School] 2009-10
Grade 3 Students - Black - female [Public School] 2009-10
Grade 3 Students - White - male [Public School] 2009-10
Grade 3 Students - White - female [Public School] 2009-10
Grade 3 Students - Hawaiian Nat./Pacific Isl. - male [Public School] 2009-10
Grade 3 Students - Hawaiian Nat./Pacific Isl. - female [Public School] 2009-10
Grade 3 Students - Two or More Races - male [Public School] 2009-10
Grade 3 Students - Two or More Races - female [Public School] 2009-10
Grade 4 Students - American Indian/Alaska Native - male [Public School] 2009-10
Grade 4 Students - American Indian/Alaska Native - female [Public School] 2009-10
Grade 4 Students - Asian or Asian/Pacific Islander - male [Public School] 2009-10
Grade 4 Students - Asian or Asian/Pacific Islander - female [Public School] 2009-10
Grade 4  Students - Hispanic - male [Public School] 2009-10
Grade 4 Students - Hispanic - female [Public School] 2009-10
Grade 4 Students - Black - male [Public School] 2009-10
Grade 4 Students - Black - female [Public School] 2009-10
Grade 4 Students - White - male [Public School] 2009-10
Grade 4 Students - White - female [Public School] 2009-10
Grade 4 Students - Hawaiian Nat./Pacific Isl. - male [Public School] 2009-10
Grade 4 Students - Hawaiian Nat./Pacific Isl. - female [Public School] 2009-10
Grade 4 Students - Two or More Races - male [Public School] 2009-10
Grade 4 Students - Two or More Races - female [Public School] 2009-10
Grade 5 Students - American Indian/Alaska Native - male [Public School] 2009-10
Grade 5 Students - American Indian/Alaska Native - female [Public School] 2009-10
Grade 5 Students - Asian or Asian/Pacific Islander - male [Public School] 2009-10
Grade 5 Students - Asian or Asian/Pacific Islander - female [Public School] 2009-10
Grade 5 Students - Hispanic - male [Public School] 2009-10
Grade 5 Students - Hispanic - female [Public School] 2009-10
Grade 5 Students - Black - male [Public School] 2009-10
Grade 5 Students - Black - female [Public School] 2009-10
Grade 5 Students - White - male [Public School] 2009-10
Grade 5 Students - White - female [Public School] 2009-10
Grade 5 Students - Hawaiian Nat./Pacific Isl. - male [Public School] 2009-10
Grade 5 Students - Hawaiian Nat./Pacific Isl. - female [Public School] 2009-10
Grade 5 Students - Two or More Races - male [Public School] 2009-10
Grade 5 Students - Two or More Races - female [Public School] 2009-10
Grade 6 Students - American Indian/Alaska Native - male [Public School] 2009-10
Grade 6 Students - American Indian/Alaska Native - female [Public School] 2009-10
Grade 6 Students - Asian or Asian/Pacific Islander - male [Public School] 2009-10
Grade 6 Students - Asian or Asian/Pacific Islander - female [Public School] 2009-10
Grade 6 Students - Hispanic - male [Public School] 2009-10
Grade 6 Students - Hispanic - female [Public School] 2009-10
Grade 6 Students - Black - male [Public School] 2009-10
Grade 6 Students - Black - female [Public School] 2009-10
Grade 6 Students - White - male [Public School] 2009-10
Grade 6 Students - White - female [Public School] 2009-10
Grade 6 Students - Hawaiian Nat./Pacific Isl. - male [Public School] 2009-10
Grade 6 Students - Hawaiian Nat./Pacific Isl. - female [Public School] 2009-10
Grade 6  Students- Two or More Races - male [Public School] 2009-10
Grade 6 Students - Two or More Races - female [Public School] 2009-10
Grade 7 Students - American Indian/Alaska Native - male [Public School] 2009-10
Grade 7 Students - American Indian/Alaska Native - female [Public School] 2009-10
Grade 7 Students - Asian or Asian/Pacific Islander - male [Public School] 2009-10
Grade 7 Students - Asian or Asian/Pacific Islander - female [Public School] 2009-10
Grade 7 Students - Hispanic - male [Public School] 2009-10
Grade 7 Students - Hispanic - female [Public School] 2009-10
Grade 7 Students - Black - male [Public School] 2009-10
Grade 7 Students - Black - female [Public School] 2009-10
Grade 7 Students - White - male [Public School] 2009-10
Grade 7 Students - White - female [Public School] 2009-10
Grade 7 Students - Hawaiian Nat./Pacific Isl. - male [Public School] 2009-10
Grade 7 Students - Hawaiian Nat./Pacific Isl. - female [Public School] 2009-10
Grade 7 Students - Two or More Races - male [Public School] 2009-10
Grade 7 Students - Two or More Races - female [Public School] 2009-10
Grade 8 Students - American Indian/Alaska Native - male [Public School] 2009-10
Grade 8 Students - American Indian/Alaska Native - female [Public School] 2009-10
Grade 8 Students - Asian or Asian/Pacific Islander - male [Public School] 2009-10
Grade 8 Students - Asian or Asian/Pacific Islander - female [Public School] 2009-10
Grade 8  Students- Hispanic - male [Public School] 2009-10
Grade 8 Students - Hispanic - female [Public School] 2009-10
Grade 8 Students - Black - male [Public School] 2009-10
Grade 8 Students - Black - female [Public School] 2009-10
Grade 8 Students - White - male [Public School] 2009-10
Grade 8 Students - White - female [Public School] 2009-10
Grade 8 Students - Hawaiian Nat./Pacific Isl. - male [Public School] 2009-10
Grade 8 Students - Hawaiian Nat./Pacific Isl. - female [Public School] 2009-10
Grade 8 Students - Two or More Races - male [Public School] 2009-10
Grade 8 Students - Two or More Races - female [Public School] 2009-10
Grade 9 Students - American Indian/Alaska Native - male [Public School] 2009-10
Grade 9 Students - American Indian/Alaska Native - female [Public School] 2009-10
Grade 9 Students - Asian or Asian/Pacific Islander - male [Public School] 2009-10
Grade 9 Students - Asian or Asian/Pacific Islander - female [Public School] 2009-10
Grade 9 Students - Hispanic - male [Public School] 2009-10
Grade 9 Students - Hispanic - female [Public School] 2009-10
Grade 9 Students - Black - male [Public School] 2009-10
Grade 9 Students - Black - female [Public School] 2009-10
Grade 9 Students - White - male [Public School] 2009-10
Grade 9 Students - White - female [Public School] 2009-10
Grade 9 Students - Hawaiian Nat./Pacific Isl. - male [Public School] 2009-10
Grade 9 Students - Hawaiian Nat./Pacific Isl. - female [Public School] 2009-10
Grade 9 Students - Two or More Races - male [Public School] 2009-10
Grade 9 Students - Two or More Races - female [Public School] 2009-10
Grade 10 Students - American Indian/Alaska Native - male [Public School] 2009-10
Grade 10 Students - American Indian/Alaska Native - female [Public School] 2009-10
Grade 10 Students - Asian or Asian/Pacific Islander - male [Public School] 2009-10
Grade 10 Students - Asian or Asian/Pacific Islander - female [Public School] 2009-10
Grade 10 Students - Hispanic - male [Public School] 2009-10
Grade 10 Students - Hispanic - female [Public School] 2009-10
Grade 10 Students - Black - male [Public School] 2009-10
Grade 10 Students - Black - female [Public School] 2009-10
Grade 10 Students - White - male [Public School] 2009-10
Grade 10 Students - White - female [Public School] 2009-10
Grade 10 Students - Hawaiian Nat./Pacific Isl. - male [Public School] 2009-10
Grade 10 Students - Hawaiian Nat./Pacific Isl. - female [Public School] 2009-10
Grade 10 Students - Two or More Races - male [Public School] 2009-10
Grade 10 Students - Two or More Races - female [Public School] 2009-10
Grade 11 Students - American Indian/Alaska Native - male [Public School] 2009-10
Grade 11 Students - American Indian/Alaska Native - female [Public School] 2009-10
Grade 11 Students - Asian or Asian/Pacific Islander - male [Public School] 2009-10
Grade 11 Students - Asian or Asian/Pacific Islander - female [Public School] 2009-10
Grade 11 Students - Hispanic - male [Public School] 2009-10
Grade 11 Students - Hispanic - female [Public School] 2009-10
Grade 11 Students - Black - male [Public School] 2009-10
Grade 11 Students - Black - female [Public School] 2009-10
Grade 11 Students - White - male [Public School] 2009-10
Grade 11 Students - White - female [Public School] 2009-10
Grade 11 Students - Hawaiian Nat./Pacific Isl. - male [Public School] 2009-10
Grade 11 Students - Hawaiian Nat./Pacific Isl. - female [Public School] 2009-10
Grade 11 Students - Two or More Races - male [Public School] 2009-10
Grade 11 Students - Two or More Races - female [Public School] 2009-10
Grade 12 Students - American Indian/Alaska Native - male [Public School] 2009-10
Grade 12 Students - American Indian/Alaska Native - female [Public School] 2009-10
Grade 12 Students - Asian or Asian/Pacific Islander - male [Public School] 2009-10
Grade 12 Students - Asian or Asian/Pacific Islander - female [Public School] 2009-10
Grade 12 Students - Hispanic - male [Public School] 2009-10
Grade 12 Students - Hispanic - female [Public School] 2009-10
Grade 12 Students - Black - male [Public School] 2009-10
Grade 12 Students - Black - female [Public School] 2009-10
Grade 12 Students - White - male [Public School] 2009-10
Grade 12 Students - White - female [Public School] 2009-10
Grade 12 Students - Hawaiian Nat./Pacific Isl. - male [Public School] 2009-10
Grade 12 Students - Hawaiian Nat./Pacific Isl. - female [Public School] 2009-10
Grade 12 Students - Two or More Races - male [Public School] 2009-10
Grade 12 Students - Two or More Races - female [Public School] 2009-10
Ungraded Students - American Indian/Alaska Native - male [Public School] 2009-10
Ungraded  Students- American Indian/Alaska Native - female [Public School] 2009-10
Ungraded Students - Asian or Asian/Pacific Islander - male [Public School] 2009-10
Ungraded Students - Asian or Asian/Pacific Islander - female [Public School] 2009-10
Ungraded Students - Hispanic - male [Public School] 2009-10
Ungraded Students - Hispanic - female [Public School] 2009-10
Ungraded Students - Black - male [Public School] 2009-10
Ungraded Students - Black - female [Public School] 2009-10
Ungraded Students - White - male [Public School] 2009-10
Ungraded Students - White - female [Public School] 2009-10
Ungraded Students - Hawaiian Nat./Pacific Isl. - male [Public School] 2009-10
Ungraded Students - Hawaiian Nat./Pacific Isl. - female [Public School] 2009-10
Ungraded Students - Two or More Races - male [Public School] 2009-10
Ungraded Students - Two or More Races - female [Public School] 2009-10
Full-Time Equivalent (FTE) Teachers [District] 2009-10
Full-Time Equivalent (FTE) Teachers [Public School] 2009-10
Pupil/Teacher Ratio [District] 2009-10
Pupil/Teacher Ratio [Public School] 2009-10
Prekindergarten Teachers [District] 2009-10
Kindergarten Teachers [District] 2009-10
Elementary Teachers [District] 2009-10
Secondary Teachers [District] 2009-10
Ungraded Teachers [District] 2009-10
Total Staff [District] 2009-10
Instructional Aides [District] 2009-10
Instructional Coordinators [District] 2009-10
Elementary Guidance Counselors [District] 2009-10
Secondary Guidance Counselors [District] 2009-10
Other Guidance Counselors [District] 2009-10
Total Guidance Counselors [District] 2009-10
Librarians/Media Specialists [District] 2009-10
Library Media Support Staff [District] 2009-10
LEA Administrators [District] 2009-10
LEA Administrative Support Staff [District] 2009-10
School Administrators [District] 2009-10
School Administrative Support Staff [District] 2009-10
Student Support Services Staff [District] 2009-10
Other Support Services Staff [District] 2009-10
Fall Membership (V33) [District Finance] 2009-10
Total General Revenue (TOTALREV) [District Finance] 2009-10
Total Revenue - Local Sources (TLOCREV) [District Finance] 2009-10
Total Revenue - State Sources (TSTREV) [District Finance] 2009-10
Total Revenue - Federal Sources (TFEDREV) [District Finance] 2009-10
Total Current Expenditures - El-Sec Education (TCURELSC) [District Finance] 2009-10
Total Current Expenditures - Instruction (TCURINST) [District Finance] 2009-10
Total Current Expenditures - Support Services (TCURSSVC) [District Finance] 2009-10

In [49]:
cleaneddistrict['i_local_school_district'].value_counts()
#np.unique(joineddistrict['Highest Grade Offered [District] 2009-10'])

1    13123
0     5900
dtype: int64

Now we start filtering the rows to school districts that would potentially have graduation information.

In [ ]:
filtereddistrict = joineddistrict.copy(deep=True)

In [26]:

print 'Total number of unique school districts: ' + str(len(np.unique(joineddistrict['Agency ID - NCES Assigned [District] Latest available year'])))
filtereddistrict = filtereddistrict[filtereddistrict['Highest Grade Offered [District] 2009-10']=='12th Grade']
print 'Total number of school districts that have high schools: ' + str(len(filtereddistrict))
filtereddistrict = filtereddistrict[filtereddistrict['SURVYEAR']!='–']
print 'Total number of school districts that have a row on raw graduation data: ' + str(len(filtereddistrict))

Total number of unique school districts: 19023
Total number of school districts that have high schools: 12955
Total number of school districts that have a row on raw graduation data: 12955

In [25]:
filtereddistrict.head()

,Agency Name,State Name [District] Latest available year,State Name [District] 2009-10,State Abbr [District] Latest available year,Agency Name [District] 2009-10,Agency ID - NCES Assigned [District] Latest available year,County Name [District] 2009-10,County Number [District] 2009-10,Race/Ethnicity Category [District] 2009-10,ANSI/FIPS State Code [District] Latest available year,Total Number Operational Schools [Public School] 2009-10,Total Number Operational Charter Schools [Public School] 2009-10,Total Number of Public Schools [Public School] 2009-10,Years District Reported Data [District] Latest available year,Years District Did Not Report Data [District] Latest available year,Location Address [District] 2013-14,Location City [District] 2013-14,Location State Abbr [District] 2013-14,Location ZIP [District] 2013-14,Location ZIP4 [District] 2013-14,Mailing Address [District] 2013-14,Mailing City [District] 2013-14,Mailing State Abbr [District] 2013-14,Mailing ZIP [District] 2013-14,Mailing ZIP4 [District] 2013-14,Phone Number [District] 2013-14,Agency Name_DEL,State Name [District] Latest available year_DEL,Agency Type [District] 2009-10,School District Level Code (SCHLEV) [District Finance] 2009-10,Urban-centric Locale [District] 2009-10,Boundary Change Indicator Flag [District] 2009-10,CBSA Name [District] 2009-10,CBSA ID [District] 2009-10,CSA Name [District] 2009-10,CSA ID [District] 2009-10,Latitude [District] 2009-10,Longitude [District] 2009-10,State Agency ID [District] 2009-10,Supervisory Union (ID) Number [District] 2009-10,Agency Charter Status [District] 2009-10,Metro Micro Area Code [District] 2009-10,Congressional Code [District] 2009-10,Census ID (CENSUSID) [District Finance] 2009-10,Lowest Grade Offered [District] 2009-10,Highest Grade Offered [District] 2009-10,Total Students (UG PK-12) [District] 2009-10,PK thru 12th Students [District] 2009-10,Ungraded Students [District] 2009-10,Total Students [Public School] 2009-10,...,Total - School Admin.- Supp. Serv. Exp. (E09) [District Finance] 2009-10,Total - Student Transp.- Supp. Serv. Exp. (V45) [District Finance] 2009-10,Total - Students- Supp. Serv. Exp. (E17) [District Finance] 2009-10,Salary - Instruction Expenditures (Z33) [District Finance] 2009-10,Salary - Students- Supp. Serv. Exp. (V11) [District Finance] 2009-10,Salary - Instruct. Staff- Supp. Serv. Exp. (V13) [District Finance] 2009-10,Salary - General Admin.- Supp. Serv. Exp. (V15) [District Finance] 2009-10,Salary - School Admin.- Supp. Serv. Exp. (V17) [District Finance] 2009-10,Salary - Ops. & Mainten.- Supp. Serv. Exp. (V21) [District Finance] 2009-10,Salary - Student Transp.- Supp. Serv. Exp. (V23) [District Finance] 2009-10,Salary - Other Supp. Serv.- Supp. Serv. Exp. (V37) [District Finance] 2009-10,Salary - Food Services- Non-Instruction (V29) [District Finance] 2009-10,Employee Benefits - Instruction Expend. (V10) [District Finance] 2009-10,Empl. Benefits - Students- Supp. Serv. Exp. (V12) [District Finance] 2009-10,Empl. Benefits - Instruction- Supp. Serv. Exp. (V14) [District Finance] 2009-10,Empl. Benefits - Gen. Adm.- Supp. Serv. Exp. (V16) [District Finance] 2009-10,Empl. Benefits - Sch. Adm.- Supp. Serv. Exp. (V18) [District Finance] 2009-10,Empl. Benefits - Ops. & Maint.- Supp. Serv. Exp. (V22) [District Finance] 2009-10,Empl. Benefits - Student Trans.- Supp. Serv. Exp. (V24) [District Finance] 2009-10,Empl. Benefits - Other Supp Serv- Supp. Serv. Exp. (V38) [District Finance] 2009-10,Empl. Benefits - Food Services- Non-Instruction (V30) [District Finance] 2009-10,Empl. Benefits - Enterp. Oper.- Non-Instruction (V32) [District Finance] 2009-10,Current Spending - Private Schools (V91) [District Finance] 2009-10,Current Spending - Public Charter Schools (V92) [District Finance] 2009-10,Teacher Salaries - Regular Education Programs (Z35) [District Finance] 2009-10,Teacher Salaries - Special Education Programs (Z36) [District Finance] 2009-10,Teacher Salaries - Vocational Education Programs (Z37) [District Finance] 2009-10,Teacher Salaries - Other Education Programs (Z38) [District Finance] 2009-10,Textbooks for Instruction (V93) [District Finance] 2009-10,Community Services - Non El-Sec (V70) [District Finance] 2009-10,Adult Education - Non El-Sec (V75) [District Finance] 2009-10,Other Expenditures - Non El-Sec (V80) [District Finance] 2009-10,Construction - Capital Outlay (F12) [District Finance] 2009-10,Instructional Equipment - Capital Outlay (K09) [District Finance] 2009-10,Other Equipment - Capital Outlay (K10) [District Finance] 2009-10,Non-specified - Equipment Expenditures (K11) [District Finance] 2009-10,Land & Existing Structures - Capital Outlay (G15) [District Finance] 2009-10,Payments to Local Governments (M12) [District Finance] 2009-10,Payments to State Governments (L12) [District Finance] 2009-10,Interest on School System Indebtedness (I86) [District Finance] 2009-10,Payments to Other School Systems (Q11) [District Finance] 2009-10,SURVYEAR,FIPST,TOTD912,EBS912,DRP912,TOTDPL,AFGEB,AFGR,TOTOHC
1,21ST CENTURY CHARTER SCH OF GARY,Indiana,Indiana,IN,21ST CENTURY CHARTER SCH OF GARY,1800046,MARION COUNTY,18097,Reported 5 categories,18,1,1,1,2004-2013,1986-2003,556 WASHINGTON ST,GARY,IN,46402,†,333 N PENNSYLVANIA SUITE 1000,INDIANAPOLIS,IN,46202,†,3175361027,21ST CENTURY CHARTER SCH OF GARY,Indiana,7-Charter school agency,03-Elementary/secondary school system,13-City: Small,1-No change since last report,Indianapolis IN,26900,Indianapolis-Anderson-Columbus IN,294,39.771949,-86.155184,9545,000,1-All associated schools are charter schools,1-Metropolitan Area,1807,†,Kindergarten,12th Grade,360,360,†,360,...,318000,9000,18000,1173000,"=""0""","=""0""","=""0""",315000,"=""0""","=""0""","=""0""","=""0""",12000,"=""0""","=""0""","=""0""","=""0""","=""0""","=""0""",358000,"=""0""","=""0""","=""0""","=""0""","=""0""","=""0""","=""0""","=""0""",77000,13000,13000,"=""0""",37000,86000,72000,146000,374000,"=""0""","=""0""","=""0""","=""0""",2009-10,18,-3,100,-3.0,13,43,30.2,-2
2,21ST CENTURY CYBER CS,Pennsylvania,Pennsylvania,PA,21ST CENTURY CYBER CS,4200091,CHESTER COUNTY,42029,Reported 5 categories,42,1,1,1,2001-2013,1986-2000,805 SPRINGDALE DR,EXTON,PA,19341,3043,805 SPRINGDALE DR.,EXTON,PA,19341,3043,4848755400,21ST CENTURY CYBER CS,Pennsylvania,7-Charter school agency,03-Elementary/secondary school system,21-Suburb: Large,1-No change since last report,Philadelphia-Camden-Wilmington PA-NJ-DE-MD,37980,Philadelphia-Camden-Vineland PA-NJ-DE-MD,428,40.005030,-75.678564,124150002,000,1-All associated schools are charter schools,1-Metropolitan Area,4206,†,6th Grade,12th Grade,594,594,†,594,...,220000,"=""0""",337000,1652000,252000,224000,190000,174000,"=""0""","=""0""","=""0""","=""0""",644000,74000,61000,47000,38000,"=""0""","=""0""","=""0""","=""0""","=""0""",18000,"=""0""",1512000,140000,"=""0""","=""0""",236000,"=""0""","=""0""","=""0""","=""0""",317000,12000,"=""0""","=""0""","=""0""","=""0""","=""0""",24000,2009-10,42,33,483,6.8,102,77,100.0,-2
7,A E R O SPEC EDUC COOP,Illinois,Illinois,IL,A E R O SPEC EDUC COOP,1700024,COOK COUNTY,17031,Reported 5 categories,17,2,"=""0""",2,1987-2013,1986,7600 MASON AVE,BURBANK,IL,60459,1200,7600 MASON AVE,BURBANK,IL,60459,1200,7084963330,A E R O SPEC EDUC COOP,Illinois,4-Regional education services agency,07-Educational service agency,21-Suburb: Large,1-No change since last report,Chicago-Naperville-Joliet IL-IN-WI,16980,Chicago-Naperville-Michigan City IL-IN-WI,176,41.753446,-87.769429,14-016-8060-60,000,3-All associated schools are noncharter,1-Metropolitan Area,1703,14501640300000,Prekindergarten,12th Grade,"=""0""","=""0""",†,211,...,839000,407000,4915000,9239000,4213000,"=""0""",738000,618000,205000,202000,217000,"=""0""",2556000,622000,"=""0""",245000,211000,93000,47000,65000,"=""0""","=""0""","=""0""","=""0""","=""0""","=""0""","=""0""","=""0""","=""0""","=""0""","=""0""","=""0""","=""0""",48000,245000,"=""0""","=""0""","=""0""","=""0""","=""0""",7412000,2009-10,17,-3,52,-3.0,-2,19,-2.0,-2
8,A W BEATTIE CAREER CENTER,Pennsylvania,Pennsylvania,PA,A W BEATTIE CAREER CENTER,4280010,ALLEGHENY COUNTY,42003,Reported 5 categories,42,1,"=""0""",1,1986-2013,–,9600 BABCOCK BLVD,ALLISON PARK,PA,15101,2005,9600 BABCOCK BOULEVARD,ALLISON PARK,PA,15101,2005,4128471900,A W BEATTIE CAREER CENTER,Pennsylvania,4-Regional education services agency,07-Educational service agency,21-Suburb: Large,1-No change since last report,Pittsburgh PA,38300,Pittsburgh-New Castle PA,430,40.579513,-80.006987,103020407,000,3-All associated schools are noncharter,1-Metropolitan Area,4204,39500290100000,10th Grade,12th Grade,"=""0""","=""0""",†,"=""0""",...,270000,"=""0""",97000,2437000,63000,104000,122000,159000,216000,"=""0""",152000,"=""0""",856000,28000,43000,44000,51000,110000,"=""0""",68000,"=""0""","=""0""","=""0""","=""0""",468000,291000,1358000,319000,7000,"=""0""","=""0""",190000,13316000,104000,47000,"=""0""","=""0""","=""0""","=""0""",843000,"=""0""",2009-10,42,-2,-2,-2.0,-2,-2,-2.0,-2
10,A+ ACADEMY,Texas,Texas,TX,A+ ACADEMY,4800203,DALLAS COUNTY,48113,Reported 5 categories,48,1,1,1,2000-2013,1986-1999,8225 BRUTON RD,DALLAS,TX,75217,†,8225 BRUTON RD,DALLAS,TX,75217,†,2143813226,A+ ACADEMY,Texas,7-Charter school agency,03-Elementary/secondary school system,11-City: Large,1-No change since last report,Dallas-Fort Worth-Arlington TX,19100,Dallas-Fort Worth TX,206,32.767535,-96.660866,"=""057829""",000,1-All associated schools are charter schools,1-Metropolitan Area,4830,†,Prekindergarten,12th Grade,1033,1033,†,1033,...,637000,6000,221000,4091000,29000,398000,249000,549000,256000,2000,224000,182000,338000,1000,35000,21000,41000,15000,"=""0""",22000,21000,"=""0""","=""0""","=""0""","=""0""","=""0""","=""0""","=""0""",18000,1000,"=""0""","=""0""","=""0""","=""0""","=""0""","=""0""","=""0""","=""0""","=""0""","=""0""",32000,2009-10,48,-3,228,-3.0,39,70,55.7,-2

In [86]:
#Where these conditions are true, these rows are not usable
joineddistrict = joineddistrict[joineddistrict['SURVYEAR']!='–']
#joineddistrict = joineddistrict[joineddistrict['Agency Type [District] 2009-10']!='–']

In [87]:
print len(joineddistrict)

17926

Inspect every column using these commands to find out if it is usable.

In [93]:
#joineddistrict['TOTOHC'].value_counts()
#np.unique(joineddistrict['Highest Grade Offered [District] 2009-10'])

In [94]:
np.unique(joineddistrict['Highest Grade Offered [District] 2009-10'])

array(['10th Grade', '11th Grade', '12th Grade', '1st Grade', '2nd Grade',
       '3rd Grade', '4th Grade', '5th Grade', '6th Grade', '7th Grade',
       '8th Grade', '9th Grade', 'Kindergarten', 'Prekindergarten',
       'Ungraded', '\xe2\x80\x93', '\xe2\x80\xa0'], dtype=object)

In [106]:
#print len(joineddistrict[(joineddistrict['Highest Grade Offered [District] 2009-10']=='12th Grade') and (joineddistrict['AFGR'!='–'])])
#print len(joineddistrict.query('"Highest Grade Offered [District] 2009-10"=="12th Grade" and AFGR!="–"'))
print len(joineddistrict[joineddistrict['AFGR']!='–']) #Graduations look usable
print len(joineddistrict[joineddistrict['DRP912']!='–']) #Dropouts do not look usable

10790
2244

In [115]:
joineddistrict['Local Rev. - Property Taxes (T06) [District Finance] 2009-10'].value_counts()
#np.unique(joineddistrict['Long Term Debt - Outstanding Beginning of FY (_19H) [District Finance] 2009-10'])

†            4463
="0"         1124
–              91
289000          8
781000          8
887000          8
223000          8
153000          7
761000          7
397000          7
454000          7
1992000         7
459000          7
244000          7
437000          7
580000          7
1189000         7
127000          7
297000          7
1066000         7
592000          7
134000          7
908000          7
377000          7
1659000         7
636000          7
651000          7
863000          6
676000          6
501000          6
             ...
76916000        1
4338000         1
6652000         1
3007000         1
6466000         1
3275000         1
15339000        1
26801000        1
14937000        1
112576000       1
1503000         1
650000          1
867000          1
4290000         1
38105000        1
13344000        1
8727000         1
26855000        1
5213000         1
7437000         1
6120000         1
6619000         1
8899000         1
26767000        1
8300000         1
4263000         1
1690000         1
8850000         1
2948000         1
9669000         1
dtype: int64

In [107]:
for i, col in enumerate(joineddistrict.columns):
    print i," : ", col, " : ", joineddistrict[col].dtype

0  :  Agency Name  :  object
1  :  State Name [District] Latest available year  :  object
2  :  State Name [District] 2009-10  :  object
3  :  State Abbr [District] Latest available year  :  object
4  :  Agency Name [District] 2009-10  :  object
5  :  Agency ID - NCES Assigned [District] Latest available year  :  object
6  :  County Name [District] 2009-10  :  object
7  :  County Number [District] 2009-10  :  object
8  :  Race/Ethnicity Category [District] 2009-10  :  object
9  :  ANSI/FIPS State Code [District] Latest available year  :  object
10  :  Total Number Operational Schools [Public School] 2009-10  :  object
11  :  Total Number Operational Charter Schools [Public School] 2009-10  :  object
12  :  Total Number of Public Schools [Public School] 2009-10  :  object
13  :  Years District Reported Data [District] Latest available year  :  object
14  :  Years District Did Not Report Data [District] Latest available year  :  object
15  :  Location Address [District] 2013-14  :  object
16  :  Location City [District] 2013-14  :  object
17  :  Location State Abbr [District] 2013-14  :  object
18  :  Location ZIP [District] 2013-14  :  object
19  :  Location ZIP4 [District] 2013-14  :  object
20  :  Mailing Address [District] 2013-14  :  object
21  :  Mailing City [District] 2013-14  :  object
22  :  Mailing State Abbr [District] 2013-14  :  object
23  :  Mailing ZIP [District] 2013-14  :  object
24  :  Mailing ZIP4 [District] 2013-14  :  object
25  :  Phone Number [District] 2013-14  :  object
26  :  Agency Name_DEL  :  object
27  :  State Name [District] Latest available year_DEL  :  object
28  :  Agency Type [District] 2009-10  :  object
29  :  School District Level Code (SCHLEV) [District Finance] 2009-10  :  object
30  :  Urban-centric Locale [District] 2009-10  :  object
31  :  Boundary Change Indicator Flag [District] 2009-10  :  object
32  :  CBSA Name [District] 2009-10  :  object
33  :  CBSA ID [District] 2009-10  :  object
34  :  CSA Name [District] 2009-10  :  object
35  :  CSA ID [District] 2009-10  :  object
36  :  Latitude [District] 2009-10  :  object
37  :  Longitude [District] 2009-10  :  object
38  :  State Agency ID [District] 2009-10  :  object
39  :  Supervisory Union (ID) Number [District] 2009-10  :  object
40  :  Agency Charter Status [District] 2009-10  :  object
41  :  Metro Micro Area Code [District] 2009-10  :  object
42  :  Congressional Code [District] 2009-10  :  object
43  :  Census ID (CENSUSID) [District Finance] 2009-10  :  object
44  :  Lowest Grade Offered [District] 2009-10  :  object
45  :  Highest Grade Offered [District] 2009-10  :  object
46  :  Total Students (UG PK-12) [District] 2009-10  :  object
47  :  PK thru 12th Students [District] 2009-10  :  object
48  :  Ungraded Students [District] 2009-10  :  object
49  :  Total Students [Public School] 2009-10  :  object
50  :  Limited English Proficient (LEP) / English Language Learners (ELL) [District] 2009-10  :  object
51  :  Individualized Education Program Students [District] 2009-10  :  object
52  :  Free Lunch Eligible [Public School] 2009-10  :  object
53  :  Reduced-price Lunch Eligible Students [Public School] 2009-10  :  object
54  :  Total Free and Reduced Lunch Students [Public School] 2009-10  :  object
55  :  Prekindergarten and Kindergarten Students [Public School] 2009-10  :  object
56  :  Grades 1-8 Students [Public School] 2009-10  :  object
57  :  Grades 9-12 Students [Public School] 2009-10  :  object
58  :  Prekindergarten Students [Public School] 2009-10  :  object
59  :  Kindergarten Students [Public School] 2009-10  :  object
60  :  Grade 1 Students [Public School] 2009-10  :  object
61  :  Grade 2 Students [Public School] 2009-10  :  object
62  :  Grade 3 Students [Public School] 2009-10  :  object
63  :  Grade 4 Students [Public School] 2009-10  :  object
64  :  Grade 5 Students [Public School] 2009-10  :  object
65  :  Grade 6 Students [Public School] 2009-10  :  object
66  :  Grade 7 Students [Public School] 2009-10  :  object
67  :  Grade 8 Students [Public School] 2009-10  :  object
68  :  Grade 9 Students [Public School] 2009-10  :  object
69  :  Grade 10 Students [Public School] 2009-10  :  object
70  :  Grade 11 Students [Public School] 2009-10  :  object
71  :  Grade 12 Students [Public School] 2009-10  :  object
72  :  Ungraded Students [Public School] 2009-10  :  object
73  :  Male Students [Public School] 2009-10  :  object
74  :  Female Students [Public School] 2009-10  :  object
75  :  American Indian/Alaska Native Students [Public School] 2009-10  :  object
76  :  Asian or Asian/Pacific Islander Students [Public School] 2009-10  :  object
77  :  Hispanic Students [Public School] 2009-10  :  object
78  :  Black Students [Public School] 2009-10  :  object
79  :  White Students [Public School] 2009-10  :  object
80  :  Hawaiian Nat./Pacific Isl. Students [Public School] 2009-10  :  object
81  :  Two or More Races Students [Public School] 2009-10  :  object
82  :  Total Race/Ethnicity [Public School] 2009-10  :  object
83  :  Prekindergarten Students - American Indian/Alaska Native - male [Public School] 2009-10  :  object
84  :  Prekindergarten Students - American Indian/Alaska Native - female [Public School] 2009-10  :  object
85  :  Prekindergarten Students - Asian or Asian/Pacific Islander - male [Public School] 2009-10  :  object
86  :  Prekindergarten Students - Asian or Asian/Pacific Islander - female [Public School] 2009-10  :  object
87  :  Prekindergarten Students - Hispanic - male [Public School] 2009-10  :  object
88  :  Prekindergarten Students - Hispanic - female [Public School] 2009-10  :  object
89  :  Prekindergarten Students - Black - male [Public School] 2009-10  :  object
90  :  Prekindergarten Students - Black - female [Public School] 2009-10  :  object
91  :  Prekindergarten Students - White - male [Public School] 2009-10  :  object
92  :  Prekindergarten Students - White - female [Public School] 2009-10  :  object
93  :  Prekindergarten Students - Hawaiian Nat./Pacific Isl. - male [Public School] 2009-10  :  object
94  :  Prekindergarten Students - Hawaiian Nat./Pacific Isl. - female [Public School] 2009-10  :  object
95  :  Prekindergarten Students - Two or More Races - male [Public School] 2009-10  :  object
96  :  Prekindergarten Students - Two or More Races - female [Public School] 2009-10  :  object
97  :  Kindergarten Students - American Indian/Alaska Native - male [Public School] 2009-10  :  object
98  :  Kindergarten Students - American Indian/Alaska Native - female [Public School] 2009-10  :  object
99  :  Kindergarten Students - Asian or Asian/Pacific Islander - male [Public School] 2009-10  :  object
100  :  Kindergarten Students - Asian or Asian/Pacific Islander - female [Public School] 2009-10  :  object
101  :  Kindergarten Students - Hispanic - male [Public School] 2009-10  :  object
102  :  Kindergarten Students - Hispanic - female [Public School] 2009-10  :  object
103  :  Kindergarten Students - Black - male [Public School] 2009-10  :  object
104  :  Kindergarten Students - Black - female [Public School] 2009-10  :  object
105  :  Kindergarten Students - White - male [Public School] 2009-10  :  object
106  :  Kindergarten Students - White - female [Public School] 2009-10  :  object
107  :  Kindergarten Students - Hawaiian Nat./Pacific Isl. - male [Public School] 2009-10  :  object
108  :  Kindergarten Students - Hawaiian Nat./Pacific Isl. - female [Public School] 2009-10  :  object
109  :  Kindergarten Students - Two or More Races - male [Public School] 2009-10  :  object
110  :  Kindergarten Students - Two or More Races - female [Public School] 2009-10  :  object
111  :  Grade 1 Students - American Indian/Alaska Native - male [Public School] 2009-10  :  object
112  :  Grade 1 Students - American Indian/Alaska Native - female [Public School] 2009-10  :  object
113  :  Grade 1 Students - Asian or Asian/Pacific Islander - male [Public School] 2009-10  :  object
114  :  Grade 1 Students - Asian or Asian/Pacific Islander - female [Public School] 2009-10  :  object
115  :  Grade 1 Students - Hispanic - male [Public School] 2009-10  :  object
116  :  Grade 1 Students - Hispanic - female [Public School] 2009-10  :  object
117  :  Grade 1 Students - Black - male [Public School] 2009-10  :  object
118  :  Grade 1 Students - Black - female [Public School] 2009-10  :  object
119  :  Grade 1 Students - White - male [Public School] 2009-10  :  object
120  :  Grade 1 Students - White - female [Public School] 2009-10  :  object
121  :  Grade 1 Students - Hawaiian Nat./Pacific Isl. - male [Public School] 2009-10  :  object
122  :  Grade 1 Students - Hawaiian Nat./Pacific Isl. - female [Public School] 2009-10  :  object
123  :  Grade 1 Students - Two or More Races - male [Public School] 2009-10  :  object
124  :  Grade 1 Students - Two or More Races - female [Public School] 2009-10  :  object
125  :  Grade 2 Students - American Indian/Alaska Native - male [Public School] 2009-10  :  object
126  :  Grade 2 Students - American Indian/Alaska Native - female [Public School] 2009-10  :  object
127  :  Grade 2 Students - Asian or Asian/Pacific Islander - male [Public School] 2009-10  :  object
128  :  Grade 2 Students - Asian or Asian/Pacific Islander - female [Public School] 2009-10  :  object
129  :  Grade 2 Students - Hispanic - male [Public School] 2009-10  :  object
130  :  Grade 2 Students - Hispanic - female [Public School] 2009-10  :  object
131  :  Grade 2 Students - Black - male [Public School] 2009-10  :  object
132  :  Grade 2 Students - Black - female [Public School] 2009-10  :  object
133  :  Grade 2 Students - White - male [Public School] 2009-10  :  object
134  :  Grade 2 Students - White - female [Public School] 2009-10  :  object
135  :  Grade 2 Students - Hawaiian Nat./Pacific Isl. - male [Public School] 2009-10  :  object
136  :  Grade 2 Students - Hawaiian Nat./Pacific Isl. - female [Public School] 2009-10  :  object
137  :  Grade 2 Students - Two or More Races - male [Public School] 2009-10  :  object
138  :  Grade 2 Students - Two or More Races - female [Public School] 2009-10  :  object
139  :  Grade 3 Students - American Indian/Alaska Native - male [Public School] 2009-10  :  object
140  :  Grade 3 Students - American Indian/Alaska Native - female [Public School] 2009-10  :  object
141  :  Grade 3 Students - Asian or Asian/Pacific Islander - male [Public School] 2009-10  :  object
142  :  Grade 3 Students - Asian or Asian/Pacific Islander - female [Public School] 2009-10  :  object
143  :  Grade 3 Students - Hispanic - male [Public School] 2009-10  :  object
144  :  Grade 3 Students - Hispanic - female [Public School] 2009-10  :  object
145  :  Grade 3 Students - Black - male [Public School] 2009-10  :  object
146  :  Grade 3 Students - Black - female [Public School] 2009-10  :  object
147  :  Grade 3 Students - White - male [Public School] 2009-10  :  object
148  :  Grade 3 Students - White - female [Public School] 2009-10  :  object
149  :  Grade 3 Students - Hawaiian Nat./Pacific Isl. - male [Public School] 2009-10  :  object
150  :  Grade 3 Students - Hawaiian Nat./Pacific Isl. - female [Public School] 2009-10  :  object
151  :  Grade 3 Students - Two or More Races - male [Public School] 2009-10  :  object
152  :  Grade 3 Students - Two or More Races - female [Public School] 2009-10  :  object
153  :  Grade 4 Students - American Indian/Alaska Native - male [Public School] 2009-10  :  object
154  :  Grade 4 Students - American Indian/Alaska Native - female [Public School] 2009-10  :  object
155  :  Grade 4 Students - Asian or Asian/Pacific Islander - male [Public School] 2009-10  :  object
156  :  Grade 4 Students - Asian or Asian/Pacific Islander - female [Public School] 2009-10  :  object
157  :  Grade 4  Students - Hispanic - male [Public School] 2009-10  :  object
158  :  Grade 4 Students - Hispanic - female [Public School] 2009-10  :  object
159  :  Grade 4 Students - Black - male [Public School] 2009-10  :  object
160  :  Grade 4 Students - Black - female [Public School] 2009-10  :  object
161  :  Grade 4 Students - White - male [Public School] 2009-10  :  object
162  :  Grade 4 Students - White - female [Public School] 2009-10  :  object
163  :  Grade 4 Students - Hawaiian Nat./Pacific Isl. - male [Public School] 2009-10  :  object
164  :  Grade 4 Students - Hawaiian Nat./Pacific Isl. - female [Public School] 2009-10  :  object
165  :  Grade 4 Students - Two or More Races - male [Public School] 2009-10  :  object
166  :  Grade 4 Students - Two or More Races - female [Public School] 2009-10  :  object
167  :  Grade 5 Students - American Indian/Alaska Native - male [Public School] 2009-10  :  object
168  :  Grade 5 Students - American Indian/Alaska Native - female [Public School] 2009-10  :  object
169  :  Grade 5 Students - Asian or Asian/Pacific Islander - male [Public School] 2009-10  :  object
170  :  Grade 5 Students - Asian or Asian/Pacific Islander - female [Public School] 2009-10  :  object
171  :  Grade 5 Students - Hispanic - male [Public School] 2009-10  :  object
172  :  Grade 5 Students - Hispanic - female [Public School] 2009-10  :  object
173  :  Grade 5 Students - Black - male [Public School] 2009-10  :  object
174  :  Grade 5 Students - Black - female [Public School] 2009-10  :  object
175  :  Grade 5 Students - White - male [Public School] 2009-10  :  object
176  :  Grade 5 Students - White - female [Public School] 2009-10  :  object
177  :  Grade 5 Students - Hawaiian Nat./Pacific Isl. - male [Public School] 2009-10  :  object
178  :  Grade 5 Students - Hawaiian Nat./Pacific Isl. - female [Public School] 2009-10  :  object
179  :  Grade 5 Students - Two or More Races - male [Public School] 2009-10  :  object
180  :  Grade 5 Students - Two or More Races - female [Public School] 2009-10  :  object
181  :  Grade 6 Students - American Indian/Alaska Native - male [Public School] 2009-10  :  object
182  :  Grade 6 Students - American Indian/Alaska Native - female [Public School] 2009-10  :  object
183  :  Grade 6 Students - Asian or Asian/Pacific Islander - male [Public School] 2009-10  :  object
184  :  Grade 6 Students - Asian or Asian/Pacific Islander - female [Public School] 2009-10  :  object
185  :  Grade 6 Students - Hispanic - male [Public School] 2009-10  :  object
186  :  Grade 6 Students - Hispanic - female [Public School] 2009-10  :  object
187  :  Grade 6 Students - Black - male [Public School] 2009-10  :  object
188  :  Grade 6 Students - Black - female [Public School] 2009-10  :  object
189  :  Grade 6 Students - White - male [Public School] 2009-10  :  object
190  :  Grade 6 Students - White - female [Public School] 2009-10  :  object
191  :  Grade 6 Students - Hawaiian Nat./Pacific Isl. - male [Public School] 2009-10  :  object
192  :  Grade 6 Students - Hawaiian Nat./Pacific Isl. - female [Public School] 2009-10  :  object
193  :  Grade 6  Students- Two or More Races - male [Public School] 2009-10  :  object
194  :  Grade 6 Students - Two or More Races - female [Public School] 2009-10  :  object
195  :  Grade 7 Students - American Indian/Alaska Native - male [Public School] 2009-10  :  object
196  :  Grade 7 Students - American Indian/Alaska Native - female [Public School] 2009-10  :  object
197  :  Grade 7 Students - Asian or Asian/Pacific Islander - male [Public School] 2009-10  :  object
198  :  Grade 7 Students - Asian or Asian/Pacific Islander - female [Public School] 2009-10  :  object
199  :  Grade 7 Students - Hispanic - male [Public School] 2009-10  :  object
200  :  Grade 7 Students - Hispanic - female [Public School] 2009-10  :  object
201  :  Grade 7 Students - Black - male [Public School] 2009-10  :  object
202  :  Grade 7 Students - Black - female [Public School] 2009-10  :  object
203  :  Grade 7 Students - White - male [Public School] 2009-10  :  object
204  :  Grade 7 Students - White - female [Public School] 2009-10  :  object
205  :  Grade 7 Students - Hawaiian Nat./Pacific Isl. - male [Public School] 2009-10  :  object
206  :  Grade 7 Students - Hawaiian Nat./Pacific Isl. - female [Public School] 2009-10  :  object
207  :  Grade 7 Students - Two or More Races - male [Public School] 2009-10  :  object
208  :  Grade 7 Students - Two or More Races - female [Public School] 2009-10  :  object
209  :  Grade 8 Students - American Indian/Alaska Native - male [Public School] 2009-10  :  object
210  :  Grade 8 Students - American Indian/Alaska Native - female [Public School] 2009-10  :  object
211  :  Grade 8 Students - Asian or Asian/Pacific Islander - male [Public School] 2009-10  :  object
212  :  Grade 8 Students - Asian or Asian/Pacific Islander - female [Public School] 2009-10  :  object
213  :  Grade 8  Students- Hispanic - male [Public School] 2009-10  :  object
214  :  Grade 8 Students - Hispanic - female [Public School] 2009-10  :  object
215  :  Grade 8 Students - Black - male [Public School] 2009-10  :  object
216  :  Grade 8 Students - Black - female [Public School] 2009-10  :  object
217  :  Grade 8 Students - White - male [Public School] 2009-10  :  object
218  :  Grade 8 Students - White - female [Public School] 2009-10  :  object
219  :  Grade 8 Students - Hawaiian Nat./Pacific Isl. - male [Public School] 2009-10  :  object
220  :  Grade 8 Students - Hawaiian Nat./Pacific Isl. - female [Public School] 2009-10  :  object
221  :  Grade 8 Students - Two or More Races - male [Public School] 2009-10  :  object
222  :  Grade 8 Students - Two or More Races - female [Public School] 2009-10  :  object
223  :  Grade 9 Students - American Indian/Alaska Native - male [Public School] 2009-10  :  object
224  :  Grade 9 Students - American Indian/Alaska Native - female [Public School] 2009-10  :  object
225  :  Grade 9 Students - Asian or Asian/Pacific Islander - male [Public School] 2009-10  :  object
226  :  Grade 9 Students - Asian or Asian/Pacific Islander - female [Public School] 2009-10  :  object
227  :  Grade 9 Students - Hispanic - male [Public School] 2009-10  :  object
228  :  Grade 9 Students - Hispanic - female [Public School] 2009-10  :  object
229  :  Grade 9 Students - Black - male [Public School] 2009-10  :  object
230  :  Grade 9 Students - Black - female [Public School] 2009-10  :  object
231  :  Grade 9 Students - White - male [Public School] 2009-10  :  object
232  :  Grade 9 Students - White - female [Public School] 2009-10  :  object
233  :  Grade 9 Students - Hawaiian Nat./Pacific Isl. - male [Public School] 2009-10  :  object
234  :  Grade 9 Students - Hawaiian Nat./Pacific Isl. - female [Public School] 2009-10  :  object
235  :  Grade 9 Students - Two or More Races - male [Public School] 2009-10  :  object
236  :  Grade 9 Students - Two or More Races - female [Public School] 2009-10  :  object
237  :  Grade 10 Students - American Indian/Alaska Native - male [Public School] 2009-10  :  object
238  :  Grade 10 Students - American Indian/Alaska Native - female [Public School] 2009-10  :  object
239  :  Grade 10 Students - Asian or Asian/Pacific Islander - male [Public School] 2009-10  :  object
240  :  Grade 10 Students - Asian or Asian/Pacific Islander - female [Public School] 2009-10  :  object
241  :  Grade 10 Students - Hispanic - male [Public School] 2009-10  :  object
242  :  Grade 10 Students - Hispanic - female [Public School] 2009-10  :  object
243  :  Grade 10 Students - Black - male [Public School] 2009-10  :  object
244  :  Grade 10 Students - Black - female [Public School] 2009-10  :  object
245  :  Grade 10 Students - White - male [Public School] 2009-10  :  object
246  :  Grade 10 Students - White - female [Public School] 2009-10  :  object
247  :  Grade 10 Students - Hawaiian Nat./Pacific Isl. - male [Public School] 2009-10  :  object
248  :  Grade 10 Students - Hawaiian Nat./Pacific Isl. - female [Public School] 2009-10  :  object
249  :  Grade 10 Students - Two or More Races - male [Public School] 2009-10  :  object

In [83]:
joineddistrict.to_csv("tempdata/districts2.csv")

In [117]:
sc_drdf = pd.read_csv("tempdata/school districts/districts_rc.csv") # districts.csv column [d]rop [r]ename
districtsdf = pd.read_csv("tempdata/districts2.csv")
districtsdf.head()

,Unnamed: 0,Agency Name,State Name [District] Latest available year,State Name [District] 2009-10,State Abbr [District] Latest available year,Agency Name [District] 2009-10,Agency ID - NCES Assigned [District] Latest available year,County Name [District] 2009-10,County Number [District] 2009-10,Race/Ethnicity Category [District] 2009-10,ANSI/FIPS State Code [District] Latest available year,Total Number Operational Schools [Public School] 2009-10,Total Number Operational Charter Schools [Public School] 2009-10,Total Number of Public Schools [Public School] 2009-10,Years District Reported Data [District] Latest available year,Years District Did Not Report Data [District] Latest available year,Location Address [District] 2013-14,Location City [District] 2013-14,Location State Abbr [District] 2013-14,Location ZIP [District] 2013-14,Location ZIP4 [District] 2013-14,Mailing Address [District] 2013-14,Mailing City [District] 2013-14,Mailing State Abbr [District] 2013-14,Mailing ZIP [District] 2013-14,Mailing ZIP4 [District] 2013-14,Phone Number [District] 2013-14,Agency Name_DEL,State Name [District] Latest available year_DEL,Agency Type [District] 2009-10,School District Level Code (SCHLEV) [District Finance] 2009-10,Urban-centric Locale [District] 2009-10,Boundary Change Indicator Flag [District] 2009-10,CBSA Name [District] 2009-10,CBSA ID [District] 2009-10,CSA Name [District] 2009-10,CSA ID [District] 2009-10,Latitude [District] 2009-10,Longitude [District] 2009-10,State Agency ID [District] 2009-10,Supervisory Union (ID) Number [District] 2009-10,Agency Charter Status [District] 2009-10,Metro Micro Area Code [District] 2009-10,Congressional Code [District] 2009-10,Census ID (CENSUSID) [District Finance] 2009-10,Lowest Grade Offered [District] 2009-10,Highest Grade Offered [District] 2009-10,Total Students (UG PK-12) [District] 2009-10,PK thru 12th Students [District] 2009-10,Ungraded Students [District] 2009-10,...,Total - School Admin.- Supp. Serv. Exp. (E09) [District Finance] 2009-10,Total - Student Transp.- Supp. Serv. Exp. (V45) [District Finance] 2009-10,Total - Students- Supp. Serv. Exp. (E17) [District Finance] 2009-10,Salary - Instruction Expenditures (Z33) [District Finance] 2009-10,Salary - Students- Supp. Serv. Exp. (V11) [District Finance] 2009-10,Salary - Instruct. Staff- Supp. Serv. Exp. (V13) [District Finance] 2009-10,Salary - General Admin.- Supp. Serv. Exp. (V15) [District Finance] 2009-10,Salary - School Admin.- Supp. Serv. Exp. (V17) [District Finance] 2009-10,Salary - Ops. & Mainten.- Supp. Serv. Exp. (V21) [District Finance] 2009-10,Salary - Student Transp.- Supp. Serv. Exp. (V23) [District Finance] 2009-10,Salary - Other Supp. Serv.- Supp. Serv. Exp. (V37) [District Finance] 2009-10,Salary - Food Services- Non-Instruction (V29) [District Finance] 2009-10,Employee Benefits - Instruction Expend. (V10) [District Finance] 2009-10,Empl. Benefits - Students- Supp. Serv. Exp. (V12) [District Finance] 2009-10,Empl. Benefits - Instruction- Supp. Serv. Exp. (V14) [District Finance] 2009-10,Empl. Benefits - Gen. Adm.- Supp. Serv. Exp. (V16) [District Finance] 2009-10,Empl. Benefits - Sch. Adm.- Supp. Serv. Exp. (V18) [District Finance] 2009-10,Empl. Benefits - Ops. & Maint.- Supp. Serv. Exp. (V22) [District Finance] 2009-10,Empl. Benefits - Student Trans.- Supp. Serv. Exp. (V24) [District Finance] 2009-10,Empl. Benefits - Other Supp Serv- Supp. Serv. Exp. (V38) [District Finance] 2009-10,Empl. Benefits - Food Services- Non-Instruction (V30) [District Finance] 2009-10,Empl. Benefits - Enterp. Oper.- Non-Instruction (V32) [District Finance] 2009-10,Current Spending - Private Schools (V91) [District Finance] 2009-10,Current Spending - Public Charter Schools (V92) [District Finance] 2009-10,Teacher Salaries - Regular Education Programs (Z35) [District Finance] 2009-10,Teacher Salaries - Special Education Programs (Z36) [District Finance] 2009-10,Teacher Salaries - Vocational Education Programs (Z37) [District Finance] 2009-10,Teacher Salaries - Other Education Programs (Z38) [District Finance] 2009-10,Textbooks for Instruction (V93) [District Finance] 2009-10,Community Services - Non El-Sec (V70) [District Finance] 2009-10,Adult Education - Non El-Sec (V75) [District Finance] 2009-10,Other Expenditures - Non El-Sec (V80) [District Finance] 2009-10,Construction - Capital Outlay (F12) [District Finance] 2009-10,Instructional Equipment - Capital Outlay (K09) [District Finance] 2009-10,Other Equipment - Capital Outlay (K10) [District Finance] 2009-10,Non-specified - Equipment Expenditures (K11) [District Finance] 2009-10,Land & Existing Structures - Capital Outlay (G15) [District Finance] 2009-10,Payments to Local Governments (M12) [District Finance] 2009-10,Payments to State Governments (L12) [District Finance] 2009-10,Interest on School System Indebtedness (I86) [District Finance] 2009-10,Payments to Other School Systems (Q11) [District Finance] 2009-10,SURVYEAR,FIPST,TOTD912,EBS912,DRP912,TOTDPL,AFGEB,AFGR,TOTOHC
0,0,100 LEGACY ACADEMY CHARTER SCHOOL,New Jersey,†,NJ,†,3400743,†,†,†,34,†,†,†,2010-2013,1986-2009,75 MORTON ST,NEWARK,NJ,07103,†,75 MORTON STREET,NEWARK,NJ,07103,†,9733178361,–,–,–,–,–,–,–,–,–,–,–,–,–,–,–,–,–,–,–,–,–,–,–,...,–,–,–,–,–,–,–,–,–,–,–,–,–,–,–,–,–,–,–,–,–,–,–,–,–,–,–,–,–,–,–,–,–,–,–,–,–,–,–,–,–,–,–,–,–,–,–,–,–,–
1,1,21ST CENTURY CHARTER SCH OF GARY,Indiana,Indiana,IN,21ST CENTURY CHARTER SCH OF GARY,1800046,MARION COUNTY,18097,Reported 5 categories,18,1,1,1,2004-2013,1986-2003,556 WASHINGTON ST,GARY,IN,46402,†,333 N PENNSYLVANIA SUITE 1000,INDIANAPOLIS,IN,46202,†,3175361027,21ST CENTURY CHARTER SCH OF GARY,Indiana,7-Charter school agency,03-Elementary/secondary school system,13-City: Small,1-No change since last report,Indianapolis IN,26900,Indianapolis-Anderson-Columbus IN,294,39.771949,-86.155184,9545,000,1-All associated schools are charter schools,1-Metropolitan Area,1807,†,Kindergarten,12th Grade,360,360,†,...,318000,9000,18000,1173000,"=""0""","=""0""","=""0""",315000,"=""0""","=""0""","=""0""","=""0""",12000,"=""0""","=""0""","=""0""","=""0""","=""0""","=""0""",358000,"=""0""","=""0""","=""0""","=""0""","=""0""","=""0""","=""0""","=""0""",77000,13000,13000,"=""0""",37000,86000,72000,146000,374000,"=""0""","=""0""","=""0""","=""0""",2009-10,18,–,100,–,13,43,30.2,–
2,2,21ST CENTURY CYBER CS,Pennsylvania,Pennsylvania,PA,21ST CENTURY CYBER CS,4200091,CHESTER COUNTY,42029,Reported 5 categories,42,1,1,1,2001-2013,1986-2000,805 SPRINGDALE DR,EXTON,PA,19341,3043,805 SPRINGDALE DR.,EXTON,PA,19341,3043,4848755400,21ST CENTURY CYBER CS,Pennsylvania,7-Charter school agency,03-Elementary/secondary school system,21-Suburb: Large,1-No change since last report,Philadelphia-Camden-Wilmington PA-NJ-DE-MD,37980,Philadelphia-Camden-Vineland PA-NJ-DE-MD,428,40.005030,-75.678564,124150002,000,1-All associated schools are charter schools,1-Metropolitan Area,4206,†,6th Grade,12th Grade,594,594,†,...,220000,"=""0""",337000,1652000,252000,224000,190000,174000,"=""0""","=""0""","=""0""","=""0""",644000,74000,61000,47000,38000,"=""0""","=""0""","=""0""","=""0""","=""0""",18000,"=""0""",1512000,140000,"=""0""","=""0""",236000,"=""0""","=""0""","=""0""","=""0""",317000,12000,"=""0""","=""0""","=""0""","=""0""","=""0""",24000,2009-10,42,33,483,6.8,102,77,100.0,–
3,3,21ST CENTURY PREPARATORY SCHOOL AGENCY,Wisconsin,Wisconsin,WI,21ST CENTURY PREPARATORY SCHOOL AGENCY,5500045,RACINE COUNTY,55101,Reported 5 categories,55,1,1,1,2002-2013,1986-2001,1220 MOUND AVE,RACINE,WI,53404,†,1220 MOUND AVE,RACINE,WI,53404,†,2625980026,21ST CENTURY PREPARATORY SCHOOL AGENCY,Wisconsin,7-Charter school agency,01-Elementary school system only,13-City: Small,1-No change since last report,Racine WI,39540,Milwaukee-Racine-Waukesha WI,376,42.729073,-87.797014,8110,000,1-All associated schools are charter schools,1-Metropolitan Area,5501,†,Prekindergarten,8th Grade,507,507,†,...,–,–,–,–,–,–,–,–,–,–,–,–,–,–,–,–,–,–,–,–,–,–,–,–,–,–,–,–,–,–,–,–,–,–,–,–,–,–,–,–,–,2009-10,55,–,–,–,–,–,–,–
4,4,4-WINDS ACADEMY INCORPORATED DBA 4-WINDS ACADEMY,Arizona,Arizona,AZ,4-WINDS ACADEMY INCORPORATED DBA 4-WINDS ACADEMY,400380,APACHE COUNTY,04001,Reported 5 categories,4,"=""0""","=""0""",1,2002-2013,1986-2001,725 EAST MAIN,SPRINGERVILLE,AZ,85938,†,P. O. BOX 1210,EAGAR,AZ,85925,†,9283331060,4-WINDS ACADEMY INCORPORATED DBA 4-WINDS ACADEMY,Arizona,7-Charter school agency,†,33-Town: Remote,6-Agency temporarily closed,†,†,†,†,34.132862,-109.276602,79998,†,1-All associated schools are charter schools,0-New England (NECTA) or not reported,0401,†,Kindergarten,8th Grade,†,†,†,...,†,†,†,†,†,†,†,†,†,†,†,†,†,†,†,†,†,†,†,†,†,†,†,†,†,†,†,†,†,†,†,†,†,†,†,†,†,†,†,†,†,2009-10,04,–,–,–,–,–,–,–

In [118]:
for index, row in sc_drdf.iterrows():
    current_colname = str(row['Raw Column Name'])
    new_colname     = str(row['New Column Name'])
    if new_colname == "drop":
        #print "Dropping : ", current_colname
        districtsdf.drop(current_colname, axis=1, inplace=True)
    else :
        #print "Renaming : ", current_colname, " --> ", new_colname
        districtsdf.rename(columns={current_colname : new_colname    }, inplace=True)

districtsdf.shape

(19023, 449)

In [130]:
# Replacing Missing Data / NA / Bad Quality data with NaN
# Ref : http://pandas.pydata.org/pandas-docs/version/0.15.2/missing_data.html

districtsdf = districtsdf.replace('\xe2\x80\x93', np.nan) # Replace "-" (Missing Data) with NaN
districtsdf = districtsdf.replace('\xe2\x80\xa0', np.nan) # Replace "†" (Not Applicable) with NaN
districtsdf = districtsdf.replace('\xe2\x80\xa1', np.nan) # Replace "‡" (Bad Quality) with NaN

In [131]:
joineddistrict.to_csv("tempdata/districts3.csv")

#END SECTION OF DO NOT RUN THESE AGAIN

In [30]:
districtsdf = pd.read_csv("tempdata/districts.csv")
districtsdf.head()

,Unnamed: 0,Agency Name,State Name [District] Latest available year,State Name [District] 2009-10,State Abbr [District] Latest available year,Agency Name [District] 2009-10,Agency ID - NCES Assigned [District] Latest available year,County Name [District] 2009-10,County Number [District] 2009-10,Race/Ethnicity Category [District] 2009-10,ANSI/FIPS State Code [District] Latest available year,Total Number Operational Schools [Public School] 2009-10,Total Number Operational Charter Schools [Public School] 2009-10,Total Number of Public Schools [Public School] 2009-10,Years District Reported Data [District] Latest available year,Years District Did Not Report Data [District] Latest available year,Location Address [District] 2013-14,Location City [District] 2013-14,Location State Abbr [District] 2013-14,Location ZIP [District] 2013-14,Location ZIP4 [District] 2013-14,Mailing Address [District] 2013-14,Mailing City [District] 2013-14,Mailing State Abbr [District] 2013-14,Mailing ZIP [District] 2013-14,Mailing ZIP4 [District] 2013-14,Phone Number [District] 2013-14,Agency Name_DEL,State Name [District] Latest available year_DEL,Agency Type [District] 2009-10,School District Level Code (SCHLEV) [District Finance] 2009-10,Urban-centric Locale [District] 2009-10,Boundary Change Indicator Flag [District] 2009-10,CBSA Name [District] 2009-10,CBSA ID [District] 2009-10,CSA Name [District] 2009-10,CSA ID [District] 2009-10,Latitude [District] 2009-10,Longitude [District] 2009-10,State Agency ID [District] 2009-10,Supervisory Union (ID) Number [District] 2009-10,Agency Charter Status [District] 2009-10,Metro Micro Area Code [District] 2009-10,Congressional Code [District] 2009-10,Census ID (CENSUSID) [District Finance] 2009-10,Lowest Grade Offered [District] 2009-10,Highest Grade Offered [District] 2009-10,Total Students (UG PK-12) [District] 2009-10,PK thru 12th Students [District] 2009-10,Ungraded Students [District] 2009-10,...,Total - School Admin.- Supp. Serv. Exp. (E09) [District Finance] 2009-10,Total - Student Transp.- Supp. Serv. Exp. (V45) [District Finance] 2009-10,Total - Students- Supp. Serv. Exp. (E17) [District Finance] 2009-10,Salary - Instruction Expenditures (Z33) [District Finance] 2009-10,Salary - Students- Supp. Serv. Exp. (V11) [District Finance] 2009-10,Salary - Instruct. Staff- Supp. Serv. Exp. (V13) [District Finance] 2009-10,Salary - General Admin.- Supp. Serv. Exp. (V15) [District Finance] 2009-10,Salary - School Admin.- Supp. Serv. Exp. (V17) [District Finance] 2009-10,Salary - Ops. & Mainten.- Supp. Serv. Exp. (V21) [District Finance] 2009-10,Salary - Student Transp.- Supp. Serv. Exp. (V23) [District Finance] 2009-10,Salary - Other Supp. Serv.- Supp. Serv. Exp. (V37) [District Finance] 2009-10,Salary - Food Services- Non-Instruction (V29) [District Finance] 2009-10,Employee Benefits - Instruction Expend. (V10) [District Finance] 2009-10,Empl. Benefits - Students- Supp. Serv. Exp. (V12) [District Finance] 2009-10,Empl. Benefits - Instruction- Supp. Serv. Exp. (V14) [District Finance] 2009-10,Empl. Benefits - Gen. Adm.- Supp. Serv. Exp. (V16) [District Finance] 2009-10,Empl. Benefits - Sch. Adm.- Supp. Serv. Exp. (V18) [District Finance] 2009-10,Empl. Benefits - Ops. & Maint.- Supp. Serv. Exp. (V22) [District Finance] 2009-10,Empl. Benefits - Student Trans.- Supp. Serv. Exp. (V24) [District Finance] 2009-10,Empl. Benefits - Other Supp Serv- Supp. Serv. Exp. (V38) [District Finance] 2009-10,Empl. Benefits - Food Services- Non-Instruction (V30) [District Finance] 2009-10,Empl. Benefits - Enterp. Oper.- Non-Instruction (V32) [District Finance] 2009-10,Current Spending - Private Schools (V91) [District Finance] 2009-10,Current Spending - Public Charter Schools (V92) [District Finance] 2009-10,Teacher Salaries - Regular Education Programs (Z35) [District Finance] 2009-10,Teacher Salaries - Special Education Programs (Z36) [District Finance] 2009-10,Teacher Salaries - Vocational Education Programs (Z37) [District Finance] 2009-10,Teacher Salaries - Other Education Programs (Z38) [District Finance] 2009-10,Textbooks for Instruction (V93) [District Finance] 2009-10,Community Services - Non El-Sec (V70) [District Finance] 2009-10,Adult Education - Non El-Sec (V75) [District Finance] 2009-10,Other Expenditures - Non El-Sec (V80) [District Finance] 2009-10,Construction - Capital Outlay (F12) [District Finance] 2009-10,Instructional Equipment - Capital Outlay (K09) [District Finance] 2009-10,Other Equipment - Capital Outlay (K10) [District Finance] 2009-10,Non-specified - Equipment Expenditures (K11) [District Finance] 2009-10,Land & Existing Structures - Capital Outlay (G15) [District Finance] 2009-10,Payments to Local Governments (M12) [District Finance] 2009-10,Payments to State Governments (L12) [District Finance] 2009-10,Interest on School System Indebtedness (I86) [District Finance] 2009-10,Payments to Other School Systems (Q11) [District Finance] 2009-10,SURVYEAR,FIPST,TOTD912,EBS912,DRP912,TOTDPL,AFGEB,AFGR,TOTOHC
0,0,100 LEGACY ACADEMY CHARTER SCHOOL,New Jersey,†,NJ,†,3400743,†,†,†,34,†,†,†,2010-2013,1986-2009,75 MORTON ST,NEWARK,NJ,07103,†,75 MORTON STREET,NEWARK,NJ,07103,†,9733178361,–,–,–,–,–,–,–,–,–,–,–,–,–,–,–,–,–,–,–,–,–,–,–,...,–,–,–,–,–,–,–,–,–,–,–,–,–,–,–,–,–,–,–,–,–,–,–,–,–,–,–,–,–,–,–,–,–,–,–,–,–,–,–,–,–,–,–,–,–,–,–,–,–,–
1,1,21ST CENTURY CHARTER SCH OF GARY,Indiana,Indiana,IN,21ST CENTURY CHARTER SCH OF GARY,1800046,MARION COUNTY,18097,Reported 5 categories,18,1,1,1,2004-2013,1986-2003,556 WASHINGTON ST,GARY,IN,46402,†,333 N PENNSYLVANIA SUITE 1000,INDIANAPOLIS,IN,46202,†,3175361027,21ST CENTURY CHARTER SCH OF GARY,Indiana,7-Charter school agency,03-Elementary/secondary school system,13-City: Small,1-No change since last report,Indianapolis IN,26900,Indianapolis-Anderson-Columbus IN,294,39.771949,-86.155184,9545,000,1-All associated schools are charter schools,1-Metropolitan Area,1807,†,Kindergarten,12th Grade,360,360,†,...,318000,9000,18000,1173000,"=""0""","=""0""","=""0""",315000,"=""0""","=""0""","=""0""","=""0""",12000,"=""0""","=""0""","=""0""","=""0""","=""0""","=""0""",358000,"=""0""","=""0""","=""0""","=""0""","=""0""","=""0""","=""0""","=""0""",77000,13000,13000,"=""0""",37000,86000,72000,146000,374000,"=""0""","=""0""","=""0""","=""0""",2009-10,18,-3,100,-3.0,13,43,30.2,-2
2,2,21ST CENTURY CYBER CS,Pennsylvania,Pennsylvania,PA,21ST CENTURY CYBER CS,4200091,CHESTER COUNTY,42029,Reported 5 categories,42,1,1,1,2001-2013,1986-2000,805 SPRINGDALE DR,EXTON,PA,19341,3043,805 SPRINGDALE DR.,EXTON,PA,19341,3043,4848755400,21ST CENTURY CYBER CS,Pennsylvania,7-Charter school agency,03-Elementary/secondary school system,21-Suburb: Large,1-No change since last report,Philadelphia-Camden-Wilmington PA-NJ-DE-MD,37980,Philadelphia-Camden-Vineland PA-NJ-DE-MD,428,40.005030,-75.678564,124150002,000,1-All associated schools are charter schools,1-Metropolitan Area,4206,†,6th Grade,12th Grade,594,594,†,...,220000,"=""0""",337000,1652000,252000,224000,190000,174000,"=""0""","=""0""","=""0""","=""0""",644000,74000,61000,47000,38000,"=""0""","=""0""","=""0""","=""0""","=""0""",18000,"=""0""",1512000,140000,"=""0""","=""0""",236000,"=""0""","=""0""","=""0""","=""0""",317000,12000,"=""0""","=""0""","=""0""","=""0""","=""0""",24000,2009-10,42,33,483,6.8,102,77,100.0,-2
3,3,21ST CENTURY PREPARATORY SCHOOL AGENCY,Wisconsin,Wisconsin,WI,21ST CENTURY PREPARATORY SCHOOL AGENCY,5500045,RACINE COUNTY,55101,Reported 5 categories,55,1,1,1,2002-2013,1986-2001,1220 MOUND AVE,RACINE,WI,53404,†,1220 MOUND AVE,RACINE,WI,53404,†,2625980026,21ST CENTURY PREPARATORY SCHOOL AGENCY,Wisconsin,7-Charter school agency,01-Elementary school system only,13-City: Small,1-No change since last report,Racine WI,39540,Milwaukee-Racine-Waukesha WI,376,42.729073,-87.797014,8110,000,1-All associated schools are charter schools,1-Metropolitan Area,5501,†,Prekindergarten,8th Grade,507,507,†,...,–,–,–,–,–,–,–,–,–,–,–,–,–,–,–,–,–,–,–,–,–,–,–,–,–,–,–,–,–,–,–,–,–,–,–,–,–,–,–,–,–,2009-10,55,-2,-2,-2.0,-2,-2,-2.0,-2
4,4,4-WINDS ACADEMY INCORPORATED DBA 4-WINDS ACADEMY,Arizona,Arizona,AZ,4-WINDS ACADEMY INCORPORATED DBA 4-WINDS ACADEMY,400380,APACHE COUNTY,04001,Reported 5 categories,4,"=""0""","=""0""",1,2002-2013,1986-2001,725 EAST MAIN,SPRINGERVILLE,AZ,85938,†,P. O. BOX 1210,EAGAR,AZ,85925,†,9283331060,4-WINDS ACADEMY INCORPORATED DBA 4-WINDS ACADEMY,Arizona,7-Charter school agency,†,33-Town: Remote,6-Agency temporarily closed,†,†,†,†,34.132862,-109.276602,79998,†,1-All associated schools are charter schools,0-New England (NECTA) or not reported,0401,†,Kindergarten,8th Grade,†,†,†,...,†,†,†,†,†,†,†,†,†,†,†,†,†,†,†,†,†,†,†,†,†,†,†,†,†,†,†,†,†,†,†,†,†,†,†,†,†,†,†,†,†,2009-10,04,-2,-2,-2.0,-2,-2,-2.0,-2

In [31]:
districtsdf.columns

Index([u'Unnamed: 0', u'Agency Name', u'State Name [District] Latest available year', u'State Name [District] 2009-10', u'State Abbr [District] Latest available year', u'Agency Name [District] 2009-10', u'Agency ID - NCES Assigned [District] Latest available year', u'County Name [District] 2009-10', u'County Number [District] 2009-10', u'Race/Ethnicity Category [District] 2009-10',
       ...
       u'Payments to Other School Systems (Q11) [District Finance] 2009-10', u'SURVYEAR', u'FIPST', u'TOTD912', u'EBS912', u'DRP912', u'TOTDPL', u'AFGEB', u'AFGR', u'TOTOHC'],
      dtype='object', length=473)

#Exported to excel to fix header names and remove duplicates and extra columns... reloaded as districts_cleaned.csv

In [6]:
districtsdf = pd.read_csv("tempdata/districts_cleaned.csv")
print districtsdf.shape
districtsdf.head()

(17537, 342)

,rownum,agency,state,state_abbr,agency_name,agency_id_nces,county,num_schools,num_charter_schools,num_pub_schools,city,zipcode,agency_type,district_level_code,location_type,cbsa_id,latitude,longitude,agency_id_state,charter_status,congressional_code,offered_g_lowest,offered_g_highest,students_ug,total_students,lep,ieps,lunch_free_eligible,lunch_reduced_eligible,lunch_total_free_and_reduced,students_pk_k,students_g1_g8,students_g9_g12,students_pk,students_k,students_g1,students_g2,students_g3,students_g4,students_g5,students_g6,students_g7,students_g8,students_g9,students_g10,students_g11,students_g12,students_ug.1,students_m,students_f,...,fall_membership,totalrev,tlocrev,tsrev,tfedrev,tcurelsc,tcurinst,tcurssvc,tcuroth,tcursalary,tcurbenefits,totalexp,tcapout,tnonelse,arra_rev,arra_exp,arra_capout,totalrev_pp,tlocrev_pp,tsrev_pp,tfedrev_pp,tcurinst_pp,tcurssv_pp,tcuroth_pp,tcursalary_pp,tcurbenefits_pp,totalexp_pp,tcapout_pp,tnonelse_pp,tcurelsc_pp,instexp_pp,tcurelsc_percent,tcurinst_percent,tcuroth_percent,tcurelsc_percent.1,tcurssvc_percent,tfedrev_percent,tlocrev_percent,tsrev_percent,bond_funds,other_funds,survyear,fipst,totd912,ebs912,drp912,totdpl,afgeb,afgr,totohc
0,1,21ST CENTURY CHARTER SCH OF GARY,Indiana,IN,21ST CENTURY CHARTER SCH OF GARY,1800046,MARION COUNTY,1,1,1,GARY,46402,7-Charter school agency,03-Elementary/secondary school system,13-City: Small,26900,39.771949,-86.155184,9545,1-All associated schools are charter schools,1807,Kindergarten,12th Grade,NaN,360,0,28,304,18,322,30,230,100,NaN,30,30,30,30,27,23,27,31,32,31,29,25,15,NaN,186,172,...,360,4000000,128000,2853000,1019000,3290000,1435000,1698000,157000,1488000,370000,4031000,715000,26000,178000,426000,171000,11111,356,7925,2831,3986,4717,436,4133,1028,11197,1986,72,9139,3986,11.2,43.6,4.8,45.2,51.6,25.5,3.2,71.3,0,174000,2009-10,18,-3,100,-3.0,13,43,30.2,-2
1,2,21ST CENTURY CYBER CS,Pennsylvania,PA,21ST CENTURY CYBER CS,4200091,CHESTER COUNTY,1,1,1,EXTON,19341,7-Charter school agency,03-Elementary/secondary school system,21-Suburb: Large,37980,40.005030,-75.678564,124150002,1-All associated schools are charter schools,4206,6th Grade,12th Grade,NaN,594,0,37,111,84,195,0,111,483,NaN,NaN,NaN,NaN,NaN,NaN,NaN,19,32,60,114,122,138,109,NaN,231,355,...,594,6271000,6109000,162000,0,4816000,3032000,1784000,0,2494000,865000,5187000,329000,0,0,2000,0,10557,10285,273,0,5104,3003,0,4199,1456,8732,554,0,8108,5104,18.0,63.0,0.0,51.8,37.0,0.0,97.4,2.6,0,2132000,2009-10,42,33,483,6.8,102,77,100.0,-2
2,3,21ST CENTURY PREPARATORY SCHOOL AGENCY,Wisconsin,WI,21ST CENTURY PREPARATORY SCHOOL AGENCY,5500045,RACINE COUNTY,1,1,1,RACINE,53404,7-Charter school agency,01-Elementary school system only,13-City: Small,39540,42.729073,-87.797014,8110,1-All associated schools are charter schools,5501,Prekindergarten,8th Grade,NaN,507,35,45,255,35,290,111,396,0,59,52,53,56,51,47,57,45,46,41,NaN,NaN,NaN,NaN,NaN,231,276,...,507,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2009-10,55,-2,-2,-2.0,-2,-2,-2.0,-2
3,5,A CENTER FOR CREATIVE EDUCATION,Arizona,AZ,CENTER FOR CREATIVE EDUCATION INC,400328,YAVAPAI COUNTY,2,2,2,COTTONWOOD,86326,7-Charter school agency,01-Elementary school system only,32-Town: Distant,39140,34.735242,-112.009497,79457,1-All associated schools are charter schools,401,Kindergarten,6th Grade,0,83,0,10,22,12,34,31,52,0,NaN,31,13,5,7,9,8,10,NaN,NaN,NaN,NaN,NaN,NaN,0,49,34,...,83,595000,42000,418000,135000,522000,287000,235000,0,265000,24000,541000,0,19000,0,123000,0,7169,506,5036,1627,3458,2831,0,3193,289,6518,0,229,6289,3458,4.6,55.0,0.0,50.8,45.0,22.7,7.1,70.3,0,0,2009-10,4,-2,-2,-2.0,-2,-2,-2.0,-2
4,6,A CHILD'S VIEW SCHOOL INC.,Arizona,AZ,A CHILD'S VIEW SCHOOL INC.,400431,PIMA COUNTY,1,1,1,TUCSON,85746,7-Charter school agency,01-Elementary school system only,21-Suburb: Large,46060,32.149179,-111.027203,87344,1-All associated schools are charter schools,407,Kindergarten,5th Grade,NaN,58,0,7,NaN,NaN,NaN,10,48,0,NaN,10,10,10,8,12,8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,22,36,...,58,409000,2000,407000,0,379000,248000,131000,0,253000,23000,379000,0,0,0,0,0,7052,34,7017,0,4276,2259,0,4362,397,6534,0,0,6534,4276,6.1,65.4,0.0,66.8,34.6,0.0,0.5,99.5,0,0,2009-10,4,-2,-2,-2.0,-2,-2,-2.0,-2

In [13]:
print districtsdf.totalexp_pp.isnull().sum()
districtsdf.totalexp_pp.count()

1931

15606

In [93]:
districtsdf_gr=districtsdf[districtsdf['afgr']>0]
print districtsdf_gr.shape
districtsdf_gr.head()

(10903, 342)

,rownum,agency,state,state_abbr,agency_name,agency_id_nces,county,num_schools,num_charter_schools,num_pub_schools,city,zipcode,agency_type,district_level_code,location_type,cbsa_id,latitude,longitude,agency_id_state,charter_status,congressional_code,offered_g_lowest,offered_g_highest,students_ug,total_students,lep,ieps,lunch_free_eligible,lunch_reduced_eligible,lunch_total_free_and_reduced,students_pk_k,students_g1_g8,students_g9_g12,students_pk,students_k,students_g1,students_g2,students_g3,students_g4,students_g5,students_g6,students_g7,students_g8,students_g9,students_g10,students_g11,students_g12,students_ug.1,students_m,students_f,...,fall_membership,totalrev,tlocrev,tsrev,tfedrev,tcurelsc,tcurinst,tcurssvc,tcuroth,tcursalary,tcurbenefits,totalexp,tcapout,tnonelse,arra_rev,arra_exp,arra_capout,totalrev_pp,tlocrev_pp,tsrev_pp,tfedrev_pp,tcurinst_pp,tcurssv_pp,tcuroth_pp,tcursalary_pp,tcurbenefits_pp,totalexp_pp,tcapout_pp,tnonelse_pp,tcurelsc_pp,instexp_pp,tcurelsc_percent,tcurinst_percent,tcuroth_percent,tcurelsc_percent.1,tcurssvc_percent,tfedrev_percent,tlocrev_percent,tsrev_percent,bond_funds,other_funds,survyear,fipst,totd912,ebs912,drp912,totdpl,afgeb,afgr,totohc
0,1,21ST CENTURY CHARTER SCH OF GARY,Indiana,IN,21ST CENTURY CHARTER SCH OF GARY,1800046,MARION COUNTY,1,1,1,GARY,46402,7-Charter school agency,03-Elementary/secondary school system,13-City: Small,26900,39.771949,-86.155184,9545,1-All associated schools are charter schools,1807,Kindergarten,12th Grade,NaN,360,0,28,304,18,322,30,230,100,NaN,30,30,30,30,27,23,27,31,32,31,29,25,15,NaN,186,172,...,360,4000000,128000,2853000,1019000,3290000,1435000,1698000,157000,1488000,370000,4031000,715000,26000,178000,426000,171000,11111,356,7925,2831,3986,4717,436,4133,1028,11197,1986,72,9139,3986,11.2,43.6,4.8,45.2,51.6,25.5,3.2,71.3,0,174000,2009-10,18,-3,100,-3.0,13,43,30.2,-2
1,2,21ST CENTURY CYBER CS,Pennsylvania,PA,21ST CENTURY CYBER CS,4200091,CHESTER COUNTY,1,1,1,EXTON,19341,7-Charter school agency,03-Elementary/secondary school system,21-Suburb: Large,37980,40.005030,-75.678564,124150002,1-All associated schools are charter schools,4206,6th Grade,12th Grade,NaN,594,0,37,111,84,195,0,111,483,NaN,NaN,NaN,NaN,NaN,NaN,NaN,19,32,60,114,122,138,109,NaN,231,355,...,594,6271000,6109000,162000,0,4816000,3032000,1784000,0,2494000,865000,5187000,329000,0,0,2000,0,10557,10285,273,0,5104,3003,0,4199,1456,8732,554,0,8108,5104,18.0,63.0,0.0,51.8,37.0,0.0,97.4,2.6,0,2132000,2009-10,42,33,483,6.8,102,77,100.0,-2
8,10,A+ ACADEMY,Texas,TX,A+ ACADEMY,4800203,DALLAS COUNTY,1,1,1,DALLAS,75217,7-Charter school agency,03-Elementary/secondary school system,11-City: Large,19100,32.767535,-96.660866,57829,1-All associated schools are charter schools,4830,Prekindergarten,12th Grade,NaN,1033,285,63,834,106,940,196,609,228,120,76,68,79,75,63,74,72,86,92,79,45,61,43,NaN,478,555,...,1033,11379000,70000,9466000,1843000,9123000,5051000,3616000,456000,5979000,493000,9156000,0,1000,94000,501000,0,11015,68,9164,1784,4890,3500,441,5788,477,8864,0,1,8832,4890,5.4,55.4,5.0,65.5,39.6,16.2,0.6,83.2,0,2884000,2009-10,48,-3,228,-3.0,39,70,55.7,-2
10,13,A-C CENTRAL CUSD 262,Illinois,IL,A-C CENTRAL CUSD 262,1700105,CASS COUNTY,3,0,3,ASHLAND,62612,1-Local school district,03-Elementary/secondary school system,42-Rural: Distant,NaN,39.892187,-90.016057,46-009-2620-26,3-All associated schools are noncharter,1718,Kindergarten,12th Grade,NaN,432,0,70,107,65,172,29,273,130,1,28,38,34,37,32,27,39,36,30,28,41,31,30,NaN,196,236,...,436,4956000,1907000,2219000,830000,4345000,2108000,2020000,217000,2503000,921000,5755000,961000,0,27000,391000,22000,11367,4374,5089,1904,4835,4633,498,5741,2112,13200,2204,0,9966,4835,21.2,48.5,5.0,57.6,46.5,16.7,38.5,44.8,0,2734000,2009-10,17,-3,130,-3.0,29,41,70.7,0
11,14,A-H-S-T COMM SCHOOL DISTRICT,Iowa,IA,A-H-S-T COMM SCHOOL DISTRICT,1904080,POTTAWATTAMIE COUNTY,2,0,2,AVOCA,51521,1-Local school district,03-Elementary/secondary school system,43-Rural: Remote,36540,41.471017,-95.341001,780441 000,3-All associated schools are noncharter,1905,Prekindergarten,12th Grade,NaN,595,0,93,146,59,205,87,340,168,51,36,35,39,39,50,53,46,40,38,40,43,38,47,NaN,287,308,...,696,7460000,3921000,2798000,741000,5139000,3441000,1464000,234000,3273000,1001000,8064000,1927000,0,7000,409000,0,10718,5634,4020,1065,4944,2103,336,4703,1438,11586,2769,0,7384,4944,19.5,67.0,4.6,63.7,28.5,9.9,52.6,37.5,0,2330000,2009-10,19,-3,168,-3.0,45,47,95.7,0

In [161]:
from scipy.stats.stats import pearsonr
corr_df=[]
corr_fields=[]
for column in districtsdf_gr:
    if(districtsdf_gr[column].dtype == np.float64 or districtsdf_gr[column].dtype == np.int64):
        corr_fields.append(column)
        
print corr_fields[320:]

for i in corr_fields[320:]:   
    for column in districtsdf_gr:
        if(districtsdf_gr[column].dtype == np.float64 or districtsdf_gr[column].dtype == np.int64):
            corr_districtsdf_gr=districtsdf_gr[np.isfinite(districtsdf_gr[column])]
            corr_df.append((column,i,pearsonr(corr_districtsdf_gr[column],corr_districtsdf_gr[i])[0],len(corr_districtsdf_gr)))

['fipst', 'totd912', 'ebs912', 'drp912', 'totdpl', 'afgeb', 'afgr', 'totohc']

In [162]:
corr_data=pd.DataFrame(corr_df)
corr_data.columns=('corrfield1','corrfield2','pearsoncorr','rowcount')
corr_data_filter=(corr_data[corr_data.pearsoncorr >= .80])
corr_data_filter.sort(['pearsoncorr'],ascending=False)

               corrfield1 corrfield2  pearsoncorr  rowcount
2623               totohc     totohc     1.000000     10903
978                ebs912     ebs912     1.000000     10903
320                 fipst      fipst     1.000000     10903
2294                 afgr       afgr     1.000000     10903
649               totd912    totd912     1.000000     10903
1965                afgeb      afgeb     1.000000     10903
1636               totdpl     totdpl     1.000000     10903
1307               drp912     drp912     1.000000     10903
1          agency_id_nces      fipst     0.999947     10903
9      congressional_code      fipst     0.999937     10903
1962               ebs912      afgeb     0.995181     10903
981                 afgeb     ebs912     0.995181     10903
675       students_g9_g12     ebs912     0.993826     10901
1634               ebs912     totdpl     0.993458     10903
980                totdpl     ebs912     0.993458     10903
687          students_g10     ebs912     0.992523     10861
688          students_g11     ebs912     0.992375     10861
1671         students_g10      afgeb     0.991288     10861
1659      students_g9_g12      afgeb     0.991082     10901
1670          students_g9      afgeb     0.991008     10861
686           students_g9     ebs912     0.990452     10861
1919      fall_membership      afgeb     0.989485     10832
1676           students_f      afgeb     0.988509     10841
935       fall_membership     ebs912     0.988495     10832
1345         students_g12     totdpl     0.988462     10861
1651       total_students      afgeb     0.988447     10887
1684           total_race      afgeb     0.988395     10874
1675           students_m      afgeb     0.988174     10874
1331      students_g9_g12     totdpl     0.987634     10901
1344         students_g11     totdpl     0.987343     10861
...                   ...        ...          ...       ...
789                g5_h_m     ebs912     0.831055     10692
720                 k_h_f     ebs912     0.830941     10642
790                g5_h_f     ebs912     0.830880     10692
887               g12_h_m     ebs912     0.830814     10859
804                g6_h_f     ebs912     0.829835     10735
860               g10_h_f     ebs912     0.829745     10860
874               g11_h_f     ebs912     0.827789     10859
1829               g9_h_m      afgeb     0.827368     10858
873               g11_h_m     ebs912     0.827201     10859
1917     support_services      afgeb     0.826371     10821
933      support_services     ebs912     0.824888     10821
846                g9_h_f     ebs912     0.824483     10858
949              arra_rev     ebs912     0.823626     10784
1931              tcapout      afgeb     0.823315     10784
1589     support_services     totdpl     0.819871     10821
845                g9_h_m     ebs912     0.819171     10858
947               tcapout     ebs912     0.817852     10784
1390               g1_h_f     totdpl     0.804866     10658
1389               g1_h_m     totdpl     0.804008     10658
1324                  lep     totdpl     0.803858     10902
1544              g12_h_f     totdpl     0.803736     10859
1417               g3_h_m     totdpl     0.803380     10666
1859              g11_b_m      afgeb     0.802293     10859
1418               g3_h_f     totdpl     0.802113     10666
1543              g12_h_m     totdpl     0.801918     10859
1351           students_h     totdpl     0.801841     10874
1404               g2_h_f     totdpl     0.801704     10659
342   lunch_free_eligible    totd912     0.801404     10631
1403               g2_h_m     totdpl     0.800392     10659
1473               g7_h_m     totdpl     0.800272     10820

[251 rows x 4 columns]